<?php 
/**
 * @var $this Mage_Catalog_Block_Product_View_Abstract 
 */

$_product = $this->getProduct()
?>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="<?= Mage::app()->getStore()->getCurrentCurrencyCode();?>" />
    <?php if ($this->displayProductStockStatus()): ?>
        <?php if ($_product->isAvailable()): ?>
            <p class="availability in-stock">
                <link itemprop="availability" href="http://schema.org/InStock">
                <?= $this->__('Availability:') ?> <span><?= $this->__('In stock') ?></span>
            </p>
        <?php else: ?>
            <p class="availability out-of-stock">
                <link itemprop="availability" href="http://schema.org/OutOfStock">
                <?= $this->__('Availability:') ?> <span><?= $this->__('Out of stock') ?></span>
            </p>
        <?php endif; ?>
    <?php endif; ?>
    <?= $this->getChildHtml('product_type_data_extra') ?>
</div>
