<?php
/**
 * @var $this Mage_Catalog_Block_Product_List_Related
 * @var $items Mage_Catalog_Model_Resource_Product_Link_Product_Collection
 * @var $product Mage_Catalog_Model_Product
 */

$items = $this->getItems();
?>
<?php if($items->count()): ?>
<div class="block block-related">
    <div class="block-title">
        <h2><?= $this->__('Related Products') ?></h2>
    </div>
    <div class="block-content">
        <div class="flexslider carousel">
            <ul class="slides" data-slick='<?= $this->getData('slick_config')?>'>
            <?php foreach($items as $_item): ?>
                <li class="newproductslider-item">
                    <div class="item-inner">
                        <a href="<?= $_item->getProductUrl() ?>" title="<?= $this->escapeHtml($_item->getName()) ?>" class="product-image">
                            <img src="<?= $this->helper('catalog/image')->init($_item, 'small_image')->resize(261, 348) ?>" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" />
                        </a>
                        <h2 class="product-name">
                            <a href="<?= $_item->getProductUrl() ?>"><?= $this->htmlEscape($_item->getName()) ?></a>
                        </h2>
                        <?= $this->getReviewsSummaryHtml($_item, 'short', true) ?>
                        <?= $this->getPriceHtml($_item, true) ?>
                    </div>
                </li>
            <?php endforeach ?>
            </ul>
        </div>
        <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
    </div>
    <script type="text/javascript">
    //<![CDATA[
    $$('.related-checkbox').each(function(elem){
        Event.observe(elem, 'click', addRelatedToProduct)
    });

    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){
        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML="<?php echo $this->__('unselect all') ?>";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML="<?php echo $this->__('select all') ?>";
        }
        addRelatedToProduct();
    }

    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    }
    //]]>
    </script>
</div>
<?php endif ?>
