<?php
/**
 * @var $this Magestore_Productfile_Block_Productfile
 */
?>
<?php if ($this->getProductFiles()): ?>
    <div class="product-file">
        <h2 class="title"><?= $this->__('File downloads') ?></h2>
        <?php foreach ($this->getProductFiles() as $file): ?>
            <div class="productfile_all_div">
                <table>
                    <tr>
                        <td>
                            <img src=<?= $this->getIcon($file) ?> />
                            <?php if($this->isPdf($file) || $this->isWord($file)): ?>
                                <a id="productfile_all_div_<?= $file->getId() ?>" target="_blank" href="<?= $this->getDownloadUrl($file)?>" title="<?= $file->getContent()?>">
                                    <?= $file->getTitle()?>
                                </a>
                            <?php else: ?>
                                <a id="productfile_all_div_<?= $file->getId() ?>" target="_blank" href="<?= $this->getDownloadUrl($file)?> ">
                                    <?= $file->getTitle()?>
                                </a>
                            <?php endif; ?>
                            <?= $this->getDisplaySize($file)?>
                        </td>
                        <td>
                            <a class="download" target="_blank" href="<?= $this->getDownloadUrl($file)?>" title="<?= $this->__('Click here to download') ?>">
                                <?= $this->__('Download');?> &raquo;
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        <?php if ($file->getContent()): ?>
            <div id="productfile_all_tooltip_<?= $file->getId() ?>" class="productfile_tooltip productfile_protoClassic">
                <div class="productfile_toolbar">
                    <div class="title">
                        <?= $this->__('Description');?>
                    </div>
                </div>
                <div class="content">
                    <?= $file->getContent(); ?>
                </div>
            </div>
            <script type="text/javascript">
                new Tooltip('productfile_all_div_<?= $file->getId() ?>', 'productfile_all_tooltip_<?= $file->getId() ?>');
            </script>
        <?php endif; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
