<?php
/**
 * @var $this Mage_Catalog_Block_Product_View_Type_Configurable
 * @var $attributes Mage_Catalog_Model_Product_Type_Configurable_Attribute[]
 */

$_product    = $this->getProduct();
$attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($attributes)):?>
    <dl>
        <?php foreach($attributes as $attribute): ?>
            <dt>
                <?= $this->getChildHtml("{$this->getNameInLayout()}.{$attribute->getProductAttribute()->getAttributeCode()}.before")?>
                <label class="required"><em>*</em><?php echo $attribute->getLabel() ?></label>
            </dt>
            <dd<?php if ($attribute->decoratedIsLast){?> class="last"<?php }?>>
                <div class="input-box">
                    <select name="super_attribute[<?php echo $attribute->getAttributeId() ?>]" id="attribute<?php echo $attribute->getAttributeId() ?>" disabled="disabled" class="super-attribute-select">
                        <option><?php echo $this->__('Choose an Option...') ?></option>
                    </select>
                </div>
                <?= $this->getChildHtml("{$this->getNameInLayout()}.{$attribute->getProductAttribute()->getAttributeCode()}.after")?>
            </dd>
        <?php endforeach; ?>
    </dl>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            window.spConfig = new Product.Config(<?= Mage::helper('onecashmere_catalog/configurable')->extendConfigurableJson($this->getJsonConfig()) ?>);
        });
    </script>
<?php endif;?>
