<script type="text/javascript">
    $jq(document).ready(function(){
         var enable_module = $jq('#enable_module').val();
         if(enable_module==0) return false;
    })

</script>
<?php $_cartQty = $this->getSummaryCount() ?>
<div id ="mini_cart_block">
    <div data-retina="true" class="icon-cart-big"><a class="cart-url" href="<?php echo $this->getUrl('checkout/cart'); ?>"><span><?php echo $_cartQty; ?></span></a></div>
    <div class="block-cart mini_cart_ajax">
            <div class="block-cart">
                <?php $_cartQty = $this->getSummaryCount() ?>
        <!--<span class="top-cart-icon"></span>-->
            <span class="top-cart-title">
                <!--<span>Shopping Cart</span><br/>-->
                <?php echo $this->__('My Cart') ?>: <?php //echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
            </span>
                
                <div class="top-cart-content">
                    <span class="cart-arrow"></span>
                    <div class="subtotal">
                        <div class="l">
                            <?php echo $this->__('My Cart') ?> (<?php echo $_cartQty; ?> <?php echo $this->__('Items') ?>)
                        </div>
                        <div class="r">
                            <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                        </div>                        
                    </div>
                    <?php $_items = $this->getRecentItems() ?>
                    <?php if (count($_items)): ?>
                        <ol id="cart-sidebar" class="mini-products-list">
                            <?php foreach ($_items as $_item): ?>
                                <?php echo $this->getItemHtml($_item) ?>
                            <?php endforeach; ?>
                        </ol>
                        <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
                    <?php else: ?>
                        <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
                    <?php endif ?>
                    
                   
                    <?php if ($_cartQty && $this->isPossibleOnepageCheckout()): ?>
                         <div class="top-subtotal"><button type="button" title="<?php echo $this->__('View Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart'); ?>')"><span><span><?php echo $this->__('View Cart') ?></span></span></button></div>
                        <div class="actions">
                            <?php echo $this->getChildHtml('extra_actions') ?>
                            <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
                        </div>
                    <?php endif ?>
                </div>
            </div>

    </div>
</div>
