<!--@subject A special thank you for taking the time to review us! @-->
<!--@vars
{
    "var url":"Review Url",
    "var email":"User Email",
    "var name":"Customer Name",
    "var reminder.coupon()":"Coupon code",
    "var reminder.needReview()":"Coupon need review to be activated",
    "var coupon_days":"Coupon expiration days",
    "var reminder.unsubscribeLink()":"Unsubscribe link"
}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;"
                                                                         border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{var name}},</h1>

                            <p>Your review for {{var product_name}} was approved.</p>

                            <p>
                                As a thank you for your time, our company is happy to offer you {{var reminder.getDiscount()}}
                                off your next purchase.
                            </p>

                            <p>

                            <p style="text-align: center;background: #CCFFCC;line-height: 30px;">
                                Coupon code: <b>{{var coupon_code}}</b><br/>
                                        <span style="padding:0px;margin-top: -10px;display: inline-block;">
                                            <small>Expiration period - {{var coupon_days}} day(s)</small>
                                        </span>
                            </p>
                            </p>
                            <br/>

                            <p>We really value your trust and expect you would consider us again for future needs.</p>

                            <p>
                                If you have any questions, please feel free to contact us at
                                <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config
                                    path='trans_email/ident_support/email'}}</a>
                                or by phone at {{config path='general/store_information/phone'}}.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><p style="font-size:12px; margin:0;">
                            Sincerely, <strong>{{var store.getFrontendName()}}</strong></p></td>
                    </tr>
                    <tr>
                        <td style="font-size:8px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>