<?php

?>
<?php
$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$block = new W3Themes_SocialLogin_Block_Button();
if (Mage::getStoreConfig('w3_sociallogin/general/showonloginpage') == 'inloginbox') {
    $pos = strpos($currentUrl,'customer/account/login');
    if($pos !== false) {
        if ($this->checkEnable() == true):?>
            <a onclick="showw3SocialPopup('<?php echo $this->_getButtonUrl(); ?>', <?php echo $this->getWidth(); ?>, <?php echo $this->getHeight(); ?>);">
                <div data-retina="true" class="<?php echo $this->getClass(); ?> w3-icon-social"
                     title="<?php echo $this->__('Connect with ') . $this->__($this->getTitle()); ?>"></div>
            </a>
        <?php endif;
    } else {
        if ($this->checkEnable() == true):?>
            <button data-retina="true" class="<?php echo $this->getClass(); ?> w3-icon-social"
                    title="<?php echo $this->__('Connect with ') . $this->__($this->getTitle()); ?>"
                    onclick="showw3SocialPopup('<?php echo $this->_getButtonUrl(); ?>', <?php echo $this->getWidth(); ?>, <?php echo $this->getHeight(); ?>);"></button>
        <?php endif;
    }

} else {
    if ($this->checkEnable() == true):?>
        <button data-retina="true" class="<?php echo $this->getClass(); ?> w3-icon-social"
                title="<?php echo $this->__('Connect with ') . $this->__($this->getTitle()); ?>"
                onclick="showw3SocialPopup('<?php echo $this->_getButtonUrl(); ?>', <?php echo $this->getWidth(); ?>, <?php echo $this->getHeight(); ?>);"></button>
    <?php endif;
}
?>

