<!--@subject Benvenuto su One Cashmere @-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
					</td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Benvenuto su One Cashmere,</h1>
						<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">L'iscrizione alla newsletter &egrave; andata a buon fine. Grazie per la fiducia: siamo molto felici della tua scelta.<br />
						<br />
						Su One Cashmere trovi tanti capi di abbigliamento <a href="http://www.onecashmere.com/it/uomo/" target="_blank" style="text-decoration: none;">Uomo</a> e <a href="http://www.onecashmere.com/it/donna/" target="_blank" style="text-decoration: none;">Donna</a> e <a href="http://www.onecashmere.com/it/accessori/" target="_blank" style="text-decoration: none;">accessori</a> in puro cashmere.<br />
						<br />
						Per il tuo shopping su One Cashmere hai:<br />
						<br />
						&bull; Spedizione gratuita per ordini sopra i 70 euro.<br />
						&bull; Invio della merce entro 24-48 ore dall'ordine.<br />
						&bull; Reso facile e cambio taglia entro 30 giorni.<br />
						<br />
						Hai bisogno di aiuto? Puoi scriverci a <a href="mailto:info@onecashmere.com" style="text-decoration: none;">info@onecashmere.com</a> o chiamarci ai numeri 0585 340080 o 339 7608764.<br />
						<br />
						A presto,<br />
						Lo staff di One Cashmere
						</p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Buon shopping su <strong>{{var store.getFrontendName()}}</strong></p></center></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>