<!--@subject Per favore, conferma la tua iscrizione alla newsletter @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
					</td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Ciao,</h1>
						<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Grazie per il tuo interesse. Ti preghiamo di confermare l'iscrizione alla nostra newsletter.<br />
						<br />
						<a href="{{var subscriber.getConfirmationLink()}}" style="color:#1E7EC8;">S&Igrave;, CONFERMO l'iscrizione alla newsletter di One Cashmere</a><br />
						<br />
						Nella tua casella e-mail ti invieremo solo offerte, novit&agrave; e sconti per i tuoi acquisti su <a href="http://www.onecashmere.com/" target="_blank" style="text-decoration: none;">One Cashmere</a>. In nessun caso il tuo indirizzo sar&agrave; ceduto ad altre aziende n&eacute; riceverai posta indesiderata da parte nostra.<br />
						<br />
						Ti ricordiamo che potrai annullare l'iscrizione in qualsiasi momento.<br />
						<br />
						A presto,<br />
						Lo staff di One Cashmere						
						</p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Grazie, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>