<!--@subject Benvenuto, {{var name}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var email":"Recipient Email address",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var product_image":"Url for product small image (75 px)",
"var sender_name":"Sender name",
"var sender_email":"Sender email",
"var message":"Sender Message"}
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
					</td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Benvenuto {{htmlescape var=$name}}</h1>
						<p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#F9F9F9;">Guarda qui <a href="{{var product_url}}">{{var product_name}}</a><br /><br />messaggio: <br />{{var message}}<br /><br />
					</td>
				</tr>
				<tr>
					<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Grazie, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>