<?php
/**
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 */
?>


    <!--Banner Spedizioni in Tempo per Natale-->
    <?php if (Mage::app()->getStore()->getId() == 1) { ?>
    <!--<div style="background-color:#b91514; background-image:url(https://www.onecashmere.com/media/img_fiocco_onecashmere.png); background-repeat:no-repeat; background-position:left top; margin-top:10px;">
    <div style="padding:15px 15px 15px 125px; text-align:left; color:#FFF; font-weight:bold; font-size:25px; line-height:27px"><a href="https://www.onecashmere.com/it/spedizioni/" style="color:#FFF; text-decoration:none">Ordina <u>entro le ore 12 di giovedì 20 dicembre</u> per ricevere i tuoi acquisti in tempo per Natale.<br><span style="color:#FFCC00">Consegna in 24/48 Ore, GRATIS per ordini oltre 70€.</span></a></div>
</div>-->
    <div style="background-color:#b91514; background-repeat:no-repeat; background-position:left top; margin-top:10px;">
    <div style="padding:15px; text-align:center; color:#FFF; font-weight:bold; font-size:25px; line-height:27px"><a href="https://www.onecashmere.com/it/spedizioni/" style="color:#FFF; text-decoration:none"><span style="color:#FFFFFF">Consegna in 24/48 Ore, GRATIS per ordini oltre 70€.</span></a></div>
</div>
    <?php } if (Mage::app()->getStore()->getId() == 2) { ?>
   <!--<div style="background-color:#b91514; background-image:url(https://www.onecashmere.com/media/img_fiocco_onecashmere.png); background-repeat:no-repeat; background-position:left top; margin-top:10px;">
    <div style="padding:15px 15px 15px 125px; text-align:left; color:#FFF; font-weight:bold; font-size:25px; line-height:27px"><a href="https://www.onecashmere.com/en/shipping/" style="color:#FFF; text-decoration:none">Order by <u>12.00 PM (CET) on December 20th</u> to receive your purchases within Christmas (*).</a></div>
</div>-->
     <?php } ?>
    <!---->
