<?php
if (Mage::app()->getStore()->getId() == 1) { ?>
    <div style="height:35px; background-color:#1a171b;" id="barra_nera">
        <div class="container">
            <div id="bandiere"
                 style="margin:0px; color:#FFF; text-align: left; display: inline-block; float: left; line-height: 35px"><?php echo $this->getChildHtml('store_language') ?></div>
            <div id="10euro"
                 style="display: inline-block; float: right; line-height: 35px; margin: 0 0 0 10px; padding: 0 10px; background-color: #bc001d">
                <a href="<?php echo $this->getUrl('/',
                    ['_direct' => 'newsletter/sconto-10-euro.php', '_type' => 'direct_link']) ?>"
                   target="_blank" title="10&euro; di sconto per te" style="color:#FFF !important"><strong>10&euro;
                        DI SCONTO PER TE</strong></a></div>
            <div id="cambio"
                 style="margin:0px; color:#FFF; text-align: right; display: inline-block; float: right; line-height: 35px">
                <a href="<?php echo $this->getUrl('/', ['_direct' => 'cambio-reso']) ?>"
                   style="text-decoration:none; color:#FFF;"><img
                        src="<?php echo $this->getSkinUrl('images/ico_reso.png') ?>" height="35"
                        alt="Spedizione Gratuita sopra i 70 Euro"
                        style="padding-right:5px; vertical-align: middle"/>RESO FACILE E CAMBIO TAGLIA ENTRO
                    30 GIORNI</a></div>
            <div id="sped_30"
                 style="margin:0 20px 0 0; color:#FFF; text-align: right; display: inline-block; float: right; line-height: 35px">
                <a href="<?php echo $this->getUrl('/', ['_direct' => 'spedizioni']) ?>"
                   style="text-decoration:none; color:#FFF;"><img
                        src="<?php echo $this->getSkinUrl('images/ico_spedizione.png') ?>" height="35"
                        alt="Spedizione Gratuita sopra i 70 Euro"
                        style="padding-right:5px; vertical-align: middle"/>CONSEGNA ENTRO 48 ORE, GRATIS
                    SOPRA I 70 &euro;</a></div>
        </div>
    </div>
    <div id="banner_spedizione_mobile"
         style="background-color: #EEE;text-align: center; font-weight: bold; color: #bc001d; position:relative; z-index: 1000000; font-size:18px;">
        CONSEGNA ENTRO 48 ORE, GRATIS SOPRA I 70€
    </div>
    <div style="height:35px; background-color:#f1f0ec; display:none !important;">
        <div style="max-width:1130px; margin:0 auto; width:100%; padding-top:7px; font-weight:600;">
            <div style="width:33%; float:left;"><img
                    src="<?php echo $this->getSkinUrl('images/icona_spedizioni_header.png') ?>" width="26"
                    height="20" alt="Spedizione Gratuita sopra i 70 Euro" style="padding-right:5px;"/><a
                    href="<?php echo $this->getUrl('/', ['_direct' => 'spedizioni']) ?>"
                    style="text-decoration:none; color::#333;">SPEDIZIONE GRATUITA SOPRA I 70&euro;</a>
            </div>
            <div style="width:33%; float:left;"><img
                    src="<?php echo $this->getSkinUrl('images/icona_reso_cambio_taglia_header.png') ?>"
                    width="30" height="20" alt="Reso Facile e Cambio Taglia" style="padding-right:5px;"/><a
                    href="<?php echo $this->getUrl('/', ['_direct' => 'cambio-reso']) ?>"
                    style="text-decoration:none; color::#333;">RESO FACILE E CAMBIO TAGLIA ENTRO 30
                    GIORNI</a></div>
            <div style="width:33%; float:left;"><img
                    src="<?php echo $this->getSkinUrl('images/icona_100_cashmere_italia.png') ?>" width="21"
                    height="20" alt="100% Cashmere Prodotto in Italia" style="padding-right:5px;"/>100%
                CASHMERE PRODOTTO IN ITALIA
            </div>
        </div>
    </div>
<?php }
if (Mage::app()->getStore()->getId() == 2) { ?>
    <div style="height:35px; background-color:#1a171b;" id="barra_nera">
        <div class="container">
            <div id="bandiere"
                 style="margin:0px; color:#FFF; text-align: left; display: inline-block; float: left; line-height: 35px"><?php echo $this->getChildHtml('store_language') ?></div>
            <div id="10euro"
                 style="display: inline-block; float: right; line-height: 35px; margin: 0 0 0 10px; padding: 0 10px; background-color: #bc001d">
                <a href="<?php echo $this->getUrl('/',
                    ['_direct' => 'lead_generation/10-euros-discount.php', '_type' => 'direct_link']) ?>"
                   target="_blank" title="10&euro; discount for you" style="color:#FFF !important"><strong>10&euro;
                        DISCOUNT FOR YOU</strong></a></div>
            <div id="cambio"
                 style="margin:0px; color:#FFF; text-align: right; display: inline-block; float: right; line-height: 35px">
                <a href="<?php echo $this->getUrl('/', ['_direct' => 'return-change']) ?>"
                   style="text-decoration:none; color:#FFF;"><img
                        src="<?php echo $this->getSkinUrl('images/ico_reso.png') ?>" height="35"
                        alt="Easy return and size change within 30 days"
                        style="padding-right:5px; vertical-align: middle"/>EASY RETURN AND SIZE CHANGE
                    WITHIN 30 DAYS</a></div>
            <div id="sped_30"
                 style="margin:0 20px 0 0; color:#FFF; text-align: right; display: inline-block; float: right; line-height: 35px">
                <a href="<?php echo $this->getUrl('/', ['_direct' => 'shipping']) ?>"
                   style="text-decoration:none; color:#FFF;"><img
                        src="<?php echo $this->getSkinUrl('images/ico_spedizione.png') ?>" height="35"
                        alt="Free Shipping above 250 euros"
                        style="padding-right:5px; vertical-align: middle"/>FREE SHIPPING IN EUROPE ABOVE 250&euro;</a>
            </div>
        </div>
    </div>
    <div style="height:35px; background-color:#f1f0ec; display:none !important">
        <div style="max-width:1130px; margin:0 auto; width:100%; padding-top:7px; font-weight:600;">
            <div style="width:33%; float:left;"><img
                    src="<?php echo $this->getSkinUrl('images/icona_spedizioni_header.png') ?>" width="26"
                    height="20" alt="Spedizione Gratuita sopra i 70 Euro" style="padding-right:5px;"/><a
                    href="<?php echo $this->getUrl('/', ['_direct' => 'shipping']) ?>"
                    style="text-decoration:none; color::#333;">FREE SHIPPING ALL OVER EUROPE ABOVE
                    250&euro;</a></div>
            <div style="width:33%; float:left;"><img
                    src="<?php echo $this->getSkinUrl('images/icona_reso_cambio_taglia_header.png') ?>"
                    width="30" height="20" alt="Reso Facile e Cambio Taglia" style="padding-right:5px;"/><a
                    href="<?php echo $this->getUrl('/', ['_direct' => 'return-change']) ?>"
                    style="text-decoration:none; color::#333;">EASY RETURN AND SIZE CHANGE WITHIN 30
                    DAYS</a></div>
            <div style="width:33%; float:left;"><img
                    src="<?php echo $this->getSkinUrl('images/icona_100_cashmere_italia.png') ?>" width="21"
                    height="20" alt="100% Cashmere Prodotto in Italia" style="padding-right:5px;"/>100%
                CASHMERE MADE IN ITALY
            </div>
        </div>
    </div>
<?php }
?>

<!--Banner per comunicazione aggiunta euro per spese di spedizione gratis-->
<?php if (Mage::app()->getStore()->getId() == 2) { ?>
    <?php
    $totals = Mage::getSingleton('checkout/cart')->getQuote()->getTotals();
    $subtotal = $totals["subtotal"]->getValue();
    $difference = 250 - $subtotal;
    ?>
    <?php if($subtotal < 250) { ?>
        <div style="padding-bottom:10px;">
            <div style="width:930px; height:40px; background-color:#ff0000; margin:0 auto; line-height:40px; text-align:center; font-size:24px; color:#FFF;">
                <strong style="color:#FFF">ADD</strong> <strong style="color:#FFF"><?= Mage::helper('core')->currency($difference, true, false); ?></strong> of products to get <strong style="color:#FFF">FREE SHIPPING</strong>
            </div>
        </div>
    <?php } ?>
<?php } ?>
<!--Fine Banner-->
