<?php
/**
 * @var $this Onecashmere_Review_Block_Widget_Review_Carousel
 * @var $review Mage_Review_Model_Review
 * @var $product Mage_Catalog_Model_Product
 */
?>
<?php if (count($this->getCollection())): ?>
<div class="widget widget-static-block">
    <div style="background-color:#000; color:#FFF; padding: 0; text-align:center">
        <div style="padding:20px 30px; display:inline-block; text-align:left; max-width:200px; width:100%;">
            <img src="<?php echo Mage::getBaseUrl('media')?>ico_clienti.png" alt="" border="0" style="float:left; margin-right:10px;">
            <strong style="font-size:20px;"><?php echo $this->__('%s SATISFIED CUSTOMERS', 3000) ?></strong>
        </div>
        <div style="padding:20px 30px; display:inline-block; text-align:left;max-width:200px; width:100%;">
            <img src="<?php echo Mage::getBaseUrl('media')?>ico_recensioni.png" alt="" border="0" style="float:left; margin-right:10px;">
            <strong style="font-size:20px;"><?php echo $this->__('OVER %s REVIEWS', 500) ?></strong>
        </div>
        <div style="padding:20px 30px; display:inline-block; text-align:left;max-width:200px; width:100%;">
            <img src="<?php echo Mage::getBaseUrl('media')?>ico_capi.png" alt="" border="0" style="float:left; margin-right:10px;">
            <strong style="font-size:20px;"><?php echo $this->__('%s WEARABLE IDEAS', 120) ?></strong>
        </div>
        <br style="clear:both">
    </div>
    <div class="carousel slide" data-interval="2000" data-ride="carousel" id="contenitore_recensione">
        <div class="carousel-inner">
            <?php $i = 0; ?>
            <?php foreach ($this->getCollection() as $review): ?>
                <?php $product = $review->getProduct();?>
                <div class="item <?php echo $i++ == 0 ? 'active' : ''?>">
                    <span class="titolo_recensione_home"><?php echo $review->getTitle()?></span><br>
                    <a href="<?php echo $product->getProductUrl() ?>"><span class="autore_recensione_home"><?php echo $product->getName()?></span></a><br><br>
                    <cite><?php echo $this->__("Reviewed by %s", $review->getNickname())?></cite>
                    <div style="text-align:center">
                        <img src="<?php echo Mage::getBaseUrl('media')?>img_puntini.png" alt="" border="0">
                    </div>
                    <span class="testo_recensione_home"><?php echo $review->getDetail() ?></span>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#contenitore_recensione').carousel()
    });
</script>
<?php endif; ?>
