<?
/**
 * @var $this Mage_Core_Block_Template
 * @var $product Mage_Catalog_Model_Product
 */

$product = Mage::registry('current_product');
?>
<div class="share-container">
    <h3 class="title"><?= $this->__('Share on')?></h3>
    <ul class="rrssb-buttons">
        <li class="rrssb-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u=<?= $product->getProductUrl()?>" class="popup" rel="nofollow" title="Onecashmere on Facebook" target="_blank">
            <span class="rrssb-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg>
            </span>
                <span class="rrssb-text">Facebook</span>
            </a>
        </li>
        <li class="rrssb-pinterest">
            <a href="http://pinterest.com/pin/create/button/?url=<?= $product->getProductUrl()?>&description=<?= urlencode($product->getName())?>" title="Onecashmere on Pinterest" target="_blank">
          <span class="rrssb-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M14.02 1.57c-7.06 0-12.784 5.723-12.784 12.785S6.96 27.14 14.02 27.14c7.062 0 12.786-5.725 12.786-12.785 0-7.06-5.724-12.785-12.785-12.785zm1.24 17.085c-1.16-.09-1.648-.666-2.558-1.22-.5 2.627-1.113 5.146-2.925 6.46-.56-3.972.822-6.952 1.462-10.117-1.094-1.84.13-5.545 2.437-4.632 2.837 1.123-2.458 6.842 1.1 7.557 3.71.744 5.226-6.44 2.924-8.775-3.324-3.374-9.677-.077-8.896 4.754.19 1.178 1.408 1.538.49 3.168-2.13-.472-2.764-2.15-2.683-4.388.132-3.662 3.292-6.227 6.46-6.582 4.008-.448 7.772 1.474 8.29 5.24.58 4.254-1.815 8.864-6.1 8.532v.003z"/></svg>
          </span>
                <span class="rrssb-text">Pinterest</span>
            </a>
        </li>
    </ul>
    <div style="clear: both"></div>
</div>
