<?php
/**
 * Shopping cart template
 *
 * @var $this Mage_Checkout_Block_Cart
 */

?>
<div class="cart">
    <div class="page-title title-buttons">
        <h1><?= $this->__('Shopping Cart') ?><span class="gray"> / <?= Mage::getModel('checkout/cart')->getQuote()->getItemsQty(); ?> <?= $this->__('Items'); ?></span></h1>
        <?php if(!$this->hasError()): ?>
            <ul class="checkout-types">
                <?php foreach ($this->getMethods('top_methods') as $method): ?>
                    <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                        <li><?= $methodHtml; ?></li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    </div>
    <?= $this->getMessagesBlock()->getGroupedHtml() ?>
    <?= $this->getChildHtml('checkout.cart.items.before')?>
    <?= $this->getChildHtml('form_before') ?>
    <form class="cart-form" action="<?= $this->getUrl('checkout/cart/updatePost') ?>" method="post">
        <?= $this->getBlockHtml('formkey'); ?>
        <fieldset>
            <table id="shopping-cart-table" class="data-table cart-table">
                <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                <thead>
                <tr>
                    <th rowspan="<?= $mergedCells; ?>">&nbsp;</th>
                    <th rowspan="<?= $mergedCells; ?>"><span class="nobr"><?= $this->__('Product Name') ?></span></th>
                    <th rowspan="<?= $mergedCells; ?>"></th>
                    <th class="a-center" colspan="<?= $mergedCells; ?>"><span class="nobr"><?= $this->__('Unit Price') ?></span></th>
                    <th rowspan="<?= $mergedCells; ?>" class="a-center"><?= $this->__('Qty') ?></th>
                    <th class="a-center" colspan="<?= $mergedCells; ?>"><?= $this->__('Subtotal') ?></th>
                    <th rowspan="<?= $mergedCells; ?>" class="a-center">&nbsp;</th>
                </tr>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <tr>
                        <th class="a-right"><?= $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                        <th><?= $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                        <th class="a-right"><?= $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                        <th><?= $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    </tr>
                <?php endif; ?>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="50" class="a-right">
                        <?php if($this->getContinueShoppingUrl()): ?>
                            <button type="button" title="<?= $this->__('Continue Shopping') ?>" class="button btn-continue" onclick="setLocation('<?= $this->getContinueShoppingUrl() ?>')"><span><span><?= $this->__('Continue Shopping') ?></span></span></button>
                        <?php endif; ?>
                        <button type="submit" name="update_cart_action" value="update_qty" title="<?= $this->__('Update Shopping Cart'); ?>" class="button btn-update"><span><span><?= $this->__('Update Shopping Cart'); ?></span></span></button>
                        <button type="submit" name="update_cart_action" value="empty_cart" title="<?= $this->__('Clear Shopping Cart'); ?>" class="button btn-empty" id="empty_cart_button"><span><span><?= $this->__('Clear Shopping Cart'); ?></span></span></button>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                <?php foreach($this->getItems() as $_item): ?>
                    <?= $this->getItemHtml($_item) ?>
                <?php endforeach ?>
                </tbody>
            </table>
        </fieldset>
    </form>
    <div class="cart-collaterals row-fluid">

        <div class="col-1 span4">
            <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
        </div>
        <div class="col-2 span4">
            <?php /* Extensions placeholder */ ?>
            <?= $this->getChildHtml('checkout.cart.extra') ?>
            <?= $this->getChildHtml('coupon') ?>

        </div>
        <div class="totals span4">
            <?= $this->getChildHtml('totals'); ?>
            <?php if(!$this->hasError()): ?>
                <ul class="checkout-types">
                    <?php foreach ($this->getMethods('methods') as $method): ?>
                        <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                            <li><?= $methodHtml; ?></li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
    </div>
</div>
