<?php
/**
 * @var $this W3Themes_Featuredproduct_Block_Featuredproduct
 * @var $_product Mage_Catalog_Model_Product
 */

$_productCollection = $this->getProductCollection();
?>
<?php if (count($_productCollection)) : ?>
    <div class="products-list">
        <?php if ($this->getConfig('title')) : ?>
            <h2 class="line-trough">
                <span><?= $this->getConfig('title') ?></span>
            </h2>
        <?php endif; ?>
        <div class="col-12">
            <ul class="category-products row" data-slick='{
                "dots": false,
                "arrows": false,
                "slidesToScroll": 5,
                "slidesToShow": 5,
                "autoplay": true,
                "infinite": true,
                "lazyLoad": "ondemand",
                "responsive": [
                    {
                        "breakpoint": 400,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 768,
                        "settings": {
                            "arrows": true,
                            "slidesToShow": 2,
                            "slidesToScroll": 2
                        }
                    },
                    {
                        "breakpoint": 960,
                        "settings": {
                            "arrows": true,
                            "slidesToShow": 3,
                            "slidesToScroll": 3
                        }
                    }
                ]
            }'>
                <?php foreach ($_productCollection as $product): ?>
                    <?= $this->getChild('product.renderer')->setData([
                        'image_width' => 284,
                        'product' => $product,
                    ])->toHtml() ?>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
<?php endif; ?>

