<?php
/**
 * @var $this Mage_Catalog_Block_Product_View
 */

$_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($this->getProduct());
$_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($this->getProduct());
?>
<ul class="add-to-links">
<?php if ($this->helper('wishlist')->isAllow()) : ?>
    <li>
        <a data-retina="true" href="<?= $_wishlistSubmitUrl ?>"
           onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"
           rel="tooltip"
           title="<?= $this->__('Add to Wishlist') ?>"><?= $this->__('Add to Wishlist') ?></a>
    </li>
<?php endif; ?>
<?php if($_compareUrl) : ?>
    <li>
        <a data-retina="true" href="<?= $_compareUrl ?>" class="link-compare" rel="tooltip"
           title="<?= $this->__('Add to Compare') ?>"><?= $this->__('Add to Compare') ?></a>
    </li>
<?php endif; ?>
</ul>
