<?php
/**
 * @var $this Mage_Core_Block_Template
 */

$helper = Mage::helper('customer');
?>
<ul>
    <li>
        <a href="<?= $this->getUrl('customer/account') ?>" title="<?= $helper->__('My Account') ?>">
            <?= $helper->__('My Account') ?>
        </a>
    </li>
    <li>
        <a href="<?= $this->getUrl('sales/order/history') ?>" title="<?= $helper->__('My Orders') ?>" >
            <?= $helper->__('My Orders') ?>
        </a>
    </li>
    <li>
        <a href="<?= $this->getUrl('customer/account/edit') ?>" title="<?= $helper->__('Wishlist') ?>" >
            <?= $helper->__('My Data') ?>

        </a>
    </li>
    <li>
        <a href="<?= $this->getUrl('customer/address') ?>" title="<?= $helper->__('Address Book') ?>" >
            <?= $helper->__('Address Book') ?>
        </a>
    </li>
    <li>
        <a href="<?= $this->getUrl('review/customer') ?>" title="<?= $helper->__('My Product Reviews') ?>" >
            <?= $helper->__('My Product Reviews') ?>
        </a>
    </li>
    <li>
        <a href="<?= $this->getUrl('customer/account/logout') ?>" title="<?= $helper->__('Logout') ?>" >
            <?= $helper->__('Logout') ?>
        </a>
    </li>
</ul>
