<?php
/**
 * @var $this Onecashmere_Sales_Block_Adminhtml_Order_Preview_List_Item
 * @var $item Mage_Sales_Model_Order_Item
 */
?>
<?php if (($order = $this->getOrder())): ?>
<div style="page-break-after: always">
    <h1><?= $this->__('Order # %s', $order->getIncrementId()) ?> - <?php echo $this->__('Customer "%s"', $order->getCustomerName())?></h1>
    <h2>Data ordine: <?= $order->getCreatedAtDate()->toString('dd/MM/YYYY') ?></h2>
    <?php if ($telephone = $order->getBillingAddress()->getTelephone()): ?>
    <h3><?= $this->__('Telefono: %s', $telephone)?></h3>
    <?php endif; ?>
    <table style="width: 100%; margin-bottom: 8em">
        <tr>
            <th style="40%; text-align: left"><?php echo $this->__('Item')?></th>
            <th style="30%; text-align: left"><?php echo $this->__('Sku')?></th>
            <th style="10%; text-align: left"><?php echo $this->__('Size')?></th>
            <th style="10%; text-align: left"><?php echo $this->__('Color')?></th>
            <th style="5%; text-align: center"><?php echo $this->__('Qty')?></th>
            <th style="5%; text-align: right"><?php echo $this->__('Price')?></th>
        </tr>
    <?php foreach ($order->getAllVisibleItems() as $item): ?>
        <tr>
            <td style="40%; text-align: left"><?php echo $item->getName() ?></td>
            <td style="30%; text-align: left"><?php echo $item->getSku() ?></td>
            <td style="10%; text-align: left"><?php echo $item->getProductOptionByCode('attributes_info')[0]['value'] ?></td>
            <td style="10%; text-align: left"><?php echo $item->getProductOptionByCode('attributes_info')[1]['value'] ?></td>
            <td style="5%; text-align: center"><?php echo number_format($item->getQtyOrdered(), 0) ?></td>
            <td style="5%; text-align: right"><?php echo Mage::helper('core')->formatCurrency($item->getPriceInclTax(), false) ?></td>
        </tr>
    <?php endforeach; ?>
    </table>
    <table style="width: 100%">
        <tr>
            <td style="width: 50%; vertical-align: top">
                <?php echo $this->__('Payed with %s', "<strong>{$order->getPayment()->getMethodInstance()->getTitle()}</strong>")?>
            </td>
            <td style="width: 50%;">
                <table style="width: 50%; text-align: right; float: right">
                    <tr>
                        <td style="font-weight: bold"><?php echo $this->__('Shipping amount') ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($order->getShippingInclTax(), false) ?></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold"><?php echo $this->__('Discount') ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($order->getDiscountAmount(), false) ?></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold"><?php echo $this->__('Cod fee') ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($order->getData('cod_fee') + $order->getData('cod_tax_amount'), false) ?></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold"><?php echo $this->__('Grand total') ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($order->getGrandTotal(), false)?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<?php endif ?>
