.customer-address-form {
  .form-list {
    input, select {
      width: 90%;
    }
    .input-text {
      line-height: 21px;
    }
    div {
      &.field {
        width: 50%;
      }
    }
    label {
      &.required {
        em {
          color: red;
        }
      }
    }
  }
}
