.size-media-slider {
  vertical-align: top;
  .slick-dots {
    bottom: 1em;
    li {
      img {
        width: 450px;
      }
      button {
        &:before {
          font-size: 20px;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: white;
          }
        }
      }
    }
  }
}
.size-chart-headline {
  padding-bottom: 2em;
  h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
    text-transform: uppercase;
  }
  .title {
    font-weight: bold;
  }
  table {
    font-size: larger;
    width: 100%;
    td {
      width: 50%;
    }
    tfoot {
      th {
        &:first-child {
          padding-top: 1em;
        }
      }
    }
  }
}
.size-chart-content {
  * {
    vertical-align: top;
  }
}
.size-chart {
  vertical-align: top;
  font-size: larger;
  th,td {
    padding: .79em;
    text-align: center;
    border: 1px solid lightgrey;
    @media (max-width: 767px) {
      padding: inherit;
      font-size: smaller;
    }
    a[data-slide-index] {
      cursor: pointer;
    }
  }
  th, td:first-child {
    font-weight: bold;
  }
  th:not(:first-child), td:not(:first-child){
    width: 8em;
  }
}
