<?php
/**
 * @var $this W3Themes_Newproductslider_Block_Newproductslider
 * @var $_product Mage_Catalog_Model_Product
 */
?>
<?php if($this->getConfig('enabled')){ // start enable module?>
	<?php
		function cut_string_newproductslider($string,$number){
			if(strlen($string) <= $number) {
				return $string;
			}
			else {	
				if(strpos($string," ",$number) > $number){
					$new_space = strpos($string," ",$number);
					$new_string = substr($string,0,$new_space)."..";
					return $new_string;
				}
				$new_string = substr($string,0,$number)."..";
				return $new_string;
			}
		}
	?>
	<?php $this->getProducts() ?>
	<?php $_productCollection=$this->getProductCollection() ?>
	<div class="newproductslider-container">
		<?php				
			if ( !$this->getConfig('width_thumbnail') ){
				$w_thumbnail = 180;
			} else {
				$w_thumbnail = $this->getConfig('width_thumbnail');
			}
			if( !$this->getConfig('height_thumbnail') ){
				$h_thumbnail = 240;
			 }
			else {
				$h_thumbnail = $this->getConfig('height_thumbnail');
			}
		?>
		<?php if($this->getConfig('title')){?>
			<div class="newproductslider-title"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->count()): ?> 
			<div class="newproductslider">	
				<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<div class="flexslider carousel">
				<ul class="slides">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<li class="newproductslider-item">
							<div class="item-inner">
                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w_thumbnail, $h_thumbnail); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="image-retina" retina-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w_thumbnail*2, $h_thumbnail*2); ?>" />
                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                                    <?php if($this->getConfig('review')): ?>
                                        <?php echo $this->getReviewsSummaryHtml($_product, 'short', true) ?>
                                    <?php endif; ?>
                                    <?php if( $this->getConfig('show_price') ): ?>
                                        <?php echo $this->getPriceHtml($_product, true) ?>
                                    <?php endif; ?>
                                    <div class="actions">
                                        <?php if ($this->getConfig('addtocart')) { ?>
                                            <?php if($_product->isSaleable()): ?>
                                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                            <?php endif; ?>
                                        <?php }?>
                                        <?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
                                            <ul class="add-to-links">
                                                <?php if( $this->getConfig('addtowishlist')): ?>
                                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                        <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if( $this->getConfig('addtocompare')): ?>
                                                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                                        <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>" rel="tooltip"><?php echo $this->__('Add to Compare') ?></a></li>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </ul>
                                        <?php }?>
                                    </div>
								<?php $i++;?>
								<!--	Label	-->
								<?php
									$newFromDate = $_product->getNewsFromDate();
									$newToDate = $_product->getNewsToDate();
									$now = date("Y-m-d H:m:s");
																				   
									if($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label')) {
								?>
										<div class="label-pro-new"><?php echo $this->__('New'); ?></div>
								<?php }	?>
								
								<?php 
									// Get the Special Price
									$specialprice = $_product->getSpecialPrice();
									// Get the Special Price FROM date
									$specialPriceFromDate = $_product->getSpecialFromDate();
									// Get the Special Price TO date
									$specialPriceToDate = $_product->getSpecialToDate();
									// Get Current date
								 
									if ($specialprice){
										if($specialPriceFromDate <= $now && $specialPriceToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')) {
								?>
												<div class="label-pro-sale"><?php echo $this->__('Sale'); ?></div>
								<?php
									} }
								?> 
							</div>
						</li>                    
					<?php endforeach; ?>
				</ul>

                <script type="text/javascript">
					$jq('.newproductslider-container .flexslider').flexslider({
						<?php if(!$this->getConfig('auto')) { ?>
						slideshow: false,
						<?php } ?>
						itemWidth: <?php echo $this->getConfig('item_width') ?>,
						itemMargin: 5,
						minItems: 2,
						maxItems: <?php echo $this->getConfig('items_show') ?>,
						slideshowSpeed: <?php echo $this->getConfig('speed') ?>,
						animationSpeed: <?php echo $this->getConfig('interval') ?>,
						<?php if (!$this->getConfig('nav_ctrl')) { ?>
						controlNav: false,
						<?php } ?>
						<?php if (!$this->getConfig('next_back')) { ?>
						directionNav: false,
						<?php } ?>
						move: 1,
						animation: "slide"
					});
                </script>
			</div>	
		<?php endif; ?> 
	</div> 
<?php } ?>


