<?php
/**
 * @var $this Mage_Customer_Block_Account_Dashboard_Address
 */

?>
<div class="row">
    <div class="col-6">
        <h4 class="bx bx-edit">
            <a href="<?php echo $this->getPrimaryBillingAddressEditUrl() ?>" title="<?php echo $this->__('Edit Address') ?>">
                <?php echo $this->__('Default Billing Address') ?>
            </a>
        </h4>
        <address>
            <?php echo $this->getPrimaryBillingAddressHtml() ?>
        </address>
    </div>
    <div class="col-6">
        <h4 class="bx bx-edit">
            <a href="<?php echo $this->getPrimaryShippingAddressEditUrl() ?>" title="<?php echo $this->__('Edit Address') ?>">
                <?php echo $this->__('Default Shipping Address') ?>
            </a>
        </h4>
        <address>
            <?php echo $this->getPrimaryShippingAddressHtml() ?>
        </address>
    </div>
</div>
