<?php
/**
 * @var $this Mage_Customer_Block_Account_Dashboard_Info
 */

?>
<div class="row">
    <div class="col-6">
        <h3 class="bx bx-edit">
            <a href="<?= $this->getUrl('customer/account/edit') ?>" title="<?= $this->__('Edit') ?>">
                <?= $this->__('Contact Information') ?>
            </a>
        </h3>
        <p>
            <?= $this->escapeHtml($this->getCustomer()->getName()) ?><br />
            <?= $this->escapeHtml($this->getCustomer()->getEmail()) ?><br />
            <a href="<?= $this->getChangePasswordUrl() ?>"><?= $this->__('Change Password') ?></a>
        </p>
    </div>
    <?php if( $this->isNewsletterEnabled() ): ?>
    <div class="col-6">
        <h3 class="bx bx-edit">
            <a href="<?= $this->getUrl('newsletter/manage') ?>" title="<?= $this->__('Edit') ?>">
                <?= $this->__('Newsletters') ?>
            </a>
        </h3>
        <p>
            <?php if( $this->getIsSubscribed() ): ?>
                <?= $this->__("You are currently subscribed to 'General Subscription'.") ?>
            <?php else: ?>
                <?= $this->__('You are currently not subscribed to any newsletter.') ?>
            <?php endif; ?>
        </p>
        <?php /* Extensions placeholder */ ?>
        <?= $this->getChildHtml('customer.account.dashboard.info.extra')?>
    </div>
    <?php endif; ?>
</div>
