<?php
/**
 * @var $this Mage_Core_Block_Template
 * @var $helper Mage_Catalogsearch_Helper_Data
 */

$placeHolder = $this->__('Search Onecashmere');
$helper =  $this->helper('catalogsearch');
?>
<form id="search_mini_form" action="<?= $helper->getResultUrl() ?>" method="get" class="form-inline">
    <i class="bx bx-x" data-toggle="toggle" data-target="#search-container" data-hover="false"></i>
    <input id="search" type="text" name="<?= $helper->getQueryParamName() ?>" placeholder="<?= $placeHolder ?>" class="form-control" maxlength="<?= $helper->getMaxQueryLength();?>" />
</form>
<div id="search_autocomplete" class="search-autocomplete"></div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchForm = new Es.searchForm('search_mini_form', 'search', '<?= $this->__('Enter search keyword') ?>');
        searchForm.initAutocomplete('<?= $helper->getSuggestUrl() ?>', 'search_autocomplete');
    });
</script>
