<?php
/**
* Create account form template
*
* @var $this Mage_Customer_Block_Form_Register
*/
?>
<div class="account-create">
	<div class="page-title">
		<h1><?= $this->__('Create an Account') ?></h1>
	</div>
	<?= $this->getChildHtml('form_fields_before')?>
	<?= $this->getMessagesBlock()->getGroupedHtml() ?>
	<?php /* Extensions placeholder */ ?>
	<?= $this->getChildHtml('customer.form.register.extra')?>
	<form action="<?= $this->getPostActionUrl() ?>" method="post" id="form-validate">
		<div class="fieldset">
            <input type="hidden" name="form_key" value="<?= Mage::getSingleton('core/session')->getFormKey() ?>" />
			<input type="hidden" name="success_url" value="<?= $this->getSuccessUrl() ?>" />
			<input type="hidden" name="error_url" value="<?= $this->getErrorUrl() ?>" />
			<h2 class="legend"><?= $this->__('Personal Information') ?></h2>
			<ul class="form-list">
				<li class="customer-name">
					<?= $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
				</li>
				<li>
					<label for="email_address" class="required"><em>*</em><?= $this->__('Email Address') ?></label>
					<div class="input-box">
						<input type="text" name="email" id="email_address" value="<?= $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?= $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
					</div>
				</li>
			<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
			<?php if ($_dob->isEnabled()): ?>
				<li><?= $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
			<?php endif ?>
			<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
			<?php if ($_taxvat->isEnabled()): ?>
				<li><?= $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
			<?php endif ?>
			<?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
			<?php if ($_gender->isEnabled()): ?>
				<li><?= $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
			<?php endif ?>
			</ul>
		</div>
        <?php if ($this->isNewsletterEnabled()): ?>
            <div class="newsletter">
                <input type="checkbox" name="is_subscribed" title="<?= $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                <label for="is_subscribed"><?= $this->__('Sign Up for Newsletter') ?></label>
                <?php /* Extensions placeholder */ ?>
                <?= $this->getChildHtml('customer.form.register.newsletter')?>
            </div>
        <?php endif ?>
	<?php //if($this->getShowAddressFields()): ?>
	<?php if (($this->helper('privatecompany')->isCustomerAddressVisible())):?>
		<div class="fieldset">
			<input type="hidden" name="create_address" value="1" />
			<h2 class="legend"><?= $this->__('Address Information') ?></h2>
			<ul class="form-list">
				<li class="fields">
					<?php if ($this->helper('privatecompany')->isCompanyVisible()) : ?>
					<div class="field">
						<label for="company"<?php if($this->helper('privatecompany')->isCompanyRequired()):?> class="required"<?php endif;?>><?php if($this->helper('privatecompany')->isCompanyRequired()):?><em>*</em><?php endif;?><?= $this->__('Company') ?></label>
						<div class="input-box">
							<input type="text" name="company" id="company" value="<?= $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?= $this->__('Company') ?>" class="<?php if($this->helper('privatecompany')->isCompanyRequired()):?>required-entry <?php endif;?>input-text <?= $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
						</div>
					</div>
					<?php endif;?>
					<div class="field">
						<label for="telephone" class="required"><em>*</em><?= $this->__('Telephone') ?></label>
						<div class="input-box">
							<input type="text" name="telephone" id="telephone" value="<?= $this->escapeHtml($this->getFormData()->getTelephone()) ?>" title="<?= $this->__('Telephone') ?>" class="input-text <?= $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" />
						</div>
					</div>
				</li>

				<?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
				<li class="wide">
					<label for="vat_id"<?php if($this->helper('privatecompany')->isVatIdRequired()):?> class="required"<?php endif;?>><?php if($this->helper('privatecompany')->isVatIdRequired()):?><em>*</em><?php endif;?><?= $this->__('VAT Number') ?></label>
					<div class="input-box">
						<input type="text" name="vat_id" value="<?= $this->escapeHtml($this->getFormData()->getVatId()) ?>" title="<?= $this->__('VAT Number') ?>" id="vat_id" class="<?php if($this->helper('privatecompany')->isVatIdRequired()):?>required-entry <?php endif;?>input-text <?= $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
					</div>
				</li>
				<?php endif; ?>
				<?php if ($this->helper('privatecompany')->isFiscalcodeVisible()) : ?>
				<li class="wide">
					<label for="privatecompany_fiscalcode"<?php if($this->helper('privatecompany')->isFiscalcodeRequired()):?> class="required"<?php endif;?>><?php if($this->helper('privatecompany')->isFiscalcodeRequired()):?><em>*</em><?php endif;?><?= $this->__('Codice Fiscale') ?></label>
					<div class="input-box">
						<input type="text" name="privatecompany_fiscalcode" value="<?= $this->escapeHtml($this->getFormData()->getPrivatecompanyFiscalcode()) ?>" title="<?= $this->__('Codice Fiscale') ?>" id="privatecompany_fiscalcode" class="<?php if ($this->helper('privatecompany')->isFiscalcodeRequired()) : ?>required-entry <?php endif;?>input-text <?= $this->helper('customer/address')->getAttributeValidationClass('privatecompany_fiscalcode') ?>" />
					</div>
				</li>
				<?php endif; ?>

			<?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
				<li class="wide">
					<label for="street_1" class="required"><em>*</em><?= $this->__('Street Address') ?></label>
					<div class="input-box">
						<input type="text" name="street[]" value="<?= $this->escapeHtml($this->getFormData()->getStreet(1)) ?>" title="<?= $this->__('Street Address') ?>" id="street_1" class="input-text <?= $_streetValidationClass ?>" />
					</div>
				</li>
			<?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
			<?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
				<li class="wide">
					<div class="input-box">
						<input type="text" name="street[]" value="<?= $this->escapeHtml($this->getFormData()->getStreet($_i)) ?>" title="<?= $this->__('Street Address %s', $_i) ?>" id="street_<?= $_i ?>" class="input-text <?= $_streetValidationClass ?>" />
					</div>
				</li>
			<?php endfor; ?>
				<li class="fields">
					<div class="field">
						<label for="city" class="required"><em>*</em><?= $this->__('City') ?></label>
						<div class="input-box">
							<input type="text" name="city" value="<?= $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?= $this->__('City') ?>" class="input-text <?= $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
						</div>
					</div>
					<div class="field">
						<label for="country" class="required"><em>*</em><?= $this->__('Country') ?></label>
						<div class="input-box">
							<?= $this->getCountryHtmlSelect() ?>
						</div>
					</div>
				</li>
				<li class="fields">
					<div class="field">
						<label for="zip" class="required"><em>*</em><?= $this->__('Zip/Postal Code') ?></label>
						<div class="input-box">
							<input type="text" name="postcode" value="<?= $this->escapeHtml($this->getFormData()->getPostcode()) ?>" title="<?= $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?= $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
						</div>
					</div>
					<div class="field">
						<label for="region_id" class="required"><em>*</em><?= $this->__('State/Province') ?></label>
						<div class="input-box">
							<select id="region_id" name="region_id" title="<?= $this->__('State/Province') ?>" class="validate-select" style="display:none;">
								<option value=""><?= $this->__('Please select region, state or province') ?></option>
							</select>
							<script type="text/javascript">
							//<![CDATA[
								$('region_id').setAttribute('defaultValue', "<?= $this->getFormData()->getRegionId() ?>");
							//]]>
							</script>
							<input type="text" id="region" name="region" value="<?= $this->escapeHtml($this->getRegion()) ?>" title="<?= $this->__('State/Province') ?>" class="input-text <?= $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
						</div>
					</div>
				</li>
			</ul>
			<input type="hidden" name="default_billing" value="1" />
			<input type="hidden" name="default_shipping" value="1" />
		</div>
	<?php endif; ?>
		<div class="fieldset">
			<h2 class="legend"><?= $this->__('Login Information') ?></h2>
			<ul class="form-list">
				<li class="fields">
					<div class="field">
						<label for="password" class="required"><em>*</em><?= $this->__('Password') ?></label>
						<div class="input-box">
							<input type="password" name="password" id="password" title="<?= $this->__('Password') ?>" class="input-text required-entry validate-password" />
						</div>
					</div>
					<div class="field">
						<label for="confirmation" class="required"><em>*</em><?= $this->__('Confirm Password') ?></label>
						<div class="input-box">
							<input type="password" name="confirmation" title="<?= $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
						</div>
					</div>
				</li>
				<?= $this->getChildHtml('form.additional.info'); ?>
			</ul>
		</div>
		<?php if (Mage::getConfig()->getModuleConfig('Artera_Privacy')->is('active', 'true')) echo $this->getLayout()->createBlock('privacy/box')->setTemplate('privacy/box.phtml')->toHtml(); ?>
		<div class="buttons-set">
			<p class="required"><?= $this->__('* Required Fields') ?></p>
			<p class="back-link"><a href="<?= $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?= $this->__('Back') ?></a></p>
			<button type="submit" title="<?= $this->__('Submit') ?>" class="button"><span><span><?= $this->__('Submit') ?></span></span></button>
		</div>
	</form>
	<script type="text/javascript">
	//<![CDATA[
		var dataForm = new VarienForm('form-validate', true);
		<?php //if($this->getShowAddressFields()): ?>
		<?php if (($this->helper('privatecompany')->isCustomerAddressVisible())):?>
		new RegionUpdater('country', 'region', 'region_id', <?= $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
		<?php endif; ?>
	//]]>
	</script>
</div>
