<?php
/**
* @author Amasty Team
* @copyright Amasty
* @package Amasty_Conf
*/
?>
<div id="bubble" class="bubble_tooltip" style="z-index: 6000; height: auto; visibility: visible; width: 162px; left: 1016px; top: 171px; display: none;">
    <div class="clearfix" style="padding: 0px; margin: 0px 0px 12px;">
        <div class="clearfix">
            <ul class="borderFrame" style="width: 162px;">
                <li class="borderTop borderRow" style="height: 6px;">
                    <div>
                    <div id="top-left" style="width: 6px; height: 6px;"></div>
                    </div>
                    <div class="bubble_tooltip_BetweenCorners" style="height: 6px;">
                    <div style="margin: 0px 6px; height: 6px; background-color: rgb(214, 214, 214);"></div>
                    </div>
                    <div class="bubble_tooltip_CornerWrapper ">
                    <div id="top-right" class="bubble_tooltip_Corner" style="width: 6px; height: 6px;"> </div>
                    </div>
                </li>
                <li class="borderMiddle borderRow" style="background-color: rgb(214, 214, 214);">
                    <div class="borderCenter" style="padding: 0px 6px;">
                        <div class="creamy" style="width: 150px;">
                            <div id="buble_middle" class="content clearfix"></div>
                        </div>
                    </div>
                </li>
                <li class="borderBottom borderRow" style="height: 6px;">
                    <div>
                        <div id="bottom-left" style="width: 6px; height: 6px;"></div>
                    </div>
                    <div class="bubble_tooltip_BetweenCorners" style="height: 6px;">
                        <div class="bubble_tooltip_Between" style="margin: 0px 6px; height: 6px; background-color: rgb(214, 214, 214);"></div>
                    </div>
                    <div class="bubble_tooltip_CornerWrapper">
                        <div id="bottom-right" class="bubble_tooltip_Corner" style="width: 6px; height: 6px;">  </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="bubble_tooltip_Stem" style="height: 12px; top: auto; bottom: 0px;">
        <div style="height: 12px; width: 15px; background: url(<?php echo  Mage::getDesign()->getSkinUrl('js/amasty/amconf/images/bot_right.png',array('_area'=>'frontend'))?>) no-repeat scroll left top transparent; margin: 0px 6px 0px 0px; float: right;"></div>
    </div>
</div>

    
   