<?php
/**
 * @var $this Mage_Catalog_Block_Product_List_Related
 * @var $items Mage_Catalog_Model_Resource_Product_Link_Product_Collection
 * @var $product Mage_Catalog_Model_Product
 */

$items = $this->getItems();
?>
<?php if($items->count()): ?>
<div class="products-list">
    <h2 class="line-trough">
        <span><?= $this->__('Related Products') ?></span>
    </h2>
    <div class="col-12">
        <ul id="related-products" class="category-products row" data-slick='{
                "dots": false,
                "arrows": false,
                "slidesToScroll": 5,
                "slidesToShow": 5,
                "autoplay": false,
                "infinite": true,
                "lazyLoad": "ondemand",
                "responsive": [
                    {
                        "breakpoint": 400,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 768,
                        "settings": {
                            "arrows": true,
                            "slidesToShow": 2,
                            "slidesToScroll": 2
                        }
                    },
                    {
                        "breakpoint": 960,
                        "settings": {
                            "arrows": true,
                            "slidesToShow": 3,
                            "slidesToScroll": 3
                        }
                    }
                ]
            }'>
            <?php foreach($items as $_item): ?>
                <?= $this->getChild('product.renderer')->setData('product', $_item)->toHtml()?>
            <?php endforeach ?>
        </ul>
    </div>
</div>
<?php endif ?>
