<?php
/**
 * @var $this Mage_Catalog_Block_Product_List_Toolbar
 */

?>
<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
    <div class="pager">
        <div class="sort-by">
            <label><?php echo $this->__('Sort By') ?> : </label>
            <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                <a <?php if(!$this->isOrderCurrent($_key)): ?> href="<?php echo $this->getOrderUrl($_key, 'asc') ?>" class="selected" <?php endif; ?>><?php echo $this->__($_order) ?></a>
            <?php endforeach; ?>
            <?php if($this->getCurrentDirection() == 'desc'): ?>
                <a class="sorter" href="<?php echo $this->getOrderUrl(null, 'asc') ?>" title="<?php echo $this->__('Set Ascending Direction') ?>"><img data-retina="true" src="<?php echo $this->getSkinUrl('images/i_desc_arrow.gif') ?>" alt="<?php echo $this->__('Set Ascending Direction') ?>" class="v-middle" /></a>
            <?php else: ?>
                <a class="sorter" href="<?php echo $this->getOrderUrl(null, 'desc') ?>" title="<?php echo $this->__('Set Descending Direction') ?>"><img data-retina="true" src="<?php echo $this->getSkinUrl('images/i_asc_arrow.gif') ?>" alt="<?php echo $this->__('Set Descending Direction') ?>" class="v-middle" /></a>
            <?php endif; ?>
        </div>
        <?php echo $this->getPagerHtml() ?>
    </div>
</div>
<?php endif ?>
