.page-title {
  &.category-title {
    display: flex;
  }
}
.catalog-category-view,.catalogsearch-result-index {
  .category-title {
    padding: 1rem;
  }
  @media screen and (max-width: 991px) {
    .category-title {
      text-align: center;
      h1 {
        width: 90%;
      }
      button {
        .bx-x {
          display: none;
        }
        &.open {
          .bx-plus {
            display: none;
          }
          .bx-x {
            display: unset;
          }
        }
      }
    }
    #left-column-container {
      &.offcanvas-collapse {
        left: -100%;
        transition-property: left, visibility;
        top: 2*@default-spacer + @top-stripe-icon-height + 2;

        &.open {
          left: 0;
          right: unset;
        }
      }
    }
  }
  .category-title {
    button {
      width: 10%;
      border: 1px solid transparent;
      background: black;
      color: white;
      cursor: pointer;
      height: 100%;
      padding: .5rem;
      margin: auto;
      &:hover {
        border-color: @darkGrey;
        color: @darkGrey;
        background: white;
      }
      > * {
        vertical-align: middle;
      }
      > i {
        font-size: large;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .category-title {
      button {
        display: none;
      }
    }
  }
}
.catalog-category-view,.featured-products,.products-list,.catalogsearch-result-index {
  .category-products {
    li {
      text-align: center;
      padding: 0;
      .price-box {
        display: flex;
        flex-wrap: wrap;
        > * {
          width: 100%;
        }
        > .price-including-tax {
          order: 1;
        }
        > .price-excluding-tax {
          order: 2;
        }
      }
      ul {
        &.labels {
          right: 10px;
          position: absolute;
          left: 0;
          li {
            font-size: smaller;
            text-transform: uppercase;
            color: @darkGrey;
            background-color: @lightgrey;
          }
        }
      }
      .picture-container {
        margin-bottom: .2rem;
        &.can-flip {
          picture {
            &.back {
              display: none;
            }
            &.front {
              display: unset;
            }
          }
          &:hover {
            picture {
              &.back {
                display: unset;
              }
              &.front {
                display: none;
              }
            }
          }
        }
      }
      > div {
        margin-bottom: .2rem;
      }
      h2 {
        font-size: 1rem;
        line-height: 1.2;
        min-height: 2.4rem;
      }
      a {
        &.btn {
          background-color: black;
          border-radius: 0;
          color: white;
        }
      }
    }
  }
}
