.checkout-cart-index {
  .page-title {
    &.title-buttons {
      .row;
      > * {
        .col-10;
        vertical-align: middle;
        &:last-child {
          .col-2;
        }
      }
      margin-bottom: 3rem;
    }
  }
  button {
    .btn;
    color: @white;
    background-color: @black;
    border-radius: 0;
    font-size: .9rem;
  }
  form {
    &.cart-form {
      fieldset {
        .row;
        #shopping-cart-table {
          .col-12;
          .td-title {
            display: none;
          }
          thead, tfoot {
            * {
              > * {
                .text-center;
                &:last-child {
                  .text-right;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                &:nth-child(n+3) {
                  .text-center;
                }
              }
            }
          }
        }
      }
    }
  }
  .cart-collaterals {
    .row;
    .span4 {
      .col-4;
      h2 {
        font-size: 1.5rem;
      }
      &:last-child {
        padding-top: 2rem;
        .text-right;

      }
      &.totals {
        > * {
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: unset;
          }
        }
        table {
          width: 100%;
          tbody,tfoot {
            tr {
              .row;
              td {
                .text-right;
                &:first-child {
                  .col-5;
                }
                &:last-child {
                  .col-7;
                }
              }
            }

          }
        }
      }
    }
  }
  .discount-form {
    .row;
    > * {
      .col-auto;
    }
    .input-box {
      input {
        .form-control;
      }
    }
  }
  #shipping-zip-form {
    .form-list {
      li {
        .form-group;
        label {
          .font-weight-bold;
        }
        input,select {
          .form-control;
        }
      }
    }
  }
}

.onestepcheckout-index-index {
  .osc-product-image {
    img {
      width: 75px !important;
      height: unset !important;
    }
  }
  span {
    &.qty {
      .text-center;
    }
  }
  .one-step-checkout h3
  {
    background-color:#000000 !important;
  }
  button.onestepcheckout-btn-checkout{
    background:#bc001c !important;
    cursor: pointer;
  }
  button.onestepcheckout-btn-checkout span span{
    font-size:20px !important;
  }

  button#remove_coupon_code_button,
  button#add_coupon_code_button,
  .onestepcheckout-popup-wrapper h1,
  #onestepcheckout-login-popup button.button,
  #onestepcheckout-forgot-button,
  #onestepcheckout-toc-popup h1,
  .onestepcheckout-login-link a span,
  #onestepcheckout-forgot-table li.last p a span,
  #onestepcheckout-register-table li.last p a span,
  p.forgot-link a span,
  p.register-link a span
  {
    background-color:#000000 !important;

  }
  .onestepcheckout-login-link a,
  p.forgot-link a,
  p.register-link a,
  #onestepcheckout-forgot-table li.last p a,
  #onestepcheckout-register-table li.last p a
  { color:#000000 !important; }
  button#add_coupon_code_button:hover{
    cursor: pointer;
  }

  button#remove_coupon_code_button:hover{
    cursor: pointer;
  }
  button.place-order-loader span {
    background:none  !important;
  }
  #onestepcheckout_login_link {
    .font-weight-bold;
  }
}
#container_payment_method_phoenix_cashondelivery
{
  display: none;
}
