#account-container {
  &.dropdown-menu {
    width: 50%;
    left: 25%;
    padding: 3rem;
  }
}

#search-container {
  &.dropdown-menu {
    background-color: @lightgrey;
    top: 100%;
    width: 100%;
    border: none;
    padding: @default-spacer 0;
    text-align: center;
    form {
      width: 50%;
      margin: 0 auto;
      position: relative;
      i {
        position: absolute;
        left: 0;
        font-size: x-large;
      }
      input {
        width: 100%;
        border: none transparent;
        border-bottom: 1px solid @darkGrey;
        background-color: transparent;
        text-indent: 2*@default-spacer;
        border-radius: 0;
        &:focus {
          color: inherit;
        }
      }
    }
  }
}

.navbar {
  .minicart {
    position: relative;
    .qty {
      @size: @default-spacer+3;
      position: absolute;
      top: (@size/4)*-1px;
      right: (@size/4)*-1px;
      display: block;
      line-height: @size*1px;
      width: @size*1px;
      height: @size*1px;
      border-radius: 50%;
      background-color: @red;
      text-align: center;
      color: white;
      &.qty-0 {
        display: none;
      }
    }
  }
}
