.waypoint {
  .block {
    &.block-layered-nav {
      position: fixed;
      top: @header-height + @default-spacer;
    }
  }
}

.block {
  &.block-layered-nav {
    [class*='price_filter'], [class*='rating_filter'] {
      display: none;
    }
    .button-container {
      > * {
        font-size: .8rem;
      }
    }
    dt {
      border: 1px solid white;
      padding: .3rem;
      cursor: pointer;
      margin-bottom: .3rem;
      &.collapsed {
        margin-bottom: -1px;
      }
      background: @lightgrey;
      color: @darkGrey;
      > * {
        vertical-align: middle;
      }
      .bx {
        font-size: large;
      }
      button {
        &.apply, &.clear {
          color: white;
          background-color: @red;
          border: none;
        }
      }
      &.category_filter, &.price_filter {
        button {
          display: none;
        }
      }
    }
    dd {
      padding-left: @default-spacer;
    }
    li {
      &.attr-filter {
        padding: unset;
        input {
          display: none;
        }
        label {
          padding: .4rem;
          background-color: transparent;
          cursor: pointer;
          &.selected {
            background-color: @lightgrey;
            color: @darkGrey;
          }
          &:hover {
            .selected;
          }
        }
      }
    }
  }
}
