@mobile-brand-height: 40;
@media (max-width: 991px) {
  .navbar {
    > *.dropdown {
      width: unset;
      text-align: unset;
    }
  }
  .navbar-brand {
    order: 3;
    img {
      height: @mobile-brand-height * 1px;
      width: unset !important;
    }
  }
  .navbar-toggler {
    order: 1;
  }
  .search {
    order: 2;
  }
  .customer {
    order: 4;
  }
  .minicart {
    order: 5;
  }
  .offcanvas-collapse {
    position: fixed;
    top: (@mobile-brand-height + 4*@default-spacer + @top-stripe-icon-height)*1px;
    bottom: 0;
    right: 100%;
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: white;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: right, visibility;
    z-index: 1;
    .nav-item {
      &.title {
        text-align: center;
        font-weight: 700;
        font-size: larger;
        margin: @default-spacer 0;
        display: inherit !important;
        i {
          position: absolute;
          left: @default-spacer;
          cursor: pointer;
          font-size: x-large;
        }
      }
      &.dropdown {
        > *.nav-link {
          background: url("../images/bx-chevron-right.svg") center right no-repeat;
        }
      }
    }
    &.open {
      right: 50%;
      visibility: visible;
    }
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.dropdown-menu {
  .navbar-toggler {
    position: absolute;
    left: @default-spacer;
  }
  font-size: unset;
}

.open {
  .navbar-toggler-icon {
    background-image: url("../images/bx-x.svg") !important;
  }
}
.navbar-toggler-icon {
  background-image: url("../images/bx-menu.svg") !important;
}

@media (min-width: 992px)  {
  body {
    &:not(.onestepcheckout-index-index) {
      #top-navbar {
        &.is-sticky {
          position: fixed;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;
          background: white;
        }
      }
    }
  }
}

.navbar {
  padding: @default-spacer 0;
  > * {
    width: 10%;
    &:first-child {
      margin-left: 2*@default-spacer;
    }
    &:last-child {
      margin-right: 2*@default-spacer;
    }
  }
  .navbar-brand {
    img {
      width: 100%;
    }
  }
  #navigation {
    width: 50%;
    margin-left: 6%
  }
  > *.dropdown, .minicart {
    width: 10%;
    text-align: right;
    > *.bx {
      font-size: x-large;
    }
    > * {
      vertical-align: middle;
    }
  }
  .nav-item {
    &.title {
      display: none;
    }
  }
}
