.messages {
  > li {
    ul {
      > li {
        .alert;
        .alert-primary;
      }
    }

    &.success-msg {
      ul {
        > li {
          .alert;
          .alert-success;
        }
      }
    }

    &.error-msg {
      ul {
        > li {
          .alert;
          .alert-danger;
        }
      }
    }

    &.notice-msg {
      ul {
        > li {
          .alert;
          .alert-warning;
        }
      }
    }
  }
}
