.top-stripe {
  padding: 0 !important;
}

div.dropdown-menu {
  margin-top: 0
}

.navbar .minicart, .navbar > .dropdown {
  width: 40px;
  text-align: right;
  margin-top: 0;
}

div.dropdown.search {
  width: 80px !important;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
}

.main-container {
  margin-top: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .8);
  font-size: 15px;
  font-weight: 600
}

.navbar-expand-lg .navbar-collapse {
  display: block !important;
  flex-basis: auto;
}

.dropdown-menu {
  border-radius: 0;
}

div.dropdown-menu ul.navbar-collapse li.nav-item a.nav-link {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

div#mess1 {
  margin-right: 25px;
}

div#mess1 img, div#mess2 img {
  margin-right: 5px;
  height: 30px;
}

.flag-before, .top-stripe .language-switcher > * > ::before {
  background-size: 21.67px 17px;
  height: 17px;
  width: 21.67px;
}

ul.language-switcher {
  margin: 5px 0 6px 0 !important;
}

div.product-img-box div.row div.col-2 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.footer-container {
  background-color: #f1f1f1 !important;
  color: #333 !important;
  text-transform: unset !important;
  font-size: 14px !important;
  div {
    &.container {
      div {
        &.footer {
          &.row {
            display: none;
          }
        }
      }
    }
  }
  a {
    color: #333 !important;
  }
  h3 {
    color: #333 !important;
    font-weight: 600;
  }
  .footer-static-content {
    font-size: 14px !important;
  }
  .footer-static-title {
    border-bottom: 1px dashed rgba(0, 0, 0, .7);
    margin: 0 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(0, 0, 0, .7);
    h3 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      text-transform: unset !important;
      font-size: 25px !important;
      font-weight: 400;
    }
  }
  ul {
    &.social {
      .instagram {
        svg {
          &:hover {
            fill: #ba3993;
          }
        }
      }
    }
    &.payments,&.social {
      img,svg {
        fill: rgba(0, 0, 0, .5);
      }
    }
  }
}

.slick-slide img {
  margin: 0 auto;
}

div.ratings.aggregate a {
  display: block;
  background-color: #DDD;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 600;
  max-width: 250px;
  padding: 5px 0;
}

div#product-price-box span.price {
  display: block;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 600;
}

p.availability.in-stock {
  font-weight: 600;
  color: #339900;
  display: none
}

.catalog-product-view .options dt {
  background-color: #f1f1f1 !important;
  padding-left: 10px;
}

div.add-to-cart.row label {
  font-size: 1.2rem;
}

button.btn.btn-lg.btn-cart {
  text-transform: uppercase;
  font-weight: 600
}

.block.block-layered-nav dt {
  background-color: #f2f2f2 !important;
  color: #000 !important;
}

ul.actions li a.btn.btn-sm {
  text-transform: uppercase;
  font-weight: 600
}

.catalog-category-view .category-products li {
  padding: 0 10px;
}

span.price.old-price {
  padding-bottom: 0 !important;
  font-size: 18px !important;
}

span.price.special-price {
  padding-top: 0 !important;
}

form#product_addtocart_form h1 {
  font-size: 35px;
  padding-bottom: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

div#main-image-container {
  padding: 0 180px;
}

ul.actions li a.btn.btn-sm {
  width: 100%;
  background-color: #EEE !important;
  color: #000 !important;
  display: none
}

li.item h2.product-name {
  margin-top: 15px;
}

div.slick-slide li.item {
  padding: 0 10px
}

button.btn.apply, button.btn.clear {
  background-color: #000;
  color: #FFF;
  border-radius: 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  padding: 5px 15px;
  max-width: 40%;
}

span.title-before-review {
  font-weight: 400;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

ul#reviewCarousel {
  margin-top: 30px
}

div.row.boxes h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  background-color: #F1F1F1;
  font-size: 30px;
  font-weight: 400 !important;
}

div.row.boxes button {
  width: 100%;
  background-color: #000;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

h2.line-trough, div.category-title h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

div.modal-header h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

div.modal-footer button.btn.btn-primary {
  border-radius: 0 !important;
  background-color: #000 !important;
  color: #FFF;
  font-weight: 600;
  font-size: 14px !important;
  border: 0 solid #000 !important;
  text-transform: uppercase;
}

div.modal-header, div.modal-footer {
  background-color: #F1F1F1 !important;
}

.modal.show .modal-dialog, div.modal-header {
  border-radius: 0 !important;
}

div.modal-body .form-control {
  font-size: 14px !important;
  border-radius: 0;
}

div.modal-body .form-control::placeholder {
  color: #CCC;
  opacity: 1;
}

div.modal-body .form-control:-ms-input-placeholder {
  color: #CCC;
}

#reviewCarousel > * .title {
  color: #000 !important;
}

.top-stripe .language-switcher > ::after {
  content: "/";
  display: none;
}

#reviewCarousel {
  background-color: #FAFAFA !important;
  background-image: url('../images/img_virgolette_black.png') !important;
  margin-top: 0 !important;
}

a.button.button-black {
  background-color: #000;
  color: #FFF !important;
  font-weight: 600 !important;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
}

.line-height-110 {
  line-height: 110px;
}


table.size-chart {
  width: 100%;
  margin-top: 15%;
}

table.size-chart thead {
  background-color: #F1F1F1
}

table.size-chart th, table.size-chart td {
  border: 1px solid #CCC;
  text-align: center;
  padding: 5px 20px;
}

div.size-info table {
  margin: 0 auto;
}

div.size-info table td {
  text-align: center
}

div.size-info table tfoot th {
  font-size: 20px;
  padding-top: 20px;
}

table#shopping-cart-table thead th, table#shopping-cart-table tfoot td {
  padding: 10px 0;
  background-color: #f2f2f2
}

button#empty_cart_button {
  margin-right: 10px;
}

table#shopping-cart-table {
  margin-bottom: 50px;
}

div.cart button {
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}

div.totals {
  background-color: #f2f2f2
}

select#country, select#region_id, input#coupon_code {
  border-radius: 0 !important;
  font-size: 14px !important;
  padding: 6px 10px !important;
  height: auto !important;
}

form#co-shipping-method-form {
  margin-top: 20px;
}

button.button.btn-proceed-checkout.btn-checkout {
  font-size: 25px !important;
}

div.cart div.page-title.title-buttons ul.checkout-types {
  display: none
}

.one-step-checkout h3, .onestepcheckout-popup-wrapper h1 {
  background-color: #CCC !important;
  color: #000 !important;
}

button#onestepcheckout-button-place-order {
  background-color: #000 !important;
  font-weight: 600 !important;
  font-size: 25px !important;
  text-transform: uppercase
}

button#add_coupon_code_button {
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  width: auto !important;
}

button#add_coupon_code_button span, button#remove_coupon_code_button span {
  font-weight: 600 !important;
}

div.row.text-center.double-image {
  margin-top: -30px;
}

.catalog-product-view .review-collection ul li {
  overflow-y: auto !important;
}

input#mini-login, input#mini-password {
  border-radius: 0 !important;
}

div#account-container form.form-login button.btn.btn-primary {
  background-color: #000 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #FFF !important;
  text-transform: uppercase !important;
  border: 0 solid #FFF !important;
}

.one-step-checkout #billing_step_header {
  background-image: url('../images/billing_title_black.png') !important;
}

.one-step-checkout .shipping-method #shipping_method_step_header {
  background-image: url('../images/method_title_black.png') !important;
}

.one-step-checkout #payment_method_step_header {
  background-image: url('../images/payment_title_black.png') !important;
}

.one-step-checkout #review_step_header {
  background-image: url('../images/order_title_black.png') !important;
}

.onestepcheckout-popup-wrapper h1 {
  background-image: url('../images/login_title_black.png') !important;
}

form#onestepcheckout-forgot-form button, form#onestepcheckout-login-form button, form#onestepcheckout-register-form button {
  border: 0 solid #000 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
  height: 35px !important;
  line-height: 35px !important;
}

ul.attribute.row.size li span {
  font-weight: 600 !important;
  font-size: 20px !important;
}

.catalog-product-view .add-to-cart > .qty input {
  width: 60px;
  margin: 0 10px !important;
}

button.plus, button.minus {
  width: 30px;
  padding: 2px;
  background-color: #DDD !important;
  color: #000 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

ul.attribute.row.size, ul.attribute.row.color {
  margin-left: 0;
  margin-right: 0;
}

ul.attribute.row.color li {
  padding: 0 13px !important;
  margin-bottom: 4px
}

li.item h2.product-name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
  margin-bottom: 0 !important;
}

div.page-title h1.line-trough {
  line-height: 45px;
}

div.cart div.page-title h1, .one-step-checkout h1.checkout_header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5rem;
  text-transform: unset !important;
  color: #000 !important;
  font-weight: 400 !important;
}

.catalog-category-view .category-products li ul.labels li, .featured-products .category-products li ul.labels li, .products-list .category-products li ul.labels li {
  background-color: #ff9933;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
}

ul.category-products.row ul.labels {
  width: 45%
}

.navbar .navbar-brand img {
  width: 200px;
}

div.col-9.top-messages {
  padding-right: 0;
}

div.top-stripe div.col-3 {
  padding-right: 0;
}

div.share-container h3.title, div.share-container ul.rrssb-buttons li, div.share-container ul.rrssb-buttons, small.sku, div.share-container {
  display: inline-block !important;
}

div.share-container h3.title, small.sku {
  font-size: 13px !important;
  font-weight: 400 !important;
}

div.share-container ul.rrssb-buttons:after {
  content: '|'
}

ul.rrssb-buttons li span {
  font-size: 15px !important;
}

.customer-account-create input:not([type=checkbox]):not([type=radio]), .customer-account-create select:not([type=checkbox]):not([type=radio]), .customer-account-login input:not([type=checkbox]):not([type=radio]), .customer-account-login select:not([type=checkbox]):not([type=radio]) {
  border-radius: 0 !important;
}

div.account-create div.page-title h1, div.page-title h1, h2.legend, div.account-login div.content h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2.legend {
  margin-top: 50px !important;
}

span.siblings {
  font-weight: 600 !important;
  text-transform: uppercase;
}

div.ratings {
  margin-top: 10px !important;
}

.customer-account-forgotpassword input, .customer-account-forgotpassword select {
  border-radius: 0 !important;
}

.customer-account-forgotpassword button[type=submit], .customer-account-create button[type=submit], .customer-account-login button {
  border-radius: 0 !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-size: 14px;
}

button#send2 {
  display: block;
  margin-top: 10px;
}

button.btn.apply, button.btn.clear {
  max-width: 100% !important;
}

div#accordionExample div.card-header {
  background-color: rgba(255, 255, 255, 1) !important;
  padding: 5px 0px;
}

div.card-header h2 button.btn-link {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #000 !important;
}

div#accordionExample div.card {
  border: 0 solid #FFF !important;
}

div#accordionExample {
  margin-top: 40px;
}

button.btn.btn-link.collapsed ~ div.minus {
  display: none !important;
}

button.btn.btn-link.collapsed ~ div.plus {
  display: inline-block !important;
}

button.btn.btn-link ~ div.minus {
  display: inline-block !important;
}

button.btn.btn-link ~ div.plus {
  display: none !important;
}

div.plus, div.minus {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 0;
}

.tondo-taglie {
  display: inline-block;
  border-radius: 50%;
  padding: 2px 7px;
  margin-bottom: 2px;
  font-weight: 600;
}

.tondo-taglie.verde {
  background-color: #73bf5b;
  color: #000;
}

.tondo-taglie.azzurro {
  background-color: #6bb1c3;
  color: #000;
}

.tondo-taglie.arancione {
  background-color: #e66f57;
  color: #FFF;
}

.tondo-taglie.rosso {
  background-color: #bd2f39;
  color: #FFF;
}

div#checkout-agreements {
  height: 150px;
  overflow: auto;
}

h2.sub-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

div.size-info div.row div.col-sm-12 div.col-sm-12 div.d-inline-block {
  display: block !important;
}

table.size-chart.w-auto.table-sm {
  margin-bottom: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: table;
}

div.back-to-top {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
  color: #333;
  border: 3px solid #333;
  font-weight: bold;
  font-size: 10px;
  padding: 5px;
  background-color: #f1f1f1;
}

div.footer.row {
  display: none
}

span.regular-price span.price, span.price.special-price {
  font-size: 18px;
}

span.price.old-price {
  font-size: 14px !important;
}

span.price-excluding-tax {
  display: block
}

span.price-including-tax span.label {
  display: none
}

span.price-including-tax span.price {
  font-size: 18px;
  font-weight: bold
}

p.special-price span.price-label {
  display: none
}

span.price-excluding-tax {
  font-style: italic;
}

p.special-price span.price-excluding-tax {
  font-weight: 400 !important;
  color: #000
}

span.error {
  color: #bc001d;
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 1.8rem;
}

@media (max-width: 1025px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    padding-left: 0 !important;
    padding-right: 8px !important;
  }

  .navbar .navbar-brand img {
    width: 140px;
  }

  div.dropdown-menu ul.navbar-collapse li.nav-item a.nav-link {
    padding-left: 10px !important;;
  }

  div#mess1, div#mess2 {
    font-size: 10px !important;
    font-weight: 600
  }

  button.btn.apply, button.btn.clear {
    max-width: 100% !important;
  }
}

@media (max-width: 769px) {
  div.page-title h1.line-trough {
    border-bottom: 0 solid #FFF !important;
    margin-bottom: 20px !important;
  }

  div.page-title > br {
    display: none !important;
  }

  img.img-loghi-footer {
    width: 100%;
    max-width: 100px !important;
    height: auto !important;
  }

  .line-height-110 {
    line-height: 30px !important;
  }

  div.top-stripe div.col-3 {
    max-width: 100% !important;
    text-align: right !important;
    flex: 0 0 100% !important;
  }

  div.top-stripe div.col-9 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  div#mess1, div#mess2 {
    font-size: 10px !important;
    font-weight: 600
  }

  .navbar .minicart, .navbar > .dropdown {
    width: 8% !important;
  }

  div.dropdown.search {
    width: 19% !important;
  }

  button.navbar-toggler {
    width: 10% !important;
    background-color: transparent !important;
    font-size: 1.25rem;
  }

  a.navbar-brand {
    width: 50% !important;
    margin: 0 !important;
    padding: 0 !important;
    order: 2 !important;
  }

  span.title-before-review {
    font-size: 22px !important;
  }

  div#main-image-container {
    padding: 0 15px !important;
  }

  div.product-img-box div.row div.col-2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  div.product-essential.row div.product-img-box.col-8 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  div.product-essential.row div.col-4 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  div.row.size-chart-content div.col-5 {
    order: 2 !important;
    flex: 0 0 100%;
    max-width: 100%;
  }

  div.row.size-chart-content div.col-7 {
    order: 1 !important;
    flex: 0 0 100%;
    max-width: 100%;
  }

  div.row.size-chart-content div.col-7 table {
    margin-top: 30px !important;
  }

  div.cart-collaterals.row-fluid div.col-1.span4, div.cart-collaterals.row-fluid div.col-2.span4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  div.cart-collaterals.row-fluid div.totals.span4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 15px;
    margin-top: 30px;
  }

  div.buttons-set {
    margin-top: 15px;
  }

  .one-step-checkout .address-info-3-columns {
    width: 100%;
    margin: 0 !important;
  }

  .one-step-checkout .onestepcheckout-shipping-payment-review {
    width: 100%;
    margin: 0 !important;
  }

  .one-step-checkout .address-information .billing_address {
    width: 100%
  }

  .catalog-product-view .review-collection ul li {
    height: auto !important;
    margin-bottom: 40px !important;
  }

  div.main-container.col2-left-layout div.container div.row div.col-main.col-md-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  div.main-container.col2-left-layout div.container div.row div#left-column-container.col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
    box-shadow: 1px 1px 10px #DDD;
  }

  .catalog-category-view #left-column-container.offcanvas-collapse {
    top: 0;
  }

  .block.block-layered-nav li.attr-filter label {
    font-weight: 600 !important;
    font-size: 16px !important;
  }

  .block.block-layered-nav li.attr-filter label.selected, .block.block-layered-nav li.attr-filter label:hover {
    background-color: #CCC !important;
    color: #FFF !important;
  }

  ul.category-products.row ul.labels {
    width: 100%;
  }

  .navbar .minicart, .navbar > .dropdown {
    margin-top: 0;
  }

  div.dropdown.search, .navbar #navigation {
    margin-top: 0;
  }

  .customer-account-login .col-main, .customer-account-forgotpassword .col-main, .customer-account-create .col-main {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-left: 0;
  }

  table.size-chart.w-auto.table-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  ul.social {
    margin-right: 70px;
  }
}

@media (max-width: 576px) {
  #img-taglie img {
    width: 100%;
    max-width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
  }

  div.top-stripe div.container {
    padding: 0 15px !important;
  }

  ul.language-switcher {
    display: none
  }

  div#mess1, div#mess2 {
    display: block !important;
    width: 100%;
    text-align: center;
    font-size: 13px !important;
  }

  div#mess1 img, div#mess2 img {
    display: none
  }

  div.top-messages {
    padding: 10px 0 !important;
  }

  div#mess1 {
    margin-bottom: 10px;
  }

  a.navbar-brand {
    width: 45% !important;
    padding: 0 0 0 15px !important;
  }

  #search-container.dropdown-menu form {
    width: 80% !important;
  }

  #account-container.dropdown-menu {
    width: 80%;
    padding: 30px 15px !important;
    left: 10% !important;
  }

  #reviewCarousel {
    background-image: none !important;
  }

  div#navigation.offcanvas-collapse {
    top: 140px !important;
  }

  .catalog-category-view .category-title button {
    width: 20% !important;
  }

  div.product-essential.row div.product-img-box.col-8, div.product-essential.row div.col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  div.product-essential.row div.col-4 {
    margin-top: 25px !important;
  }

  .line-trough {
    margin: 50px 0 !important;
  }

  table#shopping-cart-table a.product-image {
    display: none
  }

  table#shopping-cart-table tfoot td button {
    display: block;
    width: 70%;
    margin: 5px auto !important;
    text-align: center !important;
  }

  .checkout-cart-index form.cart-form fieldset #shopping-cart-table tfoot * > :last-child, .checkout-cart-index form.cart-form fieldset #shopping-cart-table thead * > :last-child {
    text-align: center !important;
  }

  div.cart-collaterals.row-fluid div.col-1.span4, div.cart-collaterals.row-fluid div.col-2.span4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  div.cart-collaterals.row-fluid div.col-1.span4 {
    margin-bottom: 40px !important;
  }

  table#shopping-cart-table h2.product-name {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  table#shopping-cart-table tbody td {
    text-align: center !important;
  }

  div.osc-product-image {
    display: none !important;
  }

  .block.block-layered-nav li.attr-filter label {
    font-weight: 600 !important;
    font-size: 14px !important;
  }

  button.btn.apply {
    max-width: 60% !important;
  }

  div#reviewForm div.col-auto {
    width: 100% !important;
  }

  .customer-account-login .col2-set > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  ul.social {
    margin-right: 90px;
  }
}
