#reviewCarousel {
    background: url('../images/img_virgolette.png') no-repeat top left #eeeeee;
    text-align: center;
    @media (max-width: 800px) {
        background-image: none !important;
    }
    padding: 2*@default-spacer;
    > * {
        .title {
            font-family: 'Yanone Kaffeesatz', sans-serif !important;
            font-size: 35px;
            color: @red;
            line-height: 65px;
            display: block;
        }
        .product {
            font-style: italic;
            font-weight: bold;
            color: #333;
            font-size: 14px;
            display: block;
        }
        > p {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
