.flag-before {
  @flag-height: @top-stripe-icon-height;
  @flag-width: (@flag-height * 4)/3;
  content: "";
  background-size: @flag-width*1px @flag-height*1px;
  display: inline-block;
  height: @flag-height*1px;
  width: @flag-width*1px;
  vertical-align: middle;
}
.top-stripe {
  .language-switcher {
    &:extend(.inline all);
    text-transform: uppercase;
    > * {
      &:after {
        content: "/";
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
      > * {
        &:before {
          &:extend(.flag-before);
        }
        &.it {
          &:before {
            background-image: url("../images/it.svg");
          }
        }
        &.en {
          &:before {
            background-image: url("../images/gb.svg");
          }
        }
      }
    }
  }
}
