<?php
/**
 * @var $this Mage_Page_Block_Html_Breadcrumbs
 */

$crumbs = (array) $crumbs;
?>
<?php if ($crumbs): ?>
    <ul class="breadcrumbs">
        <?php foreach ($crumbs as $name => $info): ?>
            <li class="<?= $name ?>" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <?php if ($info['link']): ?>
                    <a href="<?= $info['link'] ?>" title="<?= $this->escapeHtml($info['title']) ?>" itemprop="url">
                        <span itemprop="title"><?= $this->escapeHtml($info['label']) ?></span>
                    </a>
                <?php elseif ($info['last']): ?>
                    <?= $this->escapeHtml($info['label']) ?>
                <?php else: ?>
                    <?= $this->escapeHtml($info['label']) ?>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
