<?php
/**
 * @var $this Mage_Page_Block_Html_Footer
 */
?>
<div class="footer-container">
    <div class="container">
        <?= $this->getChildHtml('footer.static') ?>
        <?= $this->getChildHtml('footer.banner') ?>
        <div class="footer row">
            <div class="col-4">
                <?= $this->getChildHtml('footer.payment') ?>
            </div>
            <div class="col-4">
                <address><?= $this->getCopyright() ?></address>
            </div>
            <div class="offset-1 col-3">
                <?= $this->getChildHtml('footer.social') ?>
            </div>
            <div id="back-top" class="hidden-phone"><a href="#" rel="tooltip" title="<?= $this->__('Top') ?>"></a></div>
        </div>
    </div>
</div>
