<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */

$logoUrl = $this->getSkinUrl('images/logo.png');
$logoRetinaUrl = $this->getSkinUrl('images/logo@2x.png');
?>
<div class="top-stripe">
    <div class="container">
        <div class="row">
            <div class="col-3"><?= $this->getChildHtml('store.switcher')?></div>
            <div class="col-9 top-messages text-right">
                <?= $this->getChildHtml('header.static.content')?>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light container" id="top-navbar">
    <?= $this->getChildHtml('header.static.logo')?>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas" data-toggle-all="offcanvas" data-target="navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navigation">
        <?= $this->getChildHtml('topMenu') ?>
    </div>
    <div class="dropdown search" role="button" data-toggle="toggle" data-target="#search-container" data-hover="false">
        <i class="bx bx-search" title="<?= $this->__('Search')?>"></i>
        <span title="<?= $this->__('Search')?>"><?= __('Search')?></span>
    </div>
    <div class="dropdown-menu" id="search-container">
        <?= $this->getChildHtml('topSearch') ?>
    </div>
    <div class="dropdown customer">
        <i class="bx bx-user" role="button" data-toggle="toggle" data-target="#account-container" data-hover="false" title="<?= $this->__('Account')?>"></i>
    </div>
    <div class="dropdown-menu" id="account-container">
        <?= $this->getChildHtml('customer.account.header')?>
    </div>
    <a href="<?= Mage::helper('checkout/cart')->getCartUrl()?>" class="minicart" title="<?= $this->__('My Cart')?>">
        <?php $qty = Mage::getSingleton('checkout/session')->getQuote()->getItemsCount() ?? 0 ?>
        <i class="bx bx-shopping-bag" title="<?= $this->__('My Cart')?>"></i>
        <span class="qty qty-<?= $qty?>" title="<?= $this->__('My Cart')?>"><?= $qty?></span>
    </a>
</nav>
<div class="row">
    <?= $this->getChildHtml('topContainer'); ?>
</div>
