<?php
    $_zoom_w = Mage::getStoreConfig('prozoom/prozoom_config/zoom_w');
    $_zoom_h = Mage::getStoreConfig('prozoom/prozoom_config/zoom_h');
	$_border_w = Mage::getStoreConfig('prozoom/prozoom_config/zoom_border_w');
	$_border_color = Mage::getStoreConfig('prozoom/prozoom_config/zoom_border_color');
    $_lightbox_w = Mage::getStoreConfig('prozoom/prozoom_config/lightbox_w');   
    $_lightbox_h = Mage::getStoreConfig('prozoom/prozoom_config/lightbox_h');
    $_thumbnail_qty = Mage::getStoreConfig('prozoom/prozoom_config/thumbnail_qty');   
    $_thumbnail_w = Mage::getStoreConfig('prozoom/prozoom_config/thumbnail_w');
    $_thumbnail_h = Mage::getStoreConfig('prozoom/prozoom_config/thumbnail_h');
	$_scroll_qty = Mage::getStoreConfig('prozoom/prozoom_config/scroll_qty');
	$_auto = Mage::getStoreConfig('prozoom/prozoom_config/auto_scroll');
	$_zoom_type = Mage::getStoreConfig('prozoom/prozoom_config/zoom_type');
	$_inner_zoom_w = Mage::getStoreConfig('prozoom/prozoom_config/inner_zoom_w');
    $_inner_zoom_h = Mage::getStoreConfig('prozoom/prozoom_config/inner_zoom_h');
    $_aspect_ratio = Mage::getStoreConfig('themeoptions/themeoptions_config/aspect_ratio');
?>
<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<div class="row-fluid">
	<div class="span2">
		

			<div class="vertical-thumbnail-container visible-desktop">
				<div class="vjcarousel">
					<ul>
					
					<?php foreach ($this->getGalleryImages() as $_image): ?>
					
						<li>
							


							<?php if($_aspect_ratio){ ?>
							<a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(1000,null); ?>" class="cloud-zoom-gallery" title="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($_lightbox_w, $_lightbox_h); ?>" rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(500,null); ?>'">
        
		                    <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($_thumbnail_w, null); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" class="image-retina" retina-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($_thumbnail_w*2,null); ?>" width="<?php echo $_thumbnail_w;  ?>" />

		                    </a>

		                    <?php }else{ ?>
		                    <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(1000,1330); ?>" class="cloud-zoom-gallery" title="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($_lightbox_w, $_lightbox_h); ?>"
												rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(500,670); ?>'">
		                    
		                    <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($_thumbnail_w, $_thumbnail_h); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" class="image-retina" retina-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($_thumbnail_w*2, $_thumbnail_h*2); ?>" width="<?php echo $_thumbnail_w;  ?>" />

		                    <?php } ?>


							
						</li>
						
					<?php endforeach; ?>
					</ul>

					
				</div>
		
				<?php if (count($this->getGalleryImages()) > 6 ) { ?>
				<a class="vjcarousel-prev">Prev</a>
    			<a class="vjcarousel-next">Next</a>
    			<?php } ?>


				<script type="text/javascript">
					$jq(function() {
					    $jq('.vjcarousel').jcarousel({
					        vertical: true,
					        scroll: 1,
					        auto: 2,
					        wrap: 'circular'
					    });

					    $jq('.vjcarousel-prev').click(function() {
						    $jq('.vjcarousel').jcarousel('scroll', '-=1');
						});

						$jq('.vjcarousel-next').click(function() {
						    $jq('.vjcarousel').jcarousel('scroll', '+=1');
						});

					});
				</script>
			</div>

			<style type="text/css">
				.vertical-thumbnail-container .flex-viewport { height: 504px !important;  }

				/*
					This is the visible area of you carousel.
					Set a width here to define how much items are visible.
					The width can be either fixed in px or flexible in %.
					Position must be relative!
					*/
					.vjcarousel {
					    position: relative;
					    overflow: hidden;
					}

					/*
					This is the container of the carousel items.
					You must ensure that the position is relative or absolute and
					that the width is big enough to contain all items.
					*/
					.vjcarousel ul {
					    width: 20000em;
					    position: relative;

					    /* Optional, required in this case since it's a <ul> element */
					    list-style: none;
					    margin: 0;
					    padding: 0;
					    height: 504px !important;
					}

					/*
					These are the item elements. jCarousel works best, if the items
					have a fixed width and height (but it's not required).
					*/
					.vjcarousel li {
					    /* Required only for block elements like <li>'s */
					    margin-bottom: 4px;
					}
			</style>

	</div>


<div class="span10">
		
<p class="product-image">

	<?php if($_aspect_ratio){ ?>

		<?php  $_img = '<img itemprop="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(500,null).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" class="image-retina" retina-image="'.$this->helper('catalog/image')->init($_product, 'image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(500*2,null).'" width="500" />';
	    ?>

	    <!-- images for lightbox -->
		<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($_lightbox_w, null); ?>" class= "a-lighbox" rel="lightbox[rotation]"></a>

		<!--++++++++++++-->
		<?php if($_zoom_type == 'regular' ) { ?>
		<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(1000,null); ?>" class = "cloud-zoom" id="zoom1" style="position: relative; display: block;" rel="adjustX:10, adjustY:-2, zoomWidth:<?php echo $_zoom_w; ?>, zoomHeight:<?php echo $_zoom_h; ?>, showTitle:false">
		<?php } else { ?>
		<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($_inner_zoom_w, null); ?>" class="cloud-zoom" id="zoom1" style="position: relative; display: block;" rel="position:'inside', adjustX: 0, adjustY: 0, tint:'#ffffff', tintOpacity:0.1, smoothMove:3, showTitle:false">
		<?php } ?>
		
			<?php echo $_helper->productAttribute($_product, $_img, 'image'); ?>
		</a>

	<?php } else { ?>

	    <?php  $_img = '<img itemprop="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(500,670).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" class="image-retina" retina-image="'.$this->helper('catalog/image')->init($_product, 'image')->resize(500*2,670*2).'" />';
	    ?>

		<!-- images for lightbox -->
		<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($_lightbox_w, $_lightbox_h); ?>" class= "a-lighbox" rel="lightbox[rotation]"></a>

		<!--++++++++++++-->
		<?php if($_zoom_type == 'regular' ) { ?>
		<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(1000,1330); ?>" class = "cloud-zoom" id="zoom1" style="position: relative; display: block;" rel="adjustX:10, adjustY:-2, zoomWidth:<?php echo $_zoom_w; ?>, zoomHeight:<?php echo $_zoom_h; ?>, showTitle:false">
		<?php } else { ?>
		<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($_inner_zoom_w, $_inner_zoom_h); ?>" class="cloud-zoom" id="zoom1" style="position: relative; display: block;" rel="position:'inside', adjustX: 0, adjustY: 0, tint:'#ffffff', tintOpacity:0.1, smoothMove:3, showTitle:false">
		<?php } ?>
		
			<?php echo $_helper->productAttribute($_product, $_img, 'image'); ?>
		</a>

	<?php } ?>



</p>
	


	<div class="more-views thumbnail-container horizontal hidden-desktop">
				<h2><?php echo $this->__('More Views') ?></h2>
				<div class="flexslider carousel">
					<ul class="slides">
					
					<?php foreach ($this->getGalleryImages() as $_image): ?>
					
						<li class="thumbnail-item">

							<?php if($_aspect_ratio){ ?>

								<a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(1000,null); ?>" class="cloud-zoom-gallery" title="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($_lightbox_w, $_lightbox_h); ?>" rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(500,null); ?>'">
								<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($_thumbnail_w, null); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" class="image-retina" retina-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($_thumbnail_w*2, null); ?>" width="<?php echo $_thumbnail_w; ?>"/></a>

							<?php } else { ?>

								<a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(1000,1330); ?>" class="cloud-zoom-gallery" title="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($_lightbox_w, $_lightbox_h); ?>"
													rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(500,670); ?>'">
								<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($_thumbnail_w, $_thumbnail_h); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" class="image-retina" retina-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($_thumbnail_w*2, $_thumbnail_h*2); ?>" width="<?php echo $_thumbnail_w; ?>" /></a>

							<?php } ?>

						</li>
						
					<?php endforeach; ?>
					</ul>
				</div>
				<?php //thumbnail for lighbox ?>
					<ul class="mt-thumb-light" style="display:none;">
						<?php foreach ($this->getGalleryImages() as $_image): ?>
							<li>
								<a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($_lightbox_w, $_lightbox_h); ?>" rel="lightbox[rotation]" title="<?php echo $_product->getName();?>"></a>
							</li>
						<?php endforeach; ?>                                                                
					</ul>
				<?php //--##########-- ?>
				<script type="text/javascript">
					//<![CDATA[
						$jq('.thumbnail-container .flexslider').flexslider({
							<?php if( !$_auto ) { ?>
							slideshow: false,
							<?php } ?>
							itemWidth: <?php echo $_thumbnail_w ?>,
							itemMargin: 5,
							minItems: 2,
							maxItems: 6,
							<?php if (count($this->getGalleryImages()) < 5 ) { ?>
							directionNav: false,
							<?php } ?>
							controlNav: false,
							slideshowSpeed: 3000,
							animationSpeed: 500,
							animation: "slide"
						});		
					//]]>
				</script>
	</div>

	
	<div class="product-social" style="border-top:1px solid #d6d6d6;padding-top:10px;margin:10px 20px;text-align:center;">
				<?php if (Mage::getStoreConfig('themeoptions/themeoptions_config/social_buttons')): ?>
		        	<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
					<a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_pinterest_share"></a>
					<a class="addthis_button_google_plusone_share"></a>
					<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52917fd70fb674a5"></script>
					<!-- AddThis Button END -->
				<?php endif ?>
	</div>
	
	</div>
</div>