<?php
/**
 * @var $this Mage_Core_Block_Template
 * @var $helper Mage_Catalogsearch_Helper_Data
 */

$helper =  $this->helper('catalogsearch');
$placeHolder = $this->__('Search Onecashmere');
?>
<div class="form-group">
    <form id="search_mini_form" action="<?= $helper->getResultUrl() ?>" method="get">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <input id="search" type="text" name="<?= $helper->getQueryParamName() ?>" placeholder="<?= $placeHolder ?>" class="form-control" maxlength="<?= $helper->getMaxQueryLength();?>" />
        </div>
        <div id="search_autocomplete" class="search-autocomplete"></div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?= $placeHolder ?>');
    searchForm.initAutocomplete('<?= $helper->getSuggestUrl() ?>', 'search_autocomplete');
    //]]>
</script>
