<?
/**
 * @var $this Mage_Core_Block_Template
 * @var $product Mage_Catalog_Model_Product
 */

$product = Mage::registry('current_product');
?>
<div class="share-container">
    <h3 class="title"><?= $this->__('Share on')?></h3>
    <ul class="rrssb-buttons">
        <li class="rrssb-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u=<?= $product->getProductUrl()?>" class="popup" rel="nofollow" title="Onecashmere on Facebook" target="_blank">
                <span class="bx bxl-facebook-square"></span>
            </a>
        </li>
        <li class="rrssb-pinterest">
            <a href="http://pinterest.com/pin/create/button/?url=<?= $product->getProductUrl()?>&description=<?= urlencode($product->getName())?>" title="Onecashmere on Pinterest" target="_blank">
                <span class="bx bxl-pinterest"></span>
            </a>
        </li>
    </ul>
    <div style="clear: both"></div>
</div>
