<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?= $this->getLang() ?>" lang="<?= $this->getLang() ?>">
    <head>
    <?= $this->getChildHtml('head') ?>
    <?= $this->getChildHtml('page.head.right.before.close') ?>
    </head>
    <body class="col1-layout <?= $this->getBodyClass() ?>">
    <?= $this->getChildHtml('after_body_start') ?>
    <div class="wrapper">
        <?= $this->getChildHtml('global_notices') ?>
        <?= $this->getChildHtml('header') ?>
        <?= $this->getChildHtml('ma_banner') ?>
        <div class="main-container">
            <?= $this->getChildHtml('ma_bannerstatic') ?>
            <?= $this->getChildHtml('breadcrumbs') ?>
            <div class="row">
                <div class="col-main">
                    <?= $this->getChildHtml('global_messages') ?>
                    <?= $this->getChildHtml('content') ?>
                </div>
            </div>
        </div>
    </div>
    <?= $this->getChildHtml('footer') ?>
    <?= $this->getChildHtml('before_body_end') ?>
    <?= $this->getAbsoluteFooter() ?>
    </body>
</html>
