<?php
/**
 * @var $this Mage_Catalog_Block_Layer_View
 * @var $filter Mage_Catalog_Block_Layer_Filter_Abstract
 */
?>
<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav">
    <div class="block-content">
        <?php if($this->canShowOptions()): ?>
            <dl id="narrow-by-list">
                <?php foreach ($this->getFilters() as $filter): ?>
                <?php if($filter->getItemsCount()): ?>
                    <?php $id = uniqid('filter_') ?>
                    <dt class="<?= $filter->getNameInLayout()?> collapsed" data-toggle="collapse" data-target="#<?= $id?>">
                        <i class="bx bx-plus"></i>
                        <span><?= $this->__($filter->getName()) ?></span>
                    </dt>
                    <dd id="<?= $id?>" class="collapse <?= $filter->getNameInLayout()?>">
                        <?= $filter->getHtml() ?>
                        <?php if ($filter->getNameInLayout() !== 'category_filter'): ?>
                        <div class="button-container text-right">
                            <button type="submit" class="btn apply" data-form="form-<?= $filter->getNameInLayout()?>"><?= $this->__('Apply')?></button>
                        </div>
                        <?php endif; ?>
                    </dd>
                <?php endif; ?>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
