<?php
/**
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 * @var $this Mage_Core_Block_Template
 * @var $product Mage_Catalog_Model_Product
 */

$product = $this->getProduct();
$labels = array_filter(explode(',', (string) $product->getData('labels')));
?>
<ul class="labels">
    <?php foreach ($labels as $label): ?>
        <li class="py-1 px-2 mb-1 <?= $label?>"><?= $this->__(ucfirst($label))?></li>
    <?php endforeach; ?>
</ul>
