/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.banner7-container .flex-container a:active,
.banner7-container .flexslider a:active,
.banner7-container .flex-container a:focus,
.banner7-container .flexslider a:focus  {outline: none;}
.banner7-container .slides,
.banner7-container .flex-control-nav,
.banner7-container .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/
.banner7-container { margin: 0; }
.banner7-container .flexslider {margin: 0; padding: 0; border-bottom: 1px solid #c6c6c7; }
.banner7-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.banner7-container .flexslider .slides img {width: 100%; display: block;}
.banner7-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.banner7-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .banner7-container .slides {display: block;} 
* html .banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.banner7-container .flexslider {margin: 0 0; position: relative; zoom: 1;}
.banner7-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.banner7-container .loading .flex-viewport {max-height: 300px;}
.banner7-container .flexslider .slides {zoom: 1;}

.banner7-container .carousel li {margin-right: 5px}


/* Direction Nav */
.banner7-container .flex-direction-nav {*height: 0;}
.banner7-container .flex-direction-nav a {
	border:1px solid #d6d6d6; 
	width: 35px; 
	height: 35px; 
	margin: -20px 0 0; 
	display: block; 
	background: url(../images/btn-slideshow.png) no-repeat 0 0; 
	position: absolute; 
	bottom: 10px;
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-transition: background-position 200ms;
	-moz-transition: background-position 200ms;
	-ms-transition: background-position 200ms;
	-o-transition: background-position 200ms;
	transition: background-position 200ms; 
}
.banner7-container .flex-direction-nav .flex-next { background-position: 100% 0; right: 10px; }
.banner7-container .flex-direction-nav .flex-next:hover { background-position: 100% 100%; }
.banner7-container .flex-direction-nav .flex-prev { right: 55px; }
.banner7-container .flex-direction-nav .flex-prev:hover { background-position: 0 100%; }
.banner7-container .flexslider:hover .flex-next { }
.banner7-container .flexslider:hover .flex-prev { }
.banner7-container .flexslider:hover .flex-next:hover, .banner7-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.banner7-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.banner7-container .flex-control-nav { position: absolute; top: 10px; left: 10px;  text-align: center;}
.banner7-container .flex-control-nav li { margin: 0 3px; display: inline-block; zoom: 1; *display: inline; border: 1px solid #fff; }
.banner7-container .flex-control-paging li a {width: 10px; height: 10px; display: block; cursor: pointer; text-indent: -9999px; }
.banner7-container .flex-control-paging li a:hover { cursor: pointer; }
.banner7-container .flex-control-paging li a.flex-active {  cursor: default; background: #f2f2f2;}

.banner7-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.banner7-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.banner7-container .banner7-caption {
  	width:750px;
	/* background: url(../images/banner-des.png); */
	/* padding: 5px 2% 25px; */
	position: absolute;
	bottom: 20px;
	margin-left: 20px;
	font-size: 18px;
	font-family:'Open Sans' sans-serif;
	text-align: left;
}
.banner7-container .banner7-caption h2 {
	font-size: 30px;
	text-transform: uppercase;
}
.banner7-container .banner7-caption h2 span { font-size:43px; }
.banner7-container .loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat 50% 50% ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	min-height: 210px;
}


