/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.brand-slider-contain .flex-container a:active,
.brand-slider-contain .flexslider a:active,
.brand-slider-contain .flex-container a:focus,
.brand-slider-contain .flexslider a:focus  {outline: none;}
.brand-slider-contain .slides,
.brand-slider-contain .flex-control-nav,
.brand-slider-contain .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.brand-slider-contain .flexslider {margin: 0; padding: 0;}
.brand-slider-contain .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.brand-slider-contain .flexslider .slides img { display: inline-block;}
.brand-slider-contain .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.brand-slider-contain .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .brand-slider-contain .slides {display: block;} 
* html .brand-slider-contain .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .brand-slider-contain .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.brand-slider-contain .flexslider {margin: 0 0; position: relative; zoom: 1;}
.brand-slider-contain .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.brand-slider-contain .loading .flex-viewport {max-height: 300px;}
.brand-slider-contain .flexslider .slides {zoom: 1;}

.brand-slider-contain .carousel li {margin-right: 5px; text-align: center; }


/* Direction Nav */
.brand-slider-contain .flex-direction-nav {*height: 0;}

.brand-slider-contain .flexslider:hover .flex-next { }
.brand-slider-contain .flexslider:hover .flex-prev { }
.brand-slider-contain .flexslider:hover .flex-next:hover, .brand-slider-contain .flexslider:hover .flex-prev:hover {opacity: 1;}
.brand-slider-contain .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.brand-slider-contain .flex-control-nav {width: 100%; position: absolute; top: -16px; text-align: center;}
.brand-slider-contain .flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.brand-slider-contain .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #aaa; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.brand-slider-contain .flex-control-paging li a:hover { background: #fff; }
.brand-slider-contain .flex-control-paging li a.flex-active { background: #fff; cursor: default; }

.brand-slider-contain .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.brand-slider-contain .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.brand-slider-contain .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.brand-slider-contain .flex-control-thumbs img:hover {opacity: 1;}
.brand-slider-contain .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.brand-slider-contain .sliderproduct-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}