.pt_custommenu {
    position:relative;
    z-index:1000;
    font-size: 14px;
    margin: 0 auto;
    
    border-bottom: 1px solid #c6c6c7;
}

.sticky .pt_custommenu {
    border: 0;  
    padding: 5px 0 0;
}

.pt_custommenu div.pt_menu {
    float: left;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    line-height: 1.3em;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.pt_custommenu div.pt_menu.active {
    background-color:transparent;
}
.pt_custommenu div.popup {
    position: absolute;
    z-index: 3000;
    background-color: #fdfdfd;
    text-align: left;
    padding: 20px 0 20px;
    margin: 0;
    border-top: 1px solid #c6c6c7;
    border-bottom: 1px solid #c6c6c7;
}
.pt_custommenu div.pt_menu .parentMenu a:hover,
.pt_custommenu div.pt_menu .parentMenu span.block-title:hover,
.pt_custommenu #pt_menu_link ul li a.act,
.pt_custommenu #pt_menu_link ul li a:hover,
.pt_custommenu div.pt_menu.act {
    background-color:transparent;
}
.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}
.pt_custommenu div.pt_menu.active:after,
.pt_custommenu div.pt_menu.act:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #8bc557!important;
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-out;
    -ms-transition: background-color 400ms ease-out;
    -o-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
}
.pt_custommenu #pt_menu_home:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-out;
    -ms-transition: background-color 400ms ease-out;
    -o-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
}
.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemMenu a.level1{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    color: #444546;
    border-bottom: 1px dotted #adaeaf;
    margin-bottom: 5px;
}
.pt_custommenu .itemMenu a.level1:hover { text-decoration: underline; }
.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemSubMenu h4.level2 span{
    color: #897725;
}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu a.level1.nochild{
    color: #697071;
    text-transform: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
}
.pt_custommenu .itemSubMenu a.level2:hover,
.pt_custommenu .itemMenu a.level1.nochild:hover{
    text-decoration: underline;
}
.pt_custommenu div.popup a.actParent {
    color: #4D4D4D;
}
.pt_custommenu div.popup a.act {
    color: #A52A2A !important;
}
.pt_custommenu div.column {
    float: left;
    width: 170px;
    padding: 0 0 0 20px;
    
}
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.itemSubMenu {
    
}

.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
    padding: 20px;
    padding-bottom: 0px;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}

