.mousetrap {
	width: 100% !important;
	height: 100% !important;
}
.cloud-zoom img { width: 100%; }
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 1px solid #ccc;
	margin:-1px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	
	overflow:hidden;
	background: #fff;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
	display:none;
}
.product-view .product-img-box .product-image-zoom
	{		
		border: 2px solid #CCCCCC;
	}

.a-lighbox
	{
		display:none;
	}
/*##########--------------##########*/
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100002; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{/* background: url(../images/loading.gif) 50% 50% no-repeat;*/ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif;  background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 80%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
/*
#imageData #bottomNavClose{ background:url(../images/closelabel.gif) no-repeat 0 0; width: 66px; height:22px; float: right;  padding-bottom: 0.7em; outline: none;}	 	
*/
#overlay{ position: absolute; top: 0; left: 0; z-index:100001; width: 100%; height: 500px; background-color: #000; }
