<?php
/**
 * @var $this Mage_Core_Block_Template
 */
?>
<!-- ko with: configurableOptions -->
<div class="price-box" id="product-price-box">
    <!-- ko with: product -->
    <!-- ko if: specialPrice -->
    <span class="price old-price" data-bind="attr: {id: 'old-price-'+productId}, text: $root.toDisplayPrice(price)"></span>
    <span class="price special-price" data-bind="attr: {id: 'product-price-'+productId}, text: $root.toDisplayPrice(specialPrice)"></span>
    <!-- /ko -->
    <!-- ko ifnot: specialPrice -->
    <span class="price" data-bind="attr: {id: 'product-price-'+productId}, text: $root.toDisplayPrice(price)"></span>
    <!-- /ko -->
    <!-- ko if: showBothPrices -->
    <span class="price-excluding-tax">
                <!-- ko if: specialPrice -->
                <span class="label" data-bind="text: excludingTaxLabel"></span>
                <span class="price old-price" data-bind="attr: {id: 'old-price-excluding-tax'+productId}, text: $root.toDisplayPrice(priceExcludingTax)"></span>
                <span class="price special-price" data-bind="attr: {id: 'product-price-excluding-tax'+productId}, text: $root.toDisplayPrice(specialPriceExcludingTax)"></span>
        <!-- /ko -->
        <!-- ko ifnot: specialPrice -->
                <span class="label" data-bind="text: excludingTaxLabel"></span>
                <span class="price" data-bind="attr: {id: 'product-price-excluding-tax'+productId}, text: $root.toDisplayPrice(priceExcludingTax)"></span>
        <!-- /ko -->
                </span>
    <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
