<?php
/**
 * @var $this Onecashmere_Catalog_Block_Product_View_SizeFile
 */

?>
<?php if ($this->getChart()): ?>
<div class="size-info">
    <h2 id="size-chart-anchor" class="line-trough"><span><?= $this->__('Size Info') ?></span></h2>
    <div class="row">
        <div class="col-sm-12 text-center">
            <table class="size-chart w-auto table-sm table-responsive">
                <thead>
                <tr class="chart-nav">
                    <th><?= $this->__('Sizes') ?></th>
                    <?php foreach ($this->getFirstLine() as $i => $head): ?>
                        <?php if ($head): ?>
                            <th><?= $this->__($head) ?></th>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->getLines() as $line): ?>
                <tr>
                    <?php foreach ($line as $info): ?>
                    <td><?= $this->__($info) ?></td>
                    <?php endforeach; ?>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <strong><?= $this->__('On all sizes there is a tolerance of about 1 cm.')?>></strong>
            <div class="col-sm-12 text-center">
                <div class="d-inline-block">
                    <?= $this->getChildHtml('size.chart.cms.block') ?>
                    <?= $this->getChildHtml('size.chart.cms.block.description') ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
