<?php	
	$productfiles = $this->getProductfile();
	//Zend_debug::dump($productfiles->getData()); 
	if (count($productfiles))
	{ 
	?>
	<h2 class="short-description"><?php echo $this->__('File downloads') ?></h2>
	<?php
	foreach ($productfiles as $productfile)
	{ 
		if ($productfile->getStatus() == 1){			
		$string = $productfile->getFilename();
		
		switch ($productfile->getFileextension()){
		case "application/zip":
		case "application/x-rar-compressed":
		$src = Mage::getBaseUrl('media').'icons/icon_package_get.gif';
		break;
		case "image/jpeg":
		case "image/gif":
		case "image/jpg":
		case "image/png":
		$src = Mage::getBaseUrl('media').'icons/image.gif';
		break;
		case "application/pdf":
		$src = Mage::getBaseUrl('media').'icons/file_acrobat.gif';
		break;
		case "application/msword":
		case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
		$src = Mage::getBaseUrl('media').'icons/ms_word_icon.jpg';
		break;
		case "application/vnd.ms-excel":
		case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
		$src = Mage::getBaseUrl('media').'icons/excel.jpg';
		break;
		case "application/vnd.ms-powerpoint":
		case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
		$src = Mage::getBaseUrl('media').'icons/powerpoint.jpg';
		break;
		default:
		$src = Mage::getBaseUrl('media').'icons/icon_attachment.gif';
		}
		
		?>
	<div  class="productfile_all_div" >
		<table width="100%">
		<tr>
		
		<td width="80%">
		<?php
			switch ($productfile->getFileextension()){
			case "application/pdf":
			case "application/msword":
						
		?>
			<img src = <?php echo $src ?> />
			<a id="productfile_all_div_<?php echo $productfile->getId() ?>" target="_blank" href= "<?php echo $this->getUrl('productfile/index/view',array('fileid'=>$productfile->getId()))?>" title="<?php echo $productfile->getContent() ?>"><?php echo $productfile->getTitle();?></a>
		<?php  
			break;
			default:	
		?>	
			<img src = <?php echo $src ?> />
			<a id="productfile_all_div_<?php echo $productfile->getId() ?>" target="_blank" href= "<?php echo Mage::getBaseUrl('media').'productfile/'.strtolower($string[0]).'/'.strtolower($string[1]).'/'.strtolower($productfile->getFilename())?> "><?php echo $productfile->getTitle();?></a>
		<?php	
			break;
			}
		?>	
			<font size = "1"><?php echo "(".Mage::helper('productfile')->Format_size($productfile->getFilesize()).")";?></font>
		</td>
		
		<td>
		<a target="_blank" href= "<?php echo Mage::getBaseUrl('media').'productfile/'.strtolower($string[0]).'/'.strtolower($string[1]).'/'.strtolower($productfile->getFilename())?> " title="Click here to download"><b>Download</b></a>
		</td>
		
		</tr>	
		</table>
	</div>
	<?php if ($productfile->getContent())
	{ ?>
	<div id="productfile_all_tooltip_<?php echo $productfile->getId() ?>" class="productfile_tooltip productfile_protoClassic" style="visibility: visible;" >
		<div class="productfile_toolbar" style="width: 100%;">
			<div class="title" style="">
				<?php echo $this->__('Description');?>
			</div>
		</div>
		<div class="content">
			<?php
			echo $productfile->getContent();
			?>
		</div>
	</div>
	<script type="text/javascript">
		new Tooltip('productfile_all_div_<?php echo $productfile->getId() ?>', 'productfile_all_tooltip_<?php echo $productfile->getId() ?>');
	</script>			
	
	<?php
	}
	}
	}
	}
	?>

	
