<?php 

$fileid = $this->getRequest()->getParam('fileid');
$productfile = Mage::getModel('productfile/productfile')->load($fileid);
$filename = $productfile->getFilename();
$tring = $filename;

?>
<p align="right">
 <a href= "<?php echo Mage::getBaseUrl('media').'productfile/'.strtolower($tring[0]).'/'.strtolower($tring[1]).'/'.strtolower($tring)?> " target="_blank">
    <b>Download File</b>
  </a>
  <br>
  <iframe src="http://docs.google.com/gview?url=<?php echo Mage::getBaseUrl('media').'productfile/'.strtolower($tring[0]).'/'.strtolower($tring[1]).'/'.strtolower($tring) ?>&amp;embedded=true" style="width: 100%; height: 100%;" frameborder="0">
  </iframe>
</p>