<div class="billing_address">
    <h3 id="billing_step_header" class="step_1"><?=($this->__("Billing Address")); ?></h3>
    <?php if ($this->customerHasAddresses()): ?>
        <p class="label"><?= $this->__('Select a billing address from your address book or enter a new address.') ?></p>
        <ul>
            <li>
                <p><?= $this->getAddressesHtmlSelect('billing') ?></p>
            </li>
            <li><input type='hidden' name='islogin2' id='islogin2' value='1'/></li>
        </ul>
    <?php endif; ?>
    <fieldset class="group-select" id="billing-new-address-form" <?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <input type="hidden" name="billing[address_id]" value="<?= $this->getBillingAddress()->getId() ?>" id="billing:address_id" />
        <ul>
            <?php $helper = Mage::helper('onestepcheckout') ?>
            <?php $fieldValue = $helper->getFieldValue() ?>
            <?php $fields = $helper->getFieldEnables() ?>
            <?php $customer = $this->getCurrentCustomer() ?>
            <?php $checkCountry = 0 ?>
            <?php $checkRegion = 0 ?>
            <?php $row = 0; ?>
            <?php for ($i = 0; $i < 20; $i++): ?>
                <?php if ($fields[$i]['value'] == 'country') $checkCountry = 1 ?>
                <?php if ($fields[$i]['value'] == 'region') $checkRegion = 1 ?>
                <?php if (Mage::getSingleton('customer/session')->isLoggedIn() && $fields[$i]['value'] == 'email') continue; ?>
                <?php if (!$fields[$i]['value'] || $fields[$i]['value'] == '0') continue; ?>
                <?php if (($i % 2 == 0) || (($i % 2 != 0) && (!$fields[$i - 1]['value'] || $fields[$i - 1]['value'] == '0' || (Mage::getSingleton('customer/session')->isLoggedIn() && $fields[$i - 1]['value'] == 'email')))): ?>
                    <li>
                <?php endif ?>
                <?php if ((($i % 2 == 0) && ($fields[$i]['value'] && $fields[$i]['value'] != '0') && (!$fields[$i + 1]['value'] || $fields[$i + 1]['value'] == '0' || (Mage::getSingleton('customer/session')->isLoggedIn() && $fields[$i + 1]['value'] == 'email'))) || (($i % 2 != 0) && ($fields[$i]['value'] && $fields[$i]['value'] != '0') && (!$fields[$i - 1]['value'] || $fields[$i - 1]['value'] == '0' || (Mage::getSingleton('customer/session')->isLoggedIn() && $fields[$i - 1]['value'] == 'email')))):
                ?>
                <div class="one-field">
                <?php else: ?>
                <div class="two-fields <?php if ($row % 2 != 0) echo 'last' ?>">
                <?php $row++; ?>
            <?php endif ?>
                <?php if (!$fields[$i]['value'] || $fields[$i]['value'] == '0') continue; ?>
                <?php if ($fields[$i]['value'] == 'street'): ?>
                    <label   <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>class="required" <?php endif ?> for="billing:street1">
                        <?= $this->__('Address') ?>
                        <em>*</em>
                    </label><br />
                <input  type="text" title="<?= $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?= $this->htmlEscape($this->getBillingAddress()->getStreet(1)) ?>" class="<?php if ($helper->getFieldRequire($fields[$i]['value'])) echo 'required-entry'; ?> input-text"/>
                    <label for="<?= "billing:street2" ?>">
                        <?= $this->__("Address line 2") ?>
                    </label>
                <input type="text" title="<?= $this->__('Street Address ' . '2') ?>" name="billing[street][]" id="<?= "billing:street2" ?>" value="<?= $this->htmlEscape($this->getBillingAddress()->getStreet(2)) ?>" class="input-text" />
                <?php elseif ($fields[$i]['value'] == 'country'): ?>
                    <label <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>class="required"  <?php endif ?>  for="billing:country_id"><?= $this->__('Country') ?>
                        <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>
                            <em>*</em>
                        <?php endif ?>
                    </label><br />
                <?= $this->getCountryHtmlSelect('billing') ?>
                <?php if (!$helper->getFieldRequire($fields[$i]['value'])): ?>
                    <script type="text/javascript">
                        if ($('billing:country_id'))
                            $('billing:country_id').removeClassName('validate-select');
                    </script>
                <?php endif ?>
                <?php elseif ($fields[$i]['value'] == 'region'): ?>
                    <label  <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>class="required"<?php endif ?>  for="billing:region"><?= $this->__('State/Province') ?>
                        <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>
                            <em>*</em>
                        <?php endif ?>
                    </label><br/>
                    <select id="billing:region_id" name="billing[region_id]" title="<?= $this->__('State/Province') ?>" class="<?php if ($helper->getFieldRequire($fields[$i]['value'])) echo "validate-select"; ?>" style="display:none;width:135px;" >
                        <option value=""><?= $this->__('Please select region, state or province') ?></option>
                    </select>
                <?php if (!$helper->enableGeoip()): ?>
                    <script type="text/javascript">
                        $('billing:region_id').setAttribute('defaultValue', "<?= $this->htmlEscape($this->getBillingAddress()->getRegionId()) ?>");
                    </script>
                <?php endif; ?>
                <input type="text" id="billing:region" name="billing[region]" value="<?= $this->htmlEscape($this->getBillingAddress()->getRegion()) ?>"  title="<?= $this->__('State/Province') ?>" class="<?php if ($helper->getFieldRequire($fields[$i]['value'])) echo 'required-entry'; ?> input-text" style="display:none" />
                <?php if (!$helper->getFieldRequire($fields[$i]['value'])): ?>
                    <script type="text/javascript">
                        if ($('billing:region_id'))
                            $('billing:region_id').removeClassName('validate-select');
                    </script>
                <?php endif ?>
                <?php elseif ($fields[$i]['value'] == 'prefix'): ?>
                <?php $customerNameBlock = Mage::getBlockSingleton('customer/widget_name') ?>
                    <label  <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>class="required"<?php endif ?>  for="billing:prefix"><?= $this->__('Prefix Name') ?>
                        <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>
                            <em>*</em>
                        <?php endif ?>
                    </label><br />
                    <?php if ($customerNameBlock->getPrefixOptions() === false): ?>
                <input type="text" id="<?= $customerNameBlock->getFieldId('prefix') ?>" name="billing[<?= $customerNameBlock->getFieldName('prefix') ?>]" value="" title="<?= $this->__('Prefix') ?>" class="input-text <?php if ($helper->getFieldRequire($fields[$i]['value'])) echo "required-entry"; ?>" <?= $customerNameBlock->getFieldParams() ?> />
                <?php else: ?>
                    <select id="<?= $customerNameBlock->getFieldId('prefix') ?>" name="billing[<?= $customerNameBlock->getFieldName('prefix') ?>]" title="<?= $this->__('Prefix') ?>" class="<?php if ($helper->getFieldRequire($fields[$i]['value'])) echo "required-entry"; ?>" <?= $customerNameBlock->getFieldParams() ?>>
                        <?php foreach ($customerNameBlock->getPrefixOptions() as $_option): ?>
                            <option value="<?= $_option ?>"><?= $this->__($_option) ?></option>
                        <?php endforeach ?>
                    </select>
                <?php endif; ?>
                <?php elseif ($fields[$i]['value'] == 'suffix'): ?>
                <?php $customerNameBlock = Mage::getBlockSingleton('customer/widget_name') ?>
                    <label <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>class="required" <?php endif ?>  for="billing:prefix"><?= $this->__('Suffix Name') ?>
                        <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>
                            <em>*</em>
                        <?php endif ?>
                    </label><br />
                    <?php if ($customerNameBlock->getSuffixOptions() === false): ?>
                <input type="text" id="<?= $customerNameBlock->getFieldId('suffix') ?>" name="billing[<?= $customerNameBlock->getFieldName('suffix') ?>]" value="" title="<?= $this->__('Suffix') ?>" class="input-text <?php if ($helper->getFieldRequire($fields[$i]['value'])) echo "required-entry"; ?>" <?= $customerNameBlock->getFieldParams() ?> />
                <?php else: ?>
                    <select id="<?= $customerNameBlock->getFieldId('suffix') ?>" name="billing[<?= $customerNameBlock->getFieldName('suffix') ?>]" title="<?= $this->__('Suffix') ?>" class="<?php if ($helper->getFieldRequire($fields[$i]['value'])) echo "required-entry"; ?>" <?= $customerNameBlock->getFieldParams() ?>>
                        <?php foreach ($customerNameBlock->getSuffixOptions() as $_option): ?>
                            <option value="<?= $_option ?>"><?= $this->__($_option) ?></option>
                        <?php endforeach ?>
                    </select>
                <?php endif; ?>
                <?php elseif ($fields[$i]['value'] == 'birthday'): ?>
                    <?php $_dob = $this->getLayout()->createBlock('onestepcheckout/widget_dob') ?>
                    <?= $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                <?php elseif ($fields[$i]['value'] == 'gender'): ?>
                <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <label  <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>class="required" <?php endif ?>  for="<?= $_gender->getFieldId('gender') ?>"><?= $this->__('Gender') ?>
                        <?php if ($helper->getFieldRequire($fields[$i]['value'])): ?>
                            <em>*</em>
                        <?php endif ?>
                    </label><br />
                    <select id="<?= $_gender->getFieldId('gender') ?>" name="billing[<?= $_gender->getFieldName('gender') ?>]" title="<?= $this->__('Gender') ?>" class="<?php if ($helper->getFieldRequire($fields[$i]['value'])) echo "validate-select"; ?>" <?= $_gender->getFieldParams() ?>>
                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions(); ?>
                        <?php $value = $_gender->getGender(); ?>
                        <?php foreach ($options as $option): ?>
                            <option value="<?= $option['value'] ?>"<?php if ($option['value'] == $value||$option['value']==$this->getCustomerData($_gender->getFieldName('gender'))) echo ' selected="selected"' ?>><?= $option['label'] ?></option>
                        <?php endforeach; ?>
                    </select>
                <?php else: ?>
                    <label <?php if ($helper->getFieldRequire($fields[$i]['value']) || $fields[$i]['value'] == 'firstname' || $fields[$i]['value'] == 'lastname' || $fields[$i]['value'] == 'email'): ?>class="required" <?php endif ?>  for="billing:<?= $fields[$i]['value']; ?>"><?= $this->__($fieldValue[$fields[$i]['value']]) ?>
                        <?php if ($helper->getFieldRequire($fields[$i]['value']) || $fields[$i]['value'] == 'firstname' || $fields[$i]['value'] == 'lastname' || $fields[$i]['value'] == 'email'): ?>
                            <em>*</em>
                        <?php endif ?>
                    </label><br/>
                <?php
                    $validation = ['input-text'];
                    $code = $fields[$i]['value'];
                    $value = $this->escapeHtml($this->getCustomerData($code));
                    $type = 'text';
                    switch ($code) {
                        case 'email':
                            $validation[] = 'validate-email';
                            $type = 'email';
                        case 'firstname':
                        case 'lastname':
                            $validation[] = 'required-entry';
                            break;
                        default:
                            if ($helper->getFieldRequire($code)) {
                                $validation[] = 'required-entry';
                            }
                            break;
                    }
                ?>
                <input type="<?= $type?>"
                       id="<?= "billing:$code"?>"
                       autocomplete="<?= $code === 'email' ? 'off' : ''?>"
                       name="<?= "billing[$code]"?>"
                       value="<?= $value ?>"
                       title="<?= $this->__($fieldValue[$code] ?? '') ?>"
                       class="<?= implode(' ', $validation)?>"
                />
                    <?php if ($helper->enableGeoip()): ?>
                    <?php if (($fields[$i]['value'] == 'postcode') && $helper->allowDetectByPostcode()): ?>
                    <span id="billing_<?= $fields[$i]['value'] ?>_autocomplete_indicator" class="autocomplete-indicator" style="display:none;">
                                            <img class="v-middle" alt="Loading..." src="<?= $this->getSkinUrl('images/geoip/indicator.gif') ?>">
                                        </span>
                    <div id="billing:<?= $fields[$i]['value'] . '_autocomplete'; ?>" class="autocomplete" style="display:none; position:absolute; background-color:#FFFFFF; max-height:230px; overflow:auto; border:1px solid #B6B6B6"></div>
                <?php endif; ?>
                    <?php if (($fields[$i]['value'] == 'city') && $helper->allowDetectByCity()): ?>
                    <span id="billing_<?= $fields[$i]['value'] ?>_autocomplete_indicator" class="autocomplete-indicator" style="display:none;">
                                            <img class="v-middle" alt="Loading..." src="<?= $this->getSkinUrl('images/geoip/indicator.gif') ?>">
                                        </span>
                    <div id="billing:<?= $fields[$i]['value'] . '_autocomplete'; ?>" class="autocomplete" style="display:none; position:absolute; background-color:#FFFFFF; max-height:230px; overflow:auto; border:1px solid #B6B6B6"></div>
                <?php endif; ?>
                <?php endif; ?>
                    <?php if ($fields[$i]['value'] == 'email'): ?>
                    <span id="valid_email_address_image" style="display:none;"><img src="<?= $this->getSkinUrl('images/onestepcheckout/valid.gif') ?>" title="<?= $this->__('Valid Email Address'); ?>" alt="<?= $this->__('Valid Email Address'); ?>" width="18"/></span>
                    <div id="email-error-message" class="error-message"></div>
                <?php endif ?>
                <?php endif ?>
                </div>
                <?php if (($i % 2 != 0) || (($i % 2 == 0) && (!$fields[$i + 1]['value'] || $fields[$i + 1]['value'] == '0' || (Mage::getSingleton('customer/session')->isLoggedIn() && $fields[$i + 1]['value'] == 'email')))): ?>
                    </li>
                <?php endif ?>
            <?php endfor ?>
            <?php if ($checkCountry == 0): ?>
                <div style="display:none;">
                    <?= $this->getCountryHtmlSelect('billing') ?>
                </div>
            <?php endif ?>
            <?php if (!$this->isCustomerLoggedIn() && Mage::helper('onestepcheckout')->enableRegistration() && Mage::helper('onestepcheckout')->allowGuestCheckout()): ?>
                <li class="create_account">
                    <div>
                        <input id="create_account_checkbox_id" type="checkbox" name="create_account_checkbox" value="1" data-toggle="collapse" data-target="#password_section_id" />
                        <label for="create_account_checkbox_id"><?= $this->__('Create an account for later use') ?></label>
                    </div>
                </li>
            <?php endif; ?>
            <?php if (!$this->isCustomerLoggedIn() && (Mage::helper('onestepcheckout')->enableRegistration() || !Mage::helper('onestepcheckout')->allowGuestCheckout())): ?>
                <li id="password_section_id" class="collapse collapsed" <?php if (!Mage::helper('onestepcheckout')->allowGuestCheckout()): ?>style="display:block"<?php else: ?>style="display:none"<?php endif ?>>
                    <strong><?= $this->__('Create the password for your account')?></strong>
                    <div class="two-fields">
                        <label class="required"  for="billing:customer_password"><?= $this->__('Password') ?> <em>*</em></label><br/>
                        <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?= $this->__('Password') ?>" class="input-text required-entry validate-password" />
                    </div>
                    <div class="two-fields last">
                        <label class="required"  for="billing:confirm_password"><?= $this->__('Confirm Password') ?> <em>*</span></em></label><br/>
                        <input type="password" name="billing[confirm_password]" title="<?= $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                    </div>
                </li>
            <?php endif ?>
            <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()): ?>
                <li class="control">
                    <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?= $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getBillingAddress()->getSaveInAddressBook()): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="billing:save_in_address_book"><?= $this->__('Save in address book') ?></label>
                </li>
            <?php else: ?>
                <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
            <?php endif; ?>
            <li style="display:none;">
                <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="1" />
            </li>

            <?php if ($this->isCustomerLoggedIn()):?>
                <li><input type='hidden' name='islogin' id='islogin' value='1'/></li>
            <?php endif;?>
            <li><input type='hidden' name='emailvalid' id='emailvalid' value=''/></li>

        </ul>
    </fieldset>
    <?php if ($this->isShowShippingAddress()): ?>
        <ul>
            <li class="shipping_other_address">
                <div class="input-box input-different-shipping">
                    <input onclick="showDifferentAdress();" type="checkbox" name="shipping[different_shipping]" id="shipping:different_shipping" value="1" />
                    <label for="shipping:different_shipping"><?= $this->__('Ship to different address'); ?></label>
                </div>
            </li>
        </ul>
    <?php else: ?>
        <!--<li>
                        <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="1" />
        </li>-->
    <?php endif; ?>
    <script type="text/javascript">var countryRegions = <?= $this->helper('directory')->getRegionJson() ?></script>
    <script type="text/javascript">
        //<![CDATA[

        if ($('billing:region') || $('billing:region_id'))
            var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions);

        <?php if (!$helper->getFieldRequire('region')): ?>
        if ($('billing:region_id')) {
            $('billing:region_id').removeClassName('validate-select');
            $('billing:region_id').removeClassName('required-entry');
        }
        <?php endif ?>
        if ($('billing-address-select')) {
            Event.observe('billing-address-select', 'change', function() {
                var isNew = $('billing-address-select').value ? false : true;
                setNewAddress(isNew, 'billing', save_address_url, update_address_shipping, update_address_payment, update_address_review);
            });
        }
        //]]>
    </script>


    <script type="text/javascript">
        <?php if ($helper->enableGeoip()): ?>
        /*
         Show list postcode billing
         */
        <?php if ($helper->allowDetectByPostcode()): ?>
        new Ajax.Autocompleter(
            'billing:postcode',
            'billing:postcode_autocomplete',
            '<?= $this->getUrl('onestepcheckout/geoip/checkPostcode') ?>',
            {
                paramName: 'postcode',
                minChars:<?= $helper->getMinCharsPostcode() ?>,
                indicator: 'billing_postcode_autocomplete_indicator',
                updateElement: fillFilterBilling,
                evalJSON: 'force'
            }
        );
        <?php endif; ?>

        /*
         Show list city billing
         */
        <?php if ($helper->allowDetectByCity()): ?>
        new Ajax.Autocompleter(
            'billing:city',
            'billing:city_autocomplete',
            '<?= $this->getUrl('onestepcheckout/geoip/checkCity') ?>',
            {
                paramName: 'city',
                minChars:<?= $helper->getMinCharsCity() ?>,
                indicator: 'billing_city_autocomplete_indicator',
                updateElement: fillFilterBilling,
                evalJSON: 'force'
            }
        );
        <?php endif; ?>

        function fillFilterBilling(li)
        {
            var country = li.getAttribute('country');
            var region = li.getAttribute('region');
            var region_id = li.getAttribute('region_id');
            var city = li.getAttribute('city');
            var postcode = li.getAttribute('postcode');
            if (city != '') {
                if ($('billing:postcode')) {
                    $('billing:postcode').value = postcode;
                }
            }
            if (country != '') {
                if ($('billing:country_id')) {
                    $('billing:country_id').value = country;
                }
            }
            if (region != '') {
                if ($('billing:region')) {
                    $('billing:region').value = region;
                }
            }

            if (region_id != '') {
                if ($('billing:region_id')) {
                    $('billing:region_id').value = region_id;
                }
            }

            if (city != '') {
                if ($('billing:city')) {
                    $('billing:city').value = city;
                }
            }

            updateBillingRegion();

        }
        <?php endif; ?>
        function updateBillingRegion() {
            var countryEl = $('billing:country_id');
            var regionTextEl = $('billing:region');
            var regionSelectEl = $('billing:region_id');
            var regions = <?= $this->helper('directory')->getRegionJson() ?>;
            var config = regions['config'];
            delete regions.config;
            var regions = regions;
            var zipEl = $(zipEl);
            disableAction = (typeof disableAction == 'undefined') ? 'hide' : disableAction;

            updateRegion(countryEl, regionTextEl, regionSelectEl, regions, disableAction, zipEl);
        }
        updateBillingRegion();
    </script>

    <?php if (Mage::getStoreConfig('onestepcheckout/general/suggest_address', Mage::app()->getStore()->getStoreId())): ?>
        <script type="text/javascript">
            var autocompleteBilling;
            //Huy - change from sublocality => sublocality_level_1
            var componentBillingForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'short_name',
                postal_code: 'short_name',
                sublocality_level_1: 'long_name'
            };

            autocompleteBilling = new google.maps.places.Autocomplete(
                (document.getElementById('billing:street1')),
                {types: ['geocode']});

            google.maps.event.addListener(autocompleteBilling, 'place_changed', function() {
                fillBillingAddress();
            });

            function fillBillingAddress() {
                var place = autocompleteBilling.getPlace();
                var street, city, region_id, region, country, postal_code, sublocality;

                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (componentBillingForm[addressType]) {
                        if (addressType == 'street_number') {
                            if (street)
                                street += ' ' + place.address_components[i][componentBillingForm['street_number']];
                            else
                                street = place.address_components[i][componentBillingForm['street_number']];
                        }
                        if (addressType == 'route') {
                            if (street)
                                street += ' ' + place.address_components[i][componentBillingForm['route']];
                            else
                                street = place.address_components[i][componentBillingForm['route']];
                        }
                        if (addressType == 'locality')
                            city = place.address_components[i][componentBillingForm['locality']];
                        if (addressType == 'administrative_area_level_1') {
                            region_id = place.address_components[i]['short_name'];
                            region = place.address_components[i]['long_name'];
                        }
                        if (addressType == 'country')
                            country = place.address_components[i][componentBillingForm['country']];
                        if (addressType == 'postal_code')
                            postal_code = place.address_components[i][componentBillingForm['postal_code']];
                        //Huy - change from sublocality => sublocality_level_1
                        if (addressType == 'sublocality_level_1')
                            sublocality = place.address_components[i][componentBillingForm['sublocality_level_1']];
                    }
                }
                fillAddress('billing', street, city, region_id, region, country, postal_code, sublocality);
            }
        </script>
    <?php endif; ?>
</div>
