<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Item_Renderer
 */

use Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type as MsrpType;

$item = $this->getItem();
$isVisibleProduct = $item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($item->getProduct(), MsrpType::TYPE_BEFORE_ORDER_CONFIRM);
$thumbWidth = 100;
$escapedName = $this->escapeHtml($this->getProductName());
?>
<li class="item row">
    <div class="col-img col-3">
        <a href="<?= $this->getProductUrl()?>" title="<?= $escapedName ?>">
            <picture>
                <source srcset="<?= "{$this->getProductThumbnail()->resize($thumbWidth * 2)} 2x, {$this->getProductThumbnail()->resize($thumbWidth)} 1x"?>" />
                <img src="<?= $this->getProductThumbnail()->resize($thumbWidth * 2) ?>" alt="<?= $escapedName ?>" />
            </picture>
        </a>
    </div>

    <div class="product-details col-7">
        <span class="product-name"><?= $this->getProduct()->getName()?></span>
        <dl>
            <dt><?= $this->__('Quantity'); ?></dt>
            <dd><?= $this->getQty() ?></dd>
            <?php foreach ((array) $this->getOptionList() as $option) : ?>
            <dt><?= $this->escapeHtml($option['label']) ?></dt>
            <dd><?= is_array($option['value']) ? nl2br(implode(PHP_EOL, $option['value'])) : $option['value']?></dd>
            <?php endforeach; ?>
        </dl>
        <a href="<?= $this->getDeleteUrl() ?>" title="<?= $this->__('Remove This Item') ?>" onclick="return confirm('<?= $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>');">
            <i class="fa fa-remove"></i>
            <?= $this->__('Remove This Item') ?>
        </a>
    </div>
    <div class="col-price col-2">
    <?php if ($canApplyMsrp): ?>

        <span class="map-cart-sidebar-item"><?= $this->__('See price before order confirmation.'); ?></span>

    <?php else: ?>

    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <?= $this->__('Excl. Tax'); ?>:
        <?php endif; ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($item, array(0, 1, 4), 'sales')): ?>
            <?= $this->helper('checkout')->formatPrice($item->getCalculationPrice()+$item->getWeeeTaxAppliedAmount()+$item->getWeeeTaxDisposition()); ?>
        <?php else: ?>
            <?= $this->helper('checkout')->formatPrice($item->getCalculationPrice()) ?>
        <?php endif; ?>
        <?php if (Mage::helper('weee')->getApplied($item)): ?>
            <br />
            <?php if (Mage::helper('weee')->typeOfDisplay($item, 1, 'sales')): ?>
                <small>
                <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                    <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
                <?php endforeach; ?>
                </small>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                    <span class="nobr"><small><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                <?php endforeach; ?>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 4, 'sales')): ?>
                <small>
                <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                    <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                <?php endforeach; ?>
                </small>
            <?php endif; ?>
            <?php if (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                <span class="nobr"><?= Mage::helper('weee')->__('Total'); ?>:<br /> <?= $this->helper('checkout')->formatPrice($item->getCalculationPrice()+$item->getWeeeTaxAppliedAmount()+$item->getWeeeTaxDisposition()); ?></span>
            <?php endif; ?>
        <?php endif; ?>
    <?php endif; ?>



    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <?php $_incl = $this->helper('checkout')->getPriceInclTax($item); ?>
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <br /><?= $this->__('Incl. Tax'); ?>:
        <?php endif; ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($item, array(0, 1, 4), 'sales')): ?>
            <?= $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($item)); ?>
        <?php else: ?>
            <?= $this->helper('checkout')->formatPrice($_incl-$item->getWeeeTaxDisposition()) ?>
        <?php endif; ?>
        <?php if (Mage::helper('weee')->getApplied($item)): ?>
            <br />
            <?php if (Mage::helper('weee')->typeOfDisplay($item, 1, 'sales')): ?>
                <small>
                <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                    <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
                <?php endforeach; ?>
                </small>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                    <span class="nobr"><small><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                <?php endforeach; ?>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 4, 'sales')): ?>
                <small>
                <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                    <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                <?php endforeach; ?>
                </small>
            <?php endif; ?>
            <?php if (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                <span class="nobr"><?= Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?= $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($item)); ?></span>
            <?php endif; ?>
        <?php endif; ?>
    <?php endif; ?>

    <?php endif; //Can apply MSRP ?>
    </div>
</li>
