<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Item_Renderer_Configurable
 */

use Onecashmere_Catalog_Helper_Image as Image;

$_item = $this->getItem();
$child = current($this->getItem()->getChildren());
if ($child) {
    $childProduct = $child->getProduct();
}
$product = $_item->getProduct();
$qtyInCart = $_item->getQty();
/* Start: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section - Qty increment */
$minimumQty = $product->getStockItem()->getMinSaleQty();
$maximumQty = $product->getStockItem()->getMaxSaleQty();
$storeId = Mage::app()->getStore()->getId();
$showImage = Mage::getStoreConfig('onestepcheckout/general/enable_items_image', $storeId);
/* End: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section */
$secure = (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] !== 'off' || $_SERVER['SERVER_PORT'] == 443) ? true : false;
?>
<tr>

    <td>
        <a style="float:left; margin-right: 20px; line-height: 23px;" href="javascript:deleteproduct(<?= $_item->getId()?>,'<?= $this->getUrl('onestepcheckout/index/deleteproduct', array('_secure'=>true));?>','<?= $this->__('Are you sure?')?>')"><img  src="<?= $this->getSkinUrl('images/onestepcheckout/icon_delete.png', array('_secure'=>$secure)) ?>" width="20" height="20"/></a>
        <?php
        /* Start: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section  */
        if($showImage):
            ?>
            <div class='osc-product-image'>
                <img src='<?= (new Image())->init($childProduct ?? $_item->getProduct(), 'thumbnail')->resize(300);?>'/>
            </div>
        <?php endif;
        /* End: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section */
        ?>
        <h2 class="product-name"><?= $this->htmlEscape($this->getProductName()) ?></h2>
        <?php if ($_options = $this->getOptionList()):?>
            <dl class="item-options <?php
            /* Start: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section */
            if($showImage) echo "item-options-hasimage";
            /* End: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section */
            ?>">
                <?php foreach ($_options as $_option) : ?>
                    <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                    <dt><?= $this->htmlEscape($_option['label']) ?></dt>
                    <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>><?= $_formatedOptionValue['value'] ?>
                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                            <div class="truncated_full_value">
                                <dl class="item-options">
                                    <dt><?= $this->htmlEscape($_option['label']) ?></dt>
                                    <dd><?= $_formatedOptionValue['full_view'] ?></dd>
                                </dl>
                            </div>
                        <?php endif; ?>
                    </dd>
                <?php endforeach; ?>
            </dl>
        <?php endif;?>
    </td>

    <td class="a-center qty-box">
        <div class="box-qty">
            <?php
            /* Start: added by Daniel - 31/03/2015 - Qty increment
            if($qtyInCart > $minimumQty):*/
            ?>
            <a  href="javascript:minusproduct(<?= $_item->getId() ?>,'<?= $this->getUrl('onestepcheckout/index/minus_product')?>')"><img  src="<?= $this->getSkinUrl('images/onestepcheckout/minus-1.png', array('_secure'=>$secure)) ?>" width="20" height="20"/></a>
            <?php /*endif;
			 End: added by Daniel - 31/03/2015 - Qty increment */
            ?>
            <span class="qty" id="qty-<?= $_item->getId() ?>"><?= $_item->getQty() ?></span>
            <input type="hidden" value="<?= $_item->getQty() ?>" name="qty-item-<?= $_item->getId() ?>" id="qty-item-<?= $_item->getId() ?>" />
            <?php
            /* Start: added by Daniel - 31/03/2015 - Qty increment
            if($qtyInCart < $maximumQty):
            */?>
            <a  href="javascript:addproduct(<?= $_item->getId() ?>,'<?= $this->getUrl('onestepcheckout/index/add_product')?>')"><img  src="<?= $this->getSkinUrl('images/onestepcheckout/add-icon.png', array('_secure'=>$secure)) ?>" width="20" height="20"/></a>
            <?php /*endif;
			 End: added by Daniel - 31/03/2015 - Qty increment */
            ?>
        </div>
    </td>
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <td class="a-right">
            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?= $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
        <?php else: ?>
            <span class="cart-price">
        <?php endif; ?>

        <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <?= $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
        <?php else: ?>
            <?= $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
        <?php endif; ?>

        </span>
        <?php if (Mage::helper('weee')->getApplied($_item)): ?>

            <div class="cart-tax-info" id="esubtotal-item-tax-details<?= $_item->getId(); ?>" style="display:none;">
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span><br />
                    <?php endforeach; ?>
                    </small>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><small><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                    <?php endforeach; ?>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                    <?php endforeach; ?>
                    </small>
                <?php endif; ?>
            </div>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?= $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                    <span class="nobr"><?= Mage::helper('weee')->__('Total'); ?>:<br /> <?= $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        </td>
    <?php endif; ?>
    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <td>
            <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?= $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
        <?php else: ?>
            <span class="cart-price">
        <?php endif; ?>

        <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <?= $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
        <?php else: ?>
            <?= $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
        <?php endif; ?>

        </span>


        <?php if (Mage::helper('weee')->getApplied($_item)): ?>

            <div class="cart-tax-info" id="subtotal-item-tax-details<?= $_item->getId(); ?>" style="display:none;">
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span><br />
                    <?php endforeach; ?>
                    </small>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><small><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                    <?php endforeach; ?>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                    <?php endforeach; ?>
                    </small>
                <?php endif; ?>
            </div>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?= $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                    <span class="nobr"><?= Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?= $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        </td>
    <?php endif; ?>
</tr>
