<?php
/**
 * @var $this Mage_Directory_Block_Currency
 */
?>
<?php if($this->getCurrencyCount()>1): ?>
<div class="box currency">
    <div class="currency-inner">
        <?php $last_item = end($this->getCurrencies()); ?>
        <?php foreach ($this->getCurrencies() as $_code => $_name): ?>
            <?php $active = ($_code==$this->getCurrentCurrencyCode()) ? '_active':''; ?>
            <a href="<?php echo $this->helper('directory/url')->getSwitchCurrencyUrl() . 'currency/' . $_code; ?>" title="<?php echo $_code ?>">
						<?php echo ($_code == 'EUR') ? "&euro;" : "&pound;"; ?>	<?php echo $_code ?></a>

            <?php if ($_name == $last_item) { ?>
            
            <?php } else { ?>
                <span>/</span>
            <?php } ?>

        <?php endforeach; ?>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
function changeCurrency(sObject){
    if(sObject.value){
        setLocation('<?php echo $this->helper('directory/url')->getSwitchCurrencyUrl() ?>currency/'+sObject.value);
    }
}
//]]>
</script>
<?php endif; ?>
