<?php
/**
 * @var $this Mage_Core_Block_Template
 * @var $product Mage_Catalog_Model_Product
 */
$product = Mage::registry('current_product');
$summary = $product->getRatingSummary() ?? new Varien_Object();
?>
<div class="product-info-row">
    <div class="rating-box">
        <div class="rating" style="width:<?= $summary->getData('rating_summary')?>%;"></div>
    </div>
    <a href="#reviews" data-toggle="modal" data-target="#productReviewForm">
        <?= $this->__('Write a review') ?>
    </a>
</div>
