<?php
/**
 * @var $this Mage_Review_Block_Form
 */
?>
<!-- Modal -->
<div class="modal fade" id="productReviewForm" tabindex="-1" role="dialog" aria-labelledby="productReviewForm" aria-hidden="true" style="display: none">
    <form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><?= $this->__('Write Your Own Review') ?></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <?php if ($this->getAllowWriteReviewFlag()): ?>
                        <?php echo $this->getBlockHtml('formkey'); ?>
                        <fieldset>
                            <ul class="form-list">
                                <li>
                                    <label for="nickname_field"
                                           class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
                                    <div class="input-box">
                                        <input type="text" name="nickname" id="nickname_field"
                                               class="input-text required-entry"
                                               value="<?php echo $this->htmlEscape($data->getNickname()) ?>"/>
                                    </div>
                                </li>
                                <li>
                                    <label for="summary_field"
                                           class="required"><em>*</em><?php echo $this->__('Summary of Your Review') ?>
                                    </label>
                                    <div class="input-box">
                                        <input type="text" name="title" id="summary_field"
                                               class="input-text required-entry"
                                               value="<?php echo $this->htmlEscape($data->getTitle()) ?>"/>
                                    </div>
                                </li>
                                <li>
                                    <label for="review_field"
                                           class="required"><em>*</em><?php echo $this->__('Review') ?></label>
                                    <div class="input-box">
                                        <textarea name="detail" id="review_field" cols="5" rows="3"
                                                  class="required-entry"><?php echo $this->htmlEscape($data->getDetail()) ?></textarea>
                                    </div>
                                </li>
                            </ul>
                            <?php echo $this->getChildHtml('form_fields_before') ?>

                            <?php if ($this->getRatings() && $this->getRatings()->getSize()): ?>
                                <table class="data-table" id="product-review-table">
                                    <col/>
                                    <col width="1"/>
                                    <col width="1"/>
                                    <col width="1"/>
                                    <col width="1"/>
                                    <col width="1"/>
                                    <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th><span class="nobr"><?php echo $this->__('1 star') ?></span></th>
                                        <th><span class="nobr"><?php echo $this->__('2 stars') ?></span></th>
                                        <th><span class="nobr"><?php echo $this->__('3 stars') ?></span></th>
                                        <th><span class="nobr"><?php echo $this->__('4 stars') ?></span></th>
                                        <th><span class="nobr"><?php echo $this->__('5 stars') ?></span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($this->getRatings() as $_rating): ?>
                                        <tr>
                                            <th><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></th>
                                            <?php foreach ($_rating->getOptions() as $_option): ?>
                                                <td class="value"><input type="radio"
                                                                         name="ratings[<?php echo $_rating->getId() ?>]"
                                                                         id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>"
                                                                         value="<?php echo $_option->getId() ?>"
                                                                         class="radio"/></td>
                                            <?php endforeach; ?>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                                <input type="hidden" name="validate_rating" class="validate-rating" value=""/>
                                <script type="text/javascript">decorateTable('product-review-table')</script>
                            <?php endif; ?>
                        </fieldset>
                        <script type="text/javascript">
                            //<![CDATA[
                            var dataForm = new VarienForm('review-form');
                            Validation.addAllThese(
                                [
                                    ['validate-rating', '<?php echo $this->__('Please select one of each of the ratings above') ?>', function (v) {
                                        var trs = $('product-review-table').select('tr');
                                        var inputs;
                                        var error = 1;

                                        for (var j = 0; j < trs.length; j++) {
                                            var tr = trs[j];
                                            if (j > 0) {
                                                inputs = tr.select('input');

                                                for (i in inputs) {
                                                    if (inputs[i].checked == true) {
                                                        error = 0;
                                                    }
                                                }

                                                if (error == 1) {
                                                    return false;
                                                } else {
                                                    error = 1;
                                                }
                                            }
                                        }
                                        return true;
                                    }]
                                ]
                            );
                            //]]>
                        </script>
                    <?php else: ?>
                        <p class="review-nologged" id="review-form">
                            <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>',
                                $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
                        </p>
                    <?php endif ?>
                </div>
                <div class="modal-footer">
                    <button type="submit" title="<?= $this->__('Submit Review') ?>" class="button">
                        <span>
                            <span><?= $this->__('Submit Review') ?></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
