/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Icons */
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rrssb-buttons {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-delay: .2s;
  animation-delay: 0.2s;
}
.rrssb-buttons:after {
  clear: both;
}
.rrssb-buttons:after,
.rrssb-buttons:before {
  content: ' ';
  display: table;
}
.rrssb-buttons li {
  box-sizing: border-box;
  float: left;
  height: 100%;
  line-height: 13px;
  list-style: none;
  margin: 0;
  padding: 0 2px;
}
.rrssb-buttons li.rrssb-email a {
  background-color: #0a88ff;
}
.rrssb-buttons li.rrssb-email a:hover {
  background-color: #006ed6;
}
.rrssb-buttons li.rrssb-facebook a {
  background-color: #306199;
}
.rrssb-buttons li.rrssb-facebook a:hover {
  background-color: #244872;
}
.rrssb-buttons li.rrssb-tumblr a {
  background-color: #32506d;
}
.rrssb-buttons li.rrssb-tumblr a:hover {
  background-color: #22364a;
}
.rrssb-buttons li.rrssb-linkedin a {
  background-color: #007bb6;
}
.rrssb-buttons li.rrssb-linkedin a:hover {
  background-color: #005983;
}
.rrssb-buttons li.rrssb-twitter a {
  background-color: #26c4f1;
}
.rrssb-buttons li.rrssb-twitter a:hover {
  background-color: #0eaad6;
}
.rrssb-buttons li.rrssb-googleplus a {
  background-color: #e93f2e;
}
.rrssb-buttons li.rrssb-googleplus a:hover {
  background-color: #ce2616;
}
.rrssb-buttons li.rrssb-youtube a {
  background-color: #df1c31;
}
.rrssb-buttons li.rrssb-youtube a:hover {
  background-color: #b21627;
}
.rrssb-buttons li.rrssb-reddit a {
  background-color: #8bbbe3;
}
.rrssb-buttons li.rrssb-reddit a:hover {
  background-color: #62a3d9;
}
.rrssb-buttons li.rrssb-pinterest a {
  background-color: #b81621;
}
.rrssb-buttons li.rrssb-pinterest a:hover {
  background-color: #8a1119;
}
.rrssb-buttons li.rrssb-pocket a {
  background-color: #ed4054;
}
.rrssb-buttons li.rrssb-pocket a:hover {
  background-color: #e4162d;
}
.rrssb-buttons li.rrssb-github a {
  background-color: #444;
}
.rrssb-buttons li.rrssb-github a:hover {
  background-color: #2b2b2b;
}
.rrssb-buttons li.rrssb-instagram a {
  background-color: #125688;
}
.rrssb-buttons li.rrssb-instagram a:hover {
  background-color: #0c3a5b;
}
.rrssb-buttons li.rrssb-delicious a {
  background-color: #0b79e5;
}
.rrssb-buttons li.rrssb-delicious a:hover {
  background-color: #095fb4;
}
.rrssb-buttons li.rrssb-vk a {
  background-color: #4d71a9;
}
.rrssb-buttons li.rrssb-vk a:hover {
  background-color: #3d5a86;
}
.rrssb-buttons li.rrssb-hackernews a {
  background-color: #f60;
}
.rrssb-buttons li.rrssb-hackernews a:hover {
  background-color: #cc5200;
}
.rrssb-buttons li.rrssb-whatsapp a {
  background-color: #43d854;
}
.rrssb-buttons li.rrssb-whatsapp a:hover {
  background-color: #28c039;
}
.rrssb-buttons li.rrssb-print a {
  background-color: #8d98a2;
}
.rrssb-buttons li.rrssb-print a:hover {
  background-color: #717f8b;
}
.rrssb-buttons li a {
  background-color: #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  height: 100%;
  padding: 11px 7px 12px 27px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}
.rrssb-buttons li a .rrssb-icon {
  display: block;
  left: 10px;
  padding-top: 9px;
  position: absolute;
  top: 0;
  width: 10%;
}
.rrssb-buttons li a .rrssb-icon svg {
  height: 17px;
  width: 17px;
}
.rrssb-buttons li a .rrssb-icon svg circle,
.rrssb-buttons li a .rrssb-icon svg path {
  fill: #fff;
}
.rrssb-buttons li a .rrssb-text {
  color: #fff;
}
.rrssb-buttons li a:active {
  box-shadow: inset 1px 3px 15px 0 rgba(22, 0, 0, 0.25);
}
.rrssb-buttons li.small a {
  padding: 0;
}
.rrssb-buttons li.small a .rrssb-icon {
  left: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: auto;
  width: 100%;
}
.rrssb-buttons li.small a .rrssb-text {
  visibility: hidden;
}
.rrssb-buttons.large-format,
.rrssb-buttons.large-format li {
  height: auto;
}
.rrssb-buttons.large-format li a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: .2em;
  padding: 8.5% 0 8.5% 12%;
}
.rrssb-buttons.large-format li a .rrssb-icon {
  height: 100%;
  left: 7%;
  padding-top: 0;
  width: 12%;
}
.rrssb-buttons.large-format li a .rrssb-icon svg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.rrssb-buttons.large-format li a .rrssb-text {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.rrssb-buttons.small-format {
  padding-top: 5px;
}
.rrssb-buttons.small-format li {
  height: 80%;
  padding: 0 1px;
}
.rrssb-buttons.small-format li a .rrssb-icon {
  height: 100%;
  padding-top: 0;
}
.rrssb-buttons.small-format li a .rrssb-icon svg {
  height: 48%;
  position: relative;
  top: 6px;
  width: 80%;
}
.rrssb-buttons.tiny-format {
  height: 22px;
  position: relative;
}
.rrssb-buttons.tiny-format li {
  padding-right: 7px;
}
.rrssb-buttons.tiny-format li a {
  background-color: transparent;
  padding: 0;
}
.rrssb-buttons.tiny-format li a .rrssb-icon {
  height: 100%;
}
.rrssb-buttons.tiny-format li a .rrssb-icon svg {
  height: 70%;
  width: 100%;
}
.rrssb-buttons.tiny-format li a:active,
.rrssb-buttons.tiny-format li a:hover {
  background-color: transparent;
}
.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg path {
  fill: #0a88ff;
}
.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #0054a3;
}
.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg path {
  fill: #306199;
}
.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #18304b;
}
.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg path {
  fill: #32506d;
}
.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #121d27;
}
.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg path {
  fill: #007bb6;
}
.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #003650;
}
.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg path {
  fill: #26c4f1;
}
.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #0b84a6;
}
.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg path {
  fill: #e93f2e;
}
.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #a01e11;
}
.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg path {
  fill: #df1c31;
}
.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #84111d;
}
.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg path {
  fill: #8bbbe3;
}
.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #398bcf;
}
.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg path {
  fill: #b81621;
}
.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #5d0b11;
}
.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg path {
  fill: #ed4054;
}
.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #b61124;
}
.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg path {
  fill: #444;
}
.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #111;
}
.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg path {
  fill: #125688;
}
.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #061d2e;
}
.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg path {
  fill: #0b79e5;
}
.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #064684;
}
.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon svg path {
  fill: #4d71a9;
}
.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #2d4263;
}
.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg path {
  fill: #f60;
}
.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #993d00;
}
.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon svg path {
  fill: #43d854;
}
.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #1f962d;
}
.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon svg path {
  fill: #8d98a2;
}
.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #5a656f;
}

.customer-address-form .form-list input,
.customer-address-form .form-list select {
  width: 90%;
}
.customer-address-form .form-list .input-text {
  line-height: 21px;
}
.customer-address-form .form-list div.field {
  width: 50%;
}
.customer-address-form .form-list label.required em {
  color: red;
}

.size-media-slider {
  vertical-align: top;
}
.size-media-slider .slick-dots {
  bottom: 1em;
}
.size-media-slider .slick-dots li img {
  width: 450px;
}
.size-media-slider .slick-dots li button:before {
  font-size: 20px;
}
.size-media-slider .slick-dots li.slick-active button:before {
  color: white;
}
.size-chart-headline {
  padding-bottom: 2em;
}
.size-chart-headline h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
  font-weight: bold;
  text-transform: uppercase;
}
.size-chart-headline .title {
  font-weight: bold;
}
.size-chart-headline table {
  font-size: larger;
  width: 100%;
}
.size-chart-headline table td {
  width: 50%;
}
.size-chart-headline table tfoot th:first-child {
  padding-top: 1em;
}
.size-chart-content * {
  vertical-align: top;
}
.size-chart {
  vertical-align: top;
  font-size: larger;
}
.size-chart th,
.size-chart td {
  padding: .79em;
  text-align: center;
  border: 1px solid lightgrey;
}
@media (max-width: 767px) {
  .size-chart th,
  .size-chart td {
    padding: inherit;
    font-size: smaller;
  }
}
.size-chart th a[data-slide-index],
.size-chart td a[data-slide-index] {
  cursor: pointer;
}
.size-chart th,
.size-chart td:first-child {
  font-weight: bold;
}
.size-chart th:not(:first-child),
.size-chart td:not(:first-child) {
  width: 8em;
}

.slick-prev,
.slick-next {
  opacity: .25;
}
.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}
.slick-prev:before {
  content: "<";
}
.slick-next:before {
  content: ">";
}

div.std {
  margin-bottom: inherit !important;
}

#children-size-prices-table #children-size-prices-table-body td {
  text-align: center;
}
#children-size-prices-table #children-size-prices-table-body td.price {
  text-align: center;
}

div.product-file {
  padding: 10px 0;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
div.product-file h2.title {
  text-transform: uppercase;
  font-weight: normal;
}
div.product-file a.download {
  font-size: 13px;
  font-weight: bold;
}
div.product-file div.productfile_all_div > table {
  width: 100%;
}
div.product-file div.productfile_all_div > table tr td:first-child {
  width: 80%;
}
div.product-file .productfile_tooltip.productfile_protoClassic {
  visibility: visible;
}
div.product-file .productfile_tooltip.productfile_protoClassic .productfile_toolbar {
  width: 100%;
}

dl.customer-review-list {
  width: 100%;
}
dl.customer-review-list > div {
  display: inline-block;
  width: 28%;
  vertical-align: top;
  padding-right: 3%;
}
dl.customer-review-list > div > dd {
  min-height: 7em;
  max-height: 18em;
  overflow: hidden;
}
@media (max-width: 1024px) {
  dl.customer-review-list > div {
    width: 46%;
  }
}
@media (max-width: 570px) {
  dl.customer-review-list > div {
    width: 97%;
  }
}

.share-container {
  padding-top: 3em;
  width: 100%;
  position: relative;
}
.share-container h3.title {
  width: auto;
  float: left;
  line-height: 2em;
  margin-right: 1em;
  margin-bottom: 0;
}
@media (max-width: 980px) {
  .share-container h3.title {
    font-size: smaller;
    line-height: 1.6;
  }
}
@media (max-width: 280px) {
  .share-container h3.title {
    line-height: 32px;
  }
}
.share-container .rrssb-buttons {
  width: 17%;
  float: left;
  height: auto;
  padding-top: 0 !important;
}
.share-container .rrssb-buttons li a {
  background-color: white;
  height: auto;
}
.share-container .rrssb-buttons li a:hover {
  background-color: inherit;
}
.share-container .rrssb-buttons li a:hover .rrssb-icon svg {
  height: auto;
}
.share-container .rrssb-buttons li a:hover .rrssb-icon svg path {
  opacity: .25;
}
.share-container .rrssb-buttons li a .rrssb-icon {
  height: auto;
}
.share-container .rrssb-buttons li a .rrssb-icon svg {
  top: 0 !important;
}
.share-container .rrssb-buttons .rrssb-icon svg {
  height: auto;
}
.share-container .rrssb-buttons .rrssb-icon svg path {
  fill: black !important;
  transition: opacity .5s;
}

.catalog-product-view .configurable-option-before {
  border: 1px solid #ffc107;
  padding: .5em;
  border-radius: .5em;
  color: black;
  font-weight: bold;
  background: lightyellow;
}
div.product-info-row {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 5px;
  padding: 5px 0;
}
div.product-info-row .rating-box {
  display: inline-block;
}
div.product-info-row a {
  color: #bc001d;
  text-transform: uppercase;
}
.modal-backdrop {
  z-index: 10001;
}
.modal {
  z-index: 10002;
}
.modal .modal-header h1,
.modal .modal-header h2,
.modal .modal-header h3,
.modal .modal-header h4,
.modal .modal-header h5 {
  display: inline;
}
