.h1_opc{text-transform:uppercase;font-size:22px;color:#000; margin-bottom: 20px !important;}
.onepagecheckout_loginarea { margin: 10px 0 0px; }
.op_login_area{width:99.5%; border:1px solid #f5f5f5; margin-top: 10px; overflow: hidden;}
.op_login_area sup{color:#767676;font-size:100%;line-height:0;margin-left:3px;position:relative;top:0px;}
.op_login_area .buttons-set {
	margin-top: 20px;
	background: #f5f5f5;
	border: 0px;
	margin-bottom: 0;
	padding: 10px;
}
.op_login_area .boxcontent { padding: 10px; }
.op_login_area .buttons-set a {
	text-transform: uppercase;
	font-size: 11px;
	margin-top: 5px;
}
.op_login_area .page-title { border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom: 14px !important; padding: 10px; width: auto;}

.close_la {
	position: relative;
	cursor: pointer;
	float: right;
	width: 16px;
	height: 16px;
	background: url("../images/onepagecheckout/cancel.png") no-repeat scroll 0 0 transparent;
	margin-right: 0px;
	top: 12px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 12px;
	padding-right: 8px;
}

.buttons-set .back-link { margin-top: 5px; }
.op_login_area .page-title span { 
	font-weight: bold;
	font-size: 13px;
	margin: 0 0 14px;
	background-position: 0 1px;
	background-repeat: no-repeat;
	text-transform: uppercase;
}


.op_login_area .data_area, 
.op_login_area .input-box { width:300px; }
.op_login_area .data_area input.input-text,
.op_login_area .input-box input.input-text { width: 100%; box-shadow: none; -webkit-box-shadow: none; line-height: 20px;}
.onepagecheckout-index-index .onepagetitle { margin-bottom: 10px; }
.onepagecheckout-index-index .page-title { margin:0;}
.ptdivline{}
.onepagecheckout_datafields{padding-bottom:20px;}

#onepagecheckout_orderform .col3-set .col-1{width:27%;}
#onepagecheckout_orderform .col3-set .col-2{width:30%;margin-left:6%;}

#onepagecheckout_orderform #register-customer-password{margin-bottom:5px;}
#onepagecheckout_orderform #ship_address_block{margin-top:35px;}

.onepagecheckout_datafields .op_block_title{text-transform:uppercase;color:#444;font-size:14px; font-weight:bold;border-bottom:1px solid #ddd;margin: 25px 0 30px; padding: 5px 0px;}

.onepagecheckout_datafields .data_area { width: 300px; }
.onepagecheckout_datafields .span4 .form_fields div.two_fields .data_area { width: 300px; }
.onepagecheckout_datafields .span4 .form_fields div.two_fields .short { margin-bottom:15px;  }
.onepagecheckout_datafields .span4 .form_fields input.t1 { width: 100%; box-shadow: none; -webkit-box-shadow: none; border-color: #ddd; border-radius: 0;}
.onepagecheckout_datafields .span4 .form_fields select { width: 104%; }
.onepagecheckout_datafields .span4 .form_fields div.full { margin:0 0 15px; }
.onepagecheckout_datafields .span4 .form_fields div.full .data_area { width: 300px; }
.onepagecheckout_datafields .span4 .form_fields div.full input.t1 {  }
.onepagecheckout_datafields .span4 .form_fields div.full select {  }

.onepagecheckout_datafields .span4 .form_fields div.full .data_area { width: 300px; }
.onepagecheckout_datafields .span4 .form_fields div.full textarea { width: 300px; height: 85px; }
.onepagecheckout_datafields .span4 .form-list li.wide .input-box { width: 300px; }
.onepagecheckout_datafields .span4 .form-list li.wide textarea { width: 254px; height: 85px; }

.onepagecheckout_datafields .span4 .form_fields div.full .data_area { width: 300px; }
.onepagecheckout_datafields .span4 .form_fields div.full textarea { width: 280px; height: 60px; }
.onepagecheckout_datafields .span4 .form-list li.wide .input-box { width: 275px; }
.onepagecheckout_datafields .span4 .form-list li.wide textarea { width: 280px; height: 60px; }

.onepagecheckout_datafields .discount .input-box { margin: 4px 0; width: 300px; }
.onepagecheckout_datafields .discount .input-box .input-text { width: 100%; height: 20px; line-height: 20px;}
.onepagecheckout_datafields #comment-block { width: 300px; }
.onepagecheckout_datafields #comment-label { font-weight:normal; }
.onepagecheckout_datafields #comment-block #order-comment{ width: 100%; padding:4px 6px; line-height: 20px;}


.form_fields label {
	color: #333;
	float: left;
	position: relative;
	z-index: 0;
	font-size: 11px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 600;
}
.onepagecheckout_datafields .discount label { font-size: 12px;	margin-bottom: 10px; }
.onepagecheckout_datafields .form_fields li {margin:0 0 8px;}
.onepagecheckout_datafields .form_fields li.options input.radio,
.onepagecheckout_datafields .form_fields li.options input.checkbox {margin-right:3px;}
.onepagecheckout_datafields .form_fields li.options label {float:none;}
.onepagecheckout_datafields .form_fields li.options .input-box {clear:none;display:inline;width:auto;}
li.options label {color:#4d4d4d; font-size: 12px; text-transform: uppercase;}

input, select, textarea, button{color:#000;} 

#onepagecheckout_orderform .col3-set .col-2 , #onepagecheckout_orderform .col3-set .col-1  { min-height: 450px;}

.onepagecheckout_datafields .gift-messages-form .item .details .form-list .field,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list .input-box,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide .input-box { width:186px; }
.onepagecheckout_datafields .gift-messages-form .item .details .form-list input.input-text,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide textarea { width:165px; }

.onepagecheckout_datafields .sp-methods { margin: 0; }
.onepagecheckout_datafields #checkout-review-submit { margin: 10px 0 0; }
.onepagecheckout_datafields .checkout-agreements li { margin: 0 0 30px 0; }

.onepagecheckout_datafields .loading { background: url(../images/onepagecheckout/loader.gif) no-repeat 50% 50%; }

.onepagecheckout_datafields #checkout-shipping-method-load,
.onepagecheckout_datafields #checkout-payment-method-load,
.onepagecheckout_datafields #checkout-review-load { min-height: 50px; }

.onepagecheckout_datafields .newsletter { margin:0; padding:35px 0 10px 0; }
.onepagecheckout_datafields .buttons-set { margin: 5px 0 0; border:0;padding:2px 0 0;}
.onepagecheckout_datafields .checkout-agreements .last { margin: 0; }

.onepagecheckout_loginlink{	color:#4d4d4d; text-transform: uppercase; font-size: 16px; }

.onepagecheckout_datafields .discount .buttons-set button:first-child{margin-left:0} 

#onepagecheckout_orderform button.btn-checkout {
	border: 0;
	margin-bottom: 10px;
	padding: 0 20px;
	background: #BC001D;
	height: 40px;
	border: 0;
	padding: 0 25px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

#onepagecheckout_orderform .form_fields sup {color:#767676;font-size:100%;line-height:0;margin-left:3px;position:relative;top:0px;}
#onepagecheckout_orderform .form-list label.required em{color:#767676;}
#checkout-review-table-wrapper{margin-top:-5px;}

.order-products-table { width:100%;color:#767676;}
.order-products-table .odd  { background:transparent; }
.order-products-table .even { background:transparent; }
.order-products-table td.last,
.order-products-table th.last { border-right:0 !important; width:30%; }
.order-products-table th { padding:3px 8px; font-weight:bold; border-bottom:1px solid #BFBFBF;}
.order-products-table td { padding:8px 8px 2px;}

.order-products-table thead th {
	font-weight: bold;
	border-bottom: 1px solid #f5f5f5;
	font-size: 12px;
	padding: 10px;
	color: #000;
	white-space: nowrap;
	vertical-align: middle;
}
.order-products-table thead th.wrap { white-space:normal; }
.order-products-table thead th a,
.order-products-table thead th a:hover { color:#fff; }
.order-products-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.order-products-table tfoot { border:0; border-bottom: 1px solid #f5f5f5;}
.order-products-table tfoot tr.first td{background-color:transparent;}
.order-products-table tfoot tr.last td{ font-size:13px; text-transform:uppercase; color:#000; border-right: 1px solid #f5f5f5;}
.order-products-table tfoot tr { background-color:transparent; }
.order-products-table tfoot td { border-right:1px solid #f5f5f5; padding: 10px; }
.order-products-table tfoot strong { font-size:105%; color: #404040; }

.order-products-table tbody th,
.order-products-table tbody td { border:0; border-bottom:1px solid #f5f5f5; padding: 10px; border-right: 1px solid #f5f5f5; }
.order-products-table tbody td .product-name { text-transform: uppercase; }
.order-products-table tbody.odd tr { background:#f8f7f5 !important; }
.order-products-table tbody.even tr { background:#f6f6f6 !important; }
.order-products-table tbody.odd tr td,
.order-products-table tbody.even tr td { border-bottom:0; }
.order-products-table tbody.odd tr.border td,
.order-products-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }
.order-products-table tbody td .option-label { font-weight:bold; font-style:italic; }
.order-products-table tbody td .option-value { padding-left:10px; }

.clr{clear:both;}
p.agree a{color:#8E8D8B;}
p.newsletter label{ color:#BC001D; font-size: 13px; text-transform: uppercase; font-weight: bold; }

.onepagecheckout-window { border: none; background: #fff; z-index: 999; position: absolute; text-align: left; }
.onepagecheckout-window .page-title span { color:#0A263C; font-size:20px; margin:0; }
.onepagecheckout-window .content { padding: 7px; overflow: auto; }
.onepagecheckout-window .close { position: absolute; top: -15px; right: -16px; width: 16px; height: 16px; background: url(../images/onepagecheckout/cancel_round.png) no-repeat 50% 50%; }
.onepagecheckout-window .buttons-set { margin: 1em 0 0; }

.d-shadow { position: absolute; width: 30%; left: 20%; top: 10%; }
.d-shadow-wrap { position: relative; width: 100%; padding: 15px 21px 0 21px; margin: -15px -21px 0 -21px; overflow: hidden; }
.d-sh-cn { position: absolute; background: url(../images/onepagecheckout/shd-medium.png) no-repeat; left: -25px; z-index: -1; }
.d-sh-tl,
.d-sh-tr { height: 500px; top: -28px; }
.d-sh-tl,
.d-sh-bl { width: 100%; }
.d-sh-tr,
.d-sh-br { width: 25px; margin-left: 100%; }
.d-sh-bl,
.d-sh-br { height: 28px; }
.d-sh-bl { left: -46px; padding-right: 42px; clip: rect(auto auto auto 25px); }
.d-sh-br { left: -4px; }

/* For IE6  */
* html .onepagecheckout-hidden { visibility: hidden; }
* html .onepagecheckout-window { width: 500px; }
* html .d-sh-tl, * html .d-sh-tr { padding-right:42px; }
/* For IE7  */
*:first-child+html .onepagecheckout-window { width: 500px; }

