/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

	.icon-cart-big {
		background: url('../images/icon-cart-big@2x.png') center center no-repeat;
		background-size: 32px 28px;
	}

	.icon-login-big {
		background: url('../images/icon-login-big@2x.png') center center no-repeat;
		background-size: 30px 30px;
	}

	.icon-wishlist-big {
		background: url('../images/icon-wishlist-big@2x.png') center center no-repeat;
		background-size: 28px 27px;
	}

}
