.container { width: 1170px !important; }
.contain-size {
    padding: 0 20px !important; 
}
.ma-newproductslider-container .carousel .newproductslider-item {
    width: 100% !important;
}
.ma-newproductslider-container .item-inner {
    width: 100% !important;
}

.products-grid .item-inner { width: 100%; }
.product-view .product-img-box .more-views li a { width: 80px; height: 80px; }