#banner_spedizione_mobile { display:none;}

@media (max-width: 480px) {
    .col2-set .col-1 { float:none; width:auto; }
    .col2-set .col-2 { float:none; width:auto; }
}
@media (max-width: 320px) {}

@media (max-width: 480px) {
    .view-mode  { display: none; }
    .pager .sort-by { margin-left: 0; padding-left: 0; }
    .pager .pages { margin-left: 5px; float: none; }
}
@media (max-width: 768px) {
     .sticky { position: inherit !important; }
}

@media(max-width: 1080px) {

}
@media (min-width: 767px) and (max-width: 960px) {

    .header .form-search { top: 61px; left: 420px; }    

}

@media (max-width: 769px) {
    #barra_nera {position:fixed !important; top: 0px; width:100%;}
    #banner_spedizione_mobile { display:block !important; position: fixed !important; top:35px; width: 100%;}
    .header-content { padding-top:60px !important}
    .header .form-search {padding-top:100px !important}
}

@media (max-width:400px) {
    #banner_spedizione_mobile { display:block !important; font-size: 14px !important; padding: 5px 0;}
    .header .form-search {padding-top:100px !important}
    .header {margin-bottom:0px !important}
    
}
@media (max-width: 767px) {

    .header .quick-access { text-align: center; }
    .header .form-search { position: static; margin:  0 5px 0; display: inline-block; }
    .search-content { }
    
}


@media (min-width: 768px) and (max-width: 979px) {

    .header-content { text-align: center; padding-top: 0px; }
    .logo { float: none; }
    .mheader a.logo { float:left; margin-top: 10px; }
		.mheader .logo img { max-height: 65px; }
    .header .msearch .currency-language { float: none; }
}

@media (max-width: 767px) { 

    .header-content { text-align: center; }
    .logo { float: none; }
    .header a.logo { float:none; }
		.mheader .logo img { max-height: 65px; }

}

@media (min-width: 767px) and (max-width: 860px) {
    .top-cart-wrapper { top: 61px; right: 225px; }
    .contain-size { padding: 0; }
    .top-cart-wrap { float: none; text-align: center; }
}
@media (max-width: 768px) {
    .header-content { padding-top: 0; }
    .support-inner { background: none; text-align: center; padding-top: 12px; }
    .header .currency-language { width: 100%; }
    .header .currency-language .language-switcher { text-align: right;  }
    .header .currency-language .language-switcher { float: left; }
    .header .welcome-msg { text-align: center; }
    .header-content { text-align: center;}
    
    .header .links li { float: none; }
    .header h1.logo { text-align: center; }
    .header a.logo { float: none; display: inline-block; margin-top: 10px; }
    
    .top-cart-wrapper { float:none; position: static; display: inline-block; margin: 0 5px 0;}
    .top-cart-content { left: 0; margin-left: -120px; }
		.block-layered-nav, .block-viewed, .block-compare, .block-reorder { display: none; }
		.col-left { min-height: 0px !important; }
}
@media (max-width: 480px) {
    .header a.logo {  float:none; }
		.mheader .logo img { max-height: 65px; }
    .header .form-search{ top:305px; right:50px; }
    .support{ float:none; }
    .support-inner{  }
    .top-cart-wrap{  }
    .top-cart-content { left: 50%; margin-left: -138px; }
    .banner7-container { min-height: 80px; }
		.block-layered-nav, .block-viewed, .block-compare, .block-reorder { display: none; }
		.col-left { min-height: 0px !important; }
		.footer-static .f-address, .footer-static .f-email, .footer-static .f-phone { float:none !important; }
}


@media (max-width: 290px) {
    .header .form-search{ top:280px; right:0; padding: 0; margin: 0 -22px 0 0; }
}

@media (max-width: 767px) { 
    .banner-static .banner-box { width: 31%; clear: none; float: left; margin-left: 3%; }
}

@media (max-width: 480px) { 
    .banner-static .banner-box { width: 100%; clear: both; float: none; margin-left: 0; }
}

@media (max-width: 767px) {
    .banner-box2, .banner-box3 { margin: 10px 0 0; }
}

@media(max-width: 767px) {
    .banner-static .banner-static2 { margin: 16px 0 0; }
    .home-right-banner2 { margin: 20px 0 25px; }
    .block-related .flexslider .slides > li .item-inner .actions,
    .newproductslider-container .flexslider .slides > li .item-inner .actions {
        clear: both;
        float: left !important;
    }
}



@media (min-width: 768px) and ( max-width: 979px ) {
    .block-subscribe .input-box{ clear:both; }
}


@media (min-width: 767px) and (max-width: 860px) {
    .block-related .mini-products-list .product-details { margin: 10px 0 0 0; clear: both; }
}


@media(max-width: 1080px) {
    .block-subscribe .input-box{ width: 156px; }
}
@media(max-width: 767px) {
    .block-subscribe .input-box{ width: 95px; }
}


@media (max-width: 767px) {
    .featured-products .products-grid .span3 {  }
    
}
@media (min-width: 500px) and (max-width:767px) {
	.catalog-category-view .products-grid .span4 {  width: 30%; float: left; clear: none; margin-left: 2%; }
}

@media (max-width: 767px) {
	.msearch .currency-language { width: 260px; margin: 0 auto; float: none; }
	.msearch .links { float: none; text-align: center; padding: 10px 0; }
}

@media (max-width:767px){
    .products-grid .item-inner { margin-bottom: 20px; }
}


@media screen and (max-width: 860px) {
    .label-pro-new, .label-pro-sale {
        padding: 5px 10px;
        font-size: 11px;
    }
}


@media (min-width: 767px) and (max-width: 860px) {
    .products-grid .actions .add-to-links li,
    .products-grid .actions .link-wishlist,
    .products-grid .actions .link-compare,
    .products-grid .actions .product-detail a { width: 20px; height: 20px; }
    .products-grid button.btn-cart span span{ padding: 0 10px; }
}


@media (max-width: 480px) {
    .products-list .product-image { float: none; }
    .products-list .product-shop { margin: 0; }
    
}

@media (min-width: 767px) and (max-width: 860px) {
    .product-view .add-to-cart button.button { margin-top: 15px; }
}


@media (max-width: 480px) {
    .product-view .add-to-cart button.button { clear: both; margin-top: 15px; }

}

@media (max-width: 960px) {
    .product-view .product-more-info { font-size: 18px; }
}

@media (max-width: 480px) {
    .product-view .box-tags .form-add input.input-text { width: 175px; }

}

@media (max-width: 480px) {
    .cart-table{ width: 100% !important; }
    .cart-table thead { display: none; }
    .cart-table thead th { width:100%; float:left; height:20px; text-align:left; border-bottom:1px solid #fff; background:#ccc; }
    .cart-table tbody td { width:100%; float:left; text-align:left; }
    .cart-table tr.last th, .cart-table tr.last td{  border-right: 0; margin: 0 auto; width: 228px;  }
    .cart-table .btn-continue{ margin: 10px 0; float: none;}
     .cart-table .btn-empty{ display: none; }
    .cart-table .btn-update{ margin: 10px 0 !important; float: none; }
    .cart-table .a-right, .cart-table .a-center {  }
    .cart-table a.btn-edit { display: none; }
    .cart-table .a-center input.qty { float: right; }
    .data-table .td-title { display: inline-block; float: left; font-weight: bold; }
    .cart-table .td-actions a.btn-edit { display: block; }
    .cart-table a.btn-remove, .cart-table .td-actions { display: inline-block; margin: 5px; }
    .cart-table .product-name { text-align: center; }
    .cart-table td .product-image { margin: 0 auto; }
    .data-table tfoot tr.first td { text-align: center !important; }
    .cart .title-buttons .checkout-types { display: none; }
    .header .form-search input.input-text { width: 220px; }
}
@media (min-width: 480px) {
    .data-table .td-title,
    .cart-table .td-actions a.btn-edit { display: none; }
}


@media (max-width: 480px) {
    .opc .form-list .field { float: none; }
    .opc .form-list input.input-text { width: 98%; }
}

@media (max-width: 767px) {
    .span3 { clear: both; }
    .footer-subscribe {  }
    .footer-static .span3 { margin-top: 15px; }
}

@media (max-width: 860px) {
    .footer ul { float: none; }
    .footer address { text-align: center; }
}
@media (max-width: 767px) {
    .footer-social { float: none; text-align: center; }
    .footer-social li { float: none; display: inline-block; }
    .footer .footer-payment { float: none; text-align: center; }
    .footer address { padding: 15px 0;}
}


@media (max-width: 480px) {
    .product-tabs li { float: none; border: 0; border-bottom:1px solid #a4a4a4; }
    .product-tabs li.last { border: 0; }
}

@media (min-width: 767px) and (max-width: 860px) {
    .navbar-inner { padding: 0; }
}

@media (min-width: 767px) {	
	.header { min-height: 85px; }
	.header .form-search { width: 100%; margin: 0; }
	.header .search-content { width: 100%; position: relative; }
	.header .form-search input.input-text { width: 100%; }
	.header .form-search button.button { position: absolute; right: 0; }
}
@media (max-width: 767px) {
	.header { min-height: 115px; }
	.header .form-search { width: 100%; margin: 0; }
	.header .search-content { width: 100%; position: relative; }
	.header .form-search input.input-text { width: 100%; }
	.header .form-search button.button { position: absolute; right: 0; }
	.brand-slider-contain .flex-direction-nav { display: none; }
}

@media (max-width: 500px) {
	.header { min-height: 145px; }
	.std ul { margin: 0; }
	.footer-static-container,
	.footer-static .footer-static-title h3 { text-align: center; }
	.f-right { text-align: center; }
	.footer-subscribe { float: none; width: 100%; clear: both; }
	.regular-price .price,
	.special-price .price,
	.old-price .price { font-size: 11px; }
	.label-pro-new, .label-pro-sale { display: none; }
	.label-pro-sale { top:38px; }

	.newproductslider-container .item-inner ul.add-to-links, .featured-products .products-grid .item-inner ul.add-to-links { right: 0; }
	.newproductslider-container .add-to-links li, .featured-products .products-grid .add-to-links li,
	.newproductslider-container .actions .link-wishlist, .featured-products .products-grid .actions .link-wishlist { display: none; width: 15px; height: 15px; }
	.newproductslider-container .actions .link-compare, .featured-products .products-grid .actions .link-compare { display: none; }
	.newproductslider-container .add-to-links li, .featured-products .products-grid .add-to-links li { background-color: transparent; }

	.product-name a { text-transform: capitalize; }
	.products-grid .item-inner { margin-bottom: 10px; border-color: #f2f2f2; }
	.block-related .item-inner, .featured-products .products-grid .item-inner, .newproductslider-container .item-inner { border-color: #f2f2f2; }
	.block-related .flex-viewport, .newproductslider-container .flex-viewport { margin: 0 3px; }
	
	.featured-products .products-grid .actions a.link-wishlist,
	.newproductslider-container .actions a.link-wishlist {
		background-color: #63BA3A;
		background-size: 10px;
		border-radius: 15px;
		width: 25px;
		height: 25px;
		margin-top: -10px;
		margin-left: -10px;
	}
	.mcurrency { float: right; }
	.msearch .links { clear: both; }
	.ajaxcartsuper-index-productview .product-view .product-img-box .product-image { display: none; }

	.msearch .currency-language { width: auto; }

}

@media (max-width: 768px) {
	.ajaxcartsuper-index-productview .product-view .product-shop .short-description { display: none; }
	.page-popup { padding: 10px; }
	.ajaxcartsuper-index-productview .product-options-bottom .add-to-cart { width: 220px; }
	.ajaxcartsuper-index-productview .product-view button.btn-cart span.btn-arrow { display: none; }
	.ajaxcartsuper-index-productview .product-view .product-shop .product-name { margin-top: 10px; }
	.ajaxcartsuper-index-productview .product-view .product-img-box .product-image { display: none; }
}


@media (max-width: 979px) and (min-width: 768px) {
    input, textarea, .uneditable-input {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .productpage-sample-block .block2, .content-sample-block .block2 { margin-top: 15px; }
}


@media (max-width: 979px) and (min-width: 768px) { 
	.col1-layout .product-view .product-shop { width: 100%; }
	.col1-layout .product-img-box .span10 { width: 100%; }

	.col1-layout .product-view .span9 { width: 100% }
}





/******onepagecheckout.css**********/

@media (max-width: 1024px) and (min-width: 979px) {
	.onepagecheckout_datafields .span4{ width:286px; }
	.onepagecheckout_datafields .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.two_fields .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.full .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.full textarea,
	.onepagecheckout_datafields .span4 .form-list li.wide .input-box,
	.onepagecheckout_datafields .span4 .form_fields div.full .data_area,
	.onepagecheckout_datafields .discount .input-box,
	.onepagecheckout_datafields #comment-block,
	.op_login_area .data_area,
	.op_login_area .input-box { width: 230px; }
	.onepagecheckout_datafields .span4 .form_fields div.two_fields .short { width: 100%; float: none; }
}

@media (max-width: 979px) and (min-width: 768px) {
	.onepagecheckout_datafields .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.two_fields .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.full .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.full textarea,
	.onepagecheckout_datafields .span4 .form-list li.wide .input-box,
	.onepagecheckout_datafields .span4 .form_fields div.full .data_area,
	.onepagecheckout_datafields .discount .input-box,
	.onepagecheckout_datafields #comment-block,
	.op_login_area .data_area,
	.op_login_area .input-box { width: 200px; }
	.onepagecheckout_datafields .span4 .form_fields div.two_fields .short { width: 100%; float: none; }
}
@media (max-width: 767px) {
	.onepagecheckout_datafields .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.two_fields .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.full .data_area,
	.onepagecheckout_datafields .span4 .form_fields div.full textarea,
	.onepagecheckout_datafields .span4 .form-list li.wide .input-box,
	.onepagecheckout_datafields .span4 .form_fields div.full .data_area,
	.onepagecheckout_datafields .discount .input-box,
	.onepagecheckout_datafields #comment-block,
	.op_login_area .data_area,
	.op_login_area .input-box { width: 90%; }
	.op_login_area { width: 98%; }
	.onepagecheckout_datafields .span4 .form_fields div.two_fields .short { width: 100%; float: none; }
}

@media (min-width: 1200px) {
	.onepagecheckout_datafields .span4 { width: 356px !important; }
}



/****** ajax_cart_super.css**********/

@media (max-width: 767px) {
	.wrapper_box {
		width: 220px!important;
		margin-left: -110px!important;
	}
	.wrapper_box p.info { font-size: 12px!important; }
	#product_info_box img{ width: 150px!important; }
	.wrapper_box #continue_shopping { width: 100% !important; }
	.wrapper_box #shopping_cart { display: none; }
}

@media (max-width: 300px) {
	.wrapper_box {
		width: 180px !important;
		margin-left: -90px!important;
		left: 50% !important;
		top: 10% !important;
	}
	.wrapper_box p.info { font-size: 10px!important; }
	#product_info_box img{ width: 110px!important; }
	.wrapper_box #continue_shopping { width: 100% !important; }
	.wrapper_box #shopping_cart { display: none; }
}

/********* banner7.css **************/

@media screen and (max-width: 860px) {
  .banner7-container .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .banner7-container .flex-direction-nav .flex-next {opacity: 1; right: 0;}
  .banner7-container .flex-direction-nav a { bottom:40%; }
}

@media (max-width: 768px) {
	.banner7-container .flex-direction-nav { display: none; }
	.banner7-container { border-top: 1px solid #c6c6c7; }
}



/******** brandslider.css *********/

@media screen and (max-width: 860px) {
  .brand-slider-contain .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .brand-slider-contain .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}



/*********** featuredslider.css  ******************/

@media screen and (max-width: 860px) {
  .featuredproductslider-container .flex-direction-nav .flex-prev {opacity: 1;}
  .featuredproductslider-container .flex-direction-nav .flex-next {opacity: 1;}
}



/****************** newslider.css ****************/

@media (min-width: 768px) and (max-width: 979px) {
  .newproductslider-container .flexslider .slides > li { width:223px !important; }
  .newproductslider-container .flexslider .slides .price-box{ top:40%; }
}
@media screen and (max-width: 860px) {
  .newproductslider-container .flex-direction-nav .flex-prev {opacity: 1; }
  .newproductslider-container .flex-direction-nav .flex-next {opacity: 1;}
}

@media (max-width: 768px) {
	.newproductslider-container .flex-direction-nav { display: none; }
}




/************* upsellslider.css **************/

@media screen and (max-width: 860px) {
  .upsellslider-container .flex-direction-nav .flex-prev {opacity: 1; }
  .upsellslider-container .flex-direction-nav .flex-next {opacity: 1; }
}

