<?php
/** @var Mage_Page_Block_Html_Topmenu_Renderer $this */
/** @var Varien_Data_Tree_Node $menuTree */
/** @var string $childrenWrapClass */

$html = '';
$children = $menuTree->getChildren();
$parentLevel = $menuTree->getLevel();
$childLevel = is_null($parentLevel) ? 0 : $parentLevel + 1;

$counter = 1;
$childrenCount = $children->count();

$parentPositionClass = $menuTree->getPositionClass();
$itemPositionClassPrefix = $parentPositionClass ? $parentPositionClass . '-' : 'nav-';

foreach ($children as $child) {
    $child->setLevel($childLevel);
    $child->setIsFirst($counter == 1);
    $child->setIsLast($counter == $childrenCount);
    $child->setPositionClass($itemPositionClassPrefix . $counter);

    if ($child->hasChildren()) {
        $id = uniqid('nav_');
        $html .= "<li class='nav-item dropdown' data-toggle='offcanvas' data-target='$id'>";
        $html .= "<a href='{$child->getUrl()}' class='nav-link' data-toggle='dropdown'>{$this->escapeHtml($this->__($child->getName()))}</a>";
        $html .= '<div class="dropdown-menu">';
        $html .= "<ul id='$id' class='navbar-collapse offcanvas-collapse''>";
        $html .= "<li class='nav-item title'>";
        $html .= "<i class='bx bx-chevron-left' data-toggle='offcanvas' data-target='$id'></i>";
        $html .= "<a href='{$child->getUrl()}'>{$this->__($child->getName())}</a>";
        $html .= "</li>";
        $html .= $this->render($child, $childrenWrapClass);
        $html .= '</ul>';
        $html .= '</div>';
        $html .= '</li>';
    } else {
        $html .= "<li class='nav-item'>";
        $html .= "<a href='{$child->getUrl()}' class='nav-link'>{$this->escapeHtml($this->__($child->getName()))}</a>";
        $html .= '</li>';
    }
    $nextChildLevel = $childLevel + 1;
    $counter++;
}

return $html;
