div.product-file {
  padding: 10px 0;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  h2 {
    &.title {
      text-transform:uppercase;
      font-weight: normal;
    }
  }
  a {
    &.download {
      font-size: 13px;
      font-weight:bold;
    }
  }
  div {
    &.productfile_all_div {
      > table {
        width: 100%;
        tr {
          td {
            &:first-child {
              width: 80%;
            }
          }
        }
      }
    }
  }
  .productfile_tooltip {
    &.productfile_protoClassic {
      visibility: visible;
      .productfile_toolbar {
        width: 100%;
      }
    }
  }
}
