dl {
  &.customer-review-list {
    width: 100%;
    > div {
      display: inline-block;
      width: 28%;
      vertical-align: top;
      padding-right: 3%;
      > dd {
        min-height: 7em;
        max-height: 18em;
        overflow: hidden;
      }
    }
    @media (max-width: 1024px) {
      > div {
        width: 46%;
      }
    }
    @media (max-width: 570px) {
      > div {
        width: 97%;
      }
    }
  }
}
