.share-container {
  padding-top: 3em;
  width: 100%;
  position: relative;
  h3 {
    &.title {
      width: auto;
      float: left;
      line-height: 2em;
      margin-right: 1em;
      margin-bottom: 0;
      @media (max-width: 980px) {
        font-size: smaller;
        line-height: 1.6;
      }
      @media (max-width: 280px) {
        line-height: 32px;
      }
    }
  }
  .rrssb-buttons {
    width: 17%;
    float: left;
    height: auto;
    padding-top: 0 !important;
    li {
      a {
        &:hover {
          background-color: inherit;
          .rrssb-icon {
            svg {
              height: auto;
              path {
                opacity: .25;
              }
            }
          }
        }
        background-color: white;
        height: auto;
        .rrssb-icon {
          height: auto;
          svg {
            top: 0 !important;
          }
        }
      }
    }
    .rrssb-icon {
      svg {
        height: auto;
        path {
          fill: black !important;
          transition: opacity .5s;
        }
      }
    }
  }
}
