@borderColor: #d6d6d6;
@verticalPadding: 5px;
@verticalMargin: 10px;
.catalog-product-view {
  .configurable-option-before {
    border: 1px solid #ffc107;
    padding: .5em;
    border-radius: .5em;
    color: black;
    font-weight: bold;
    background: lightyellow;
  }
}

div {
  &.product-info-row {
    border-top: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    margin-top: @verticalPadding;
    padding: @verticalPadding 0;
    .rating-box {
      display: inline-block;
    }
    a {
      color: #bc001d;
      text-transform: uppercase;
    }
  }
}

.modal-backdrop {
  z-index: 10001;
}

.modal {
  z-index: 10002;
  .modal-header {
    h1, h2, h3, h4, h5 {
      display: inline;
    }
  }
}
