<table width="100%">
<tr >
	<td align="center">
		<?php echo "File was deleted successfully."; ?>
	</td>
</tr>
<tr>
<td>&nbsp;
</td>
</tr>
<tr>	
	<td align="center">
		<div>
			<button class="back" type="button" onclick="closeWindow();">
				<span><?php echo $this->__('Close'); ?></span>
			</button>
		</div>
	</td>
</tr>
</table>

<script type="text/javascript">
	function closeWindow(){
		window.opener.location.href = window.opener.location.href+'active_tab/productfile/';
		if (window.opener.progressWindow){
			window.opener.progressWindow.close()
		}
		window.close();
	}
</script>
