<?php $productfile = $this->fileProductfile(); ?>
<?php $inStore = $this->getRequest()->getParam('store'); 
	  $defaultLabel = Mage::helper('productfile')->__('Use Default');
      $defaultTitle = Mage::helper('productfile')->__('-- Please Select --');
      $scopeLabel = Mage::helper('productfile')->__('STORE VIEW');?>
<?php if(!$productfile): ?>
<?php $product_id = Mage::app()->getRequest()->getParam('pid'); ?>
<div class="entry-edit">
	<form id="upload_file_productfile" name="upload_file_productfile" enctype="multipart/form-data" method="post" action="<?php echo $this->getUrl('*/*/save',array('pid' => $product_id)); ?>">
		<div><input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key"/></div>
		<div><input type="hidden" value="<?php echo $product_id; ?>" name="product_id"/></div>
		<div id="productfile_catalog_product_form_section_content">
			<div class="entry-edit">
				<div class="entry-edit-head">
					<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Uploader'); ?></h4>
				</div>
				<div id="uploader_form" class="fieldset">
					<div align="left" class="hor-scroll">
						<table class="form-list" cellspacing="0">
							<tbody>
								<tr>
									<td class="label">
										<label for="title"><?php echo $this->__('Title'); ?><span class="required">*</span></label>
									</td>
									<td class="value">
										<input id="title" class="required-entry input-text" type="text" value="" name="title"/>
									</td>			 																		
								</tr>
								<tr>
									<td class="label">
										<label for="filename"><?php echo $this->__('File Name'); ?><span class="required">*</span></label>
									</td>
									<td class="value">
										<input id="filename" class="required-entry" type="file" value="" name="filename"/>
									</td>
									
								</tr>
																
								<tr>
									<td class="label">
										<label for="status"><?php echo $this->__('Status'); ?></label>
									</td>
									<td class="value">
										<select id="status" name="file_status">
											<option value="1"><?php echo $this->__('Enable') ?></option>
											<option value="2"><?php echo $this->__('Disable') ?></option>
										</select>
									</td>
								</tr>
								
								<tr>
									<td class="label">
										<label for="content"><?php echo $this->__('Content'); ?></label>
									</td>
									<td class="value">
										<textarea name="content" id="content" title="<?php echo Mage::helper('productfile')->__('Content') ?>" class="input-text" style="height:150px;width:525px;" cols="50" rows="5"></textarea>
									</td>
									
								</tr>
								
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>
										<div class="content-buttons form-buttons">
											<button class="save" type="submit" onclick="productfileForm.submit();">
												<span><?php echo $this->__('Save'); ?></span>
											</button>
											<button class="back" type="button" onclick="closeWindow();">
												<span><?php echo $this->__('Close'); ?></span>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<?php else: ?>
<?php $product_id = Mage::app()->getRequest()->getParam('pid'); ?>
<?php $_helper = Mage::helper('productfile')->init($productfile) ?>
<div  class="entry-edit">
	<form id="upload_file_productfile" name="upload_file_productfile" enctype="multipart/form-data" method="post" action="<?php echo $this->getUrl('*/*/save',array('pid'=>$product_id, 'id' => $this->getRequest()->getParam('id'), 'store' => $inStore)); ?>">
		<div><input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key"/></div>
		<div><input type="hidden" value="<?php echo $product_id; ?>" name="product_id"/></div>
		<div id="productfile_catalog_product_form_section_content">
			<div class="entry-edit">
				<div class="entry-edit-head">
					<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Uploader'); ?></h4>
				</div>
				<div id="uploader_form" class="fieldset">
					<div  class="hor-scroll">
						<table class="form-list" cellspacing="0">
							<tbody>
								<tr>
									<td class="label">
										<label for="title"><?php echo $this->__('Title'); ?><span class="required">*</span></label>
									</td>
									<td class="value">
										<input id="title" class="required-entry input-text" type="text" value="<?php echo $productfile->getTitle();?>" name="title" <?php if($inStore && !$productfile['title_in_store']) echo 'disabled';?>/>
									</td>			 									
									<?php if ($inStore):?>									
									<td class="use-default">
										<input id="title_default" name="title_default" type="checkbox" value="1" class="checkbox config-inherit" <?php if(!$productfile['title_in_store']){ echo 'checked="checked"';} else echo '';?> onclick="toggleValueElements(this, Element.previous(this.parentNode))" />
										<label for="title_default" class="inherit" title="<?php echo $defaultTitle ?>"><?php echo $defaultLabel ?></label>
									 </td>
									 <td class="scope-label"><?php echo '['.$scopeLabel.']';?></td>		
									<?php else: ?>
									<td class="scope-label"><?php echo '['.$scopeLabel.']';?></td>		
									 <?php endif; ?>
								</tr>
								<tr>
									<td class="label">
										<label for="filename"><?php echo $this->__('File Name'); ?></label>
									</td>
									<td class="value">
										<input id="filename" type="file" value="" name="filename"/>
									</td>
									
								</tr>											
								<tr>
									<td class="label">
										<label for="productfile"><?php echo $this->__('Current File'); ?></label>
									</td>
									<td class="value">
										<?php echo $productfile->getFilename(); ?>
									</td>
									
								</tr>													
								<tr>
									<td class="label">
										<label for="status"><?php echo $this->__('Status'); ?></label>
									</td>
									<td class="value">
										<select id="status" name="file_status" <?php if($inStore && !$productfile['status_in_store']) echo 'disabled';?> >
											<?php $status = $productfile->getStatus(); ?>
											<?php if($status == 1): ?>
											<option value="1" selected="selected"><?php echo $this->__('Enable') ?></option>
											<option value="2"><?php echo $this->__('Disable') ?></option>
											<?php else: ?>
											<option value="1"><?php echo $this->__('Enable') ?></option>
											<option value="2" selected="selected"><?php echo $this->__('Disable') ?></option>
											<?php endif; ?>
										</select>
									</td>
									<?php if ($inStore):?>									
									<td class="use-default">
										<input id="status_default" name="status_default" type="checkbox" value="1" class="checkbox config-inherit" <?php if(!$productfile['status_in_store']){ echo 'checked="checked"';} else echo '';?> onclick="toggleValueElements(this, Element.previous(this.parentNode))" />
										<label for="status_default" class="inherit" title="<?php echo $defaultTitle ?>"><?php echo $defaultLabel ?></label>
									 </td>
									 <td class="scope-label"><?php echo '['.$scopeLabel.']';?></td>		
									<?php else: ?>
									<td class="scope-label"><?php echo '['.$scopeLabel.']';?></td>		
									 <?php endif; ?>
								</tr>		

								
								<tr>
									<td class="label">
										<label for="content"><?php echo $this->__('Content'); ?></label>
									</td>
									<td class="value" align="left">
										 <textarea name="content" id="content" title="<?php echo Mage::helper('productfile')->__('Content') ?>"  class="input-text" style="height:150px;width:525px;" cols="40" rows="5" <?php if($inStore && !$productfile['content_in_store']) echo 'disabled';?>><?php echo $productfile->getContent()?></textarea>
									</td>
									<?php if ($inStore):?>									
									<td class="use-default">
										<input id="content_default" name="content_default" type="checkbox" value="1" class="checkbox config-inherit" <?php if(!$productfile['content_in_store']){ echo 'checked="checked"';} else echo '';?> onclick="toggleValueElements(this, Element.previous(this.parentNode))" />
										<label for="content_default" class="inherit" title="<?php echo $defaultTitle ?>"><?php echo $defaultLabel ?></label>
									 </td>
									 <td class="scope-label"><?php echo '['.$scopeLabel.']';?></td>		
									<?php else: ?>
									<td class="scope-label"><?php echo '['.$scopeLabel.']';?></td>		
									 <?php endif; ?>									
								</tr>
									
								
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>
										<div class="content-buttons form-buttons">
											<button class="save" type="submit" onclick="productfileForm.submit();">
												<span><?php echo $this->__('Save'); ?></span>
											</button>
											<button class="delete" type="button" onclick="confirmSetLocation('Are you sure?', '<?php echo $this->getUrl('*/*/deleteAttachedFile',array('pid'=>$product_id,'id' => $this->getRequest()->getParam('id'))) ?>')">
												<span><?php echo $this->__('Delete'); ?></span>
											</button>
											<button class="back" type="button" onclick="closeWindow();">
												<span><?php echo $this->__('Close'); ?></span>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<?php endif; ?>
<script type="text/javascript">
	//< ![CDATA[
	var productfileForm = new VarienForm('upload_file_productfile');
	//]]>
</script>
<script type="text/javascript">
	function closeWindow(){
		window.opener.location.href = window.opener.location.href+'active_tab/productfile/';
		if (window.opener.progressWindow){
			window.opener.progressWindow.close()
		}
		window.close();
	}
</script>