<?php
/**
 * @var $this Mage_Catalog_Block_Category_View
 */

$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}
?>
<?= $this->getChildHtml('category.title.before') ?>
<div class="page-title category-title">
    <h1><?= $_helper->categoryAttribute($_category, $_category->getCustomH1attribute() ?: $_category->getName(), 'name'); ?></h1>
    <button type="button" data-toggle="offcanvas" data-target="left-column-container">
        <span><?= $this->__('Filters')?></span>
        <i class="bx bx-plus" ></i>
        <i class="bx bx-x" ></i>
    </button>
</div>
<?= $this->getChildHtml('category.title.after') ?>

<?= $this->getMessagesBlock()->getGroupedHtml() ?>

<?= $_imgUrl ? ($_imgHtml ?? ''): '' ?>

<?php if($this->isContentMode()): ?>
    <?= $this->getCmsBlockHtml() ?>
<?php elseif($this->isMixedMode()): ?>
    <?= $this->getCmsBlockHtml() ?>
    <?= $this->getProductListHtml() ?>
<?php else: ?>
    <?= $this->getProductListHtml() ?>
<?php endif; ?>

<div class="category-description">
    <?= $_helper->categoryAttribute($_category, $_category->getDescription(), 'description') ?>
</div>
