<?php
/**
 * @var $this Onecashmere_Core_Block_Widget_DoubleImage
 */
?>
<div class="row text-center double-image">
    <div class="col-12 col-md-6">
        <a href="<?= $this->getLinkUrl('left')?>" title="<?= $this->getTitle('left')?>">
            <picture>
                <?php if ($mobileUrl = $this->getImageUrl('left', 'mobile')): ?>
                    <source media="(max-width: 740px)" data-srcset="<?= $mobileUrl?>">
                <?php endif; ?>
                <?php if ($tabletUrl = $this->getImageUrl('left', 'tablet')): ?>
                    <source media="(max-width: 1024px)" data-srcset="<?= $tabletUrl?>">
                <?php endif; ?>
                <source data-srcset="<?= $this->getImageUrl('left', 'desktop')?>">
                <img class="lazyload img-fluid" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="<?= $this->getAlt('left')?>" title="<?= $this->getTitle('left')?>">
            </picture>
        </a>
    </div>
    <div class="col-12 col-md-6">
        <a href="<?= $this->getLinkUrl('right')?>" title="<?= $this->getTitle('right')?>">
            <picture>
                <?php if ($mobileUrl = $this->getImageUrl('right', 'mobile')): ?>
                    <source media="(max-width: 740px)" data-srcset="<?= $mobileUrl?>">
                <?php endif; ?>
                <?php if ($tabletUrl = $this->getImageUrl('right', 'tablet')): ?>
                    <source media="(max-width: 1024px)" data-srcset="<?= $tabletUrl?>">
                <?php endif; ?>
                <source data-srcset="<?= $this->getImageUrl('right', 'desktop')?>">
                <img class="lazyload img-fluid" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="<?= $this->getAlt('right')?>" title="<?= $this->getTitle('right')?>">
            </picture>
        </a>
    </div>
</div>
