<?php
/**
 * Product list template
 *
 * @var $this Mage_Catalog_Block_Product_List
 * @var $product Mage_Catalog_Model_Product
 * @var $helper Mage_Catalog_Helper_Output
 */

$_productCollection = $this->getLoadedProductCollection();
?>
<?php if (!count($_productCollection)): ?>
    <p class="note-msg"><?= $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <ul class="category-products row">
        <?php foreach ($_productCollection as $product): ?>
            <?= $this->getChild('product.renderer')->setData([
                    'product' => $product,
                    'col'   => 'col-md-3 col-sm-4 col-6'
            ])->toHtml() ?>
        <?php endforeach ?>
    </ul>
<?php endif; ?>
