<?php
/**
 * @var $this Mage_Catalog_Block_Product_View
 * @var $helper Mage_Catalog_Helper_Output
 */

$helper = $this->helper('catalog/output');
$product = $this->getProduct();
?>
<script type="text/javascript">
    jQuery(document).ready(function() {
        window.optionsPrice = new Product.OptionsPrice(<?= $this->getJsonConfig() ?>);
    });
</script>
<div id="messages_product_view">
    <?= $this->getMessagesBlock()->getGroupedHtml() ?>
</div>
<div class="product-essential row" itemscope itemtype="http://schema.org/Product" itemid="#product_base">
    <meta itemprop="url" content="<?= $product->getUrlModel()->getUrl($product, ['_ignore_category' => true]); ?>"/>
    <meta itemprop="sku" content="<?= $product->getSku() ?>"/>
    <div class="product-img-box col-8">
        <?= $this->getChildHtml('media') ?>
        <?php $this->getChildHtml('social.share') ?>
    </div>
    <div class="col-4">
        <div id="image-zoom-container"></div>
        <form action="<?= $this->getSubmitUrl($product) ?>" method="post" id="product_addtocart_form" enctype="multipart/form-data">
            <div class="no-display">
                <input type="hidden" name="product" value="<?= $product->getId() ?>"/>
                <input type="hidden" name="related_product" id="related-products-field" value=""/>
            </div>
            <h1 itemprop="name">
                <?= $helper->productAttribute($product, $product->getName(), 'name') ?>
            </h1>
            <?= $this->getReviewsSummaryHtml($product, 'aggregate', true) ?>
            <a href="#size-chart-anchor" class="btn"><?= $this->__('Size guide')?></a>
            <?php if ($this->hasOptions()): ?>
            <?= $this->getChildHtml('product.price')?>
            <?php else: ?>
            <?= $this->getPriceHtml($this->getProduct())?>
            <?php endif; ?>
            <?= $this->getChildHtml('extrahint') ?>
            <?= $this->getChildHtml('product_type_data') ?>
            <div class="short-description">
                <div class="std" itemprop="description"><?= $helper->productAttribute($product, nl2br($product->getShortDescription()), 'short_description') ?></div>
            </div>
            <?php if ($this->hasOptions()): ?>
                <?php if ($product->isSaleable()): ?>
                <dl id="configurableOptions" class="options" data-bind="scope: 'configurableOptions'">
                    <!-- ko foreach: {data: attributes, as: 'attribute'} -->
                    <dt data-bind="css: {error: !!error()}">
                        <span data-bind="text: label, css: {required: !$parent.getSelected(attribute, 'label')}"></span>
                        <!-- ko if: $parent.getSelected(attribute, 'label'), as: selectedLabel -->
                        <span data-bind="text: $parent.getSelected(attribute, 'label')" class="label"></span>
                        <!-- /ko -->
                        <!-- ko if: error -->
                        <span class="error" data-bind="text: error"></span>
                        <!-- /ko -->
                    </dt>
                    <dd>
                        <ul data-bind="attr: {'data-attribute-id': id}, class: code" class="attribute row">
                            <!-- ko foreach: {data: options, as: 'option'} -->
                            <li class="option col-auto" data-bind="attr: {'data-option-id': id}, css: {active: isAvailable, selected: $root.isSelected(option, attribute)}, click: isAvailable() ? $root.onOptionClick.bind($root, attribute) : function() {}">
                                <!-- ko if: attribute.id == 155 -->
                                <span data-bind="text: label"></span>
                                <!-- /ko -->
                                <!-- ko if: attribute.id != 155 -->
                                <img data-bind="attr: {src: media_url, alt: label, title: label}"/>
                                <!-- /ko -->
                            </li>
                            <!-- /ko -->
                        </ul>
                    </dd>
                    <!-- /ko -->
                    <div class="selects">
                        <!-- ko foreach: {data: attributes, as: 'attribute'} -->
                        <select class="required-entry" data-bind="attr: {name: 'super_attribute['+id+']'}, options: options, optionsText: 'label', optionsValue: 'id', value: $root.getSelected(attribute, 'id'), valueAllowUnset: true"></select>
                        <!-- /ko -->
                    </div>
                </dl>
                <?= $this->getChildChildHtml('container1', '', true, true) ?>
                <?= $this->getChildChildHtml('container2', '', true, true) ?>
                <?php endif; ?>
            <?php else: ?>
                <?= $this->getChildHtml('addtocart') ?>
            <?php endif; ?>
            <?= $this->getChildHtml('social.share')?>
            <small class="sku"><?= $this->__('Article Code: %s', $product->getSku())?></small>
            <?= $this->getChildHtml('children.size.extra.cost') ?>
            <!-- ko foreach: {data: configurableOptions.attributes()[0], afterRender: $root.initOptionSelection.bind($root)} -->
            <!-- ko text: '' --><!-- /ko -->
            <!-- /ko -->
        </form>
    </div>
</div>
<?= $this->getChildHtml('related_products') ?>
<?= $this->getChildHtml('size.chart') ?>
<?= $this->getChildHtml('review.carousel')?>
<?= $this->getChildHtml('review_form'); ?>
<?= $this->getChildHtml('upsell_products') ?>
