<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Sidebar
 */

$qty = max($this->getSummaryCount() ?? 0, 0)
?>
<div id="block-minicart" class="block-cart row <?= "qty-$qty"?>">
    <?php if (!$qty) :?>
        <span class="empty"><?= $this->__('You have no items in your shopping cart.') ?></span>
    <?php else: ?>
        <ul id="cart-sidebar" class="mini-products-list">
            <?php foreach($this->getRecentItems() as $item): ?>
                <?= $this->getItemHtml($item) ?>
            <?php endforeach; ?>
        </ul>
        <?php if($this->isPossibleOnepageCheckout()): ?>
        <div class="col-2 offset-8">
            <a class="btn btn-secondary btn-sm" role="button" title="<?= $this->__('View Cart') ?>" href="<?= $this->getUrl('checkout/cart')?>">
                <?= $this->__('View Cart') ?>
            </a>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary btn-sm" role="button" title="<?= $this->__('Checkout') ?>" href="<?= $this->getCheckoutUrl() ?>">
                <?= $this->__('Checkout') ?>
            </a>
        </div>
        <?= $this->getChildHtml('extra_actions') ?>
        <?php endif ?>
    <?php endif; ?>
</div>
