<?php
/**
 * @var $this W3Themes_Featuredproduct_Block_Featuredproduct
 * @var $_product Mage_Catalog_Model_Product
 */
?>
<?php
		function cut_string($string,$number){
			if(strlen($string) <= $number) {
				return $string;
			}
			else {	
				if(strpos($string," ",$number) > $number){
					$new_space = strpos($string," ",$number);
					$new_string = substr($string,0,$new_space)."..";
					return $new_string;
				}
				$new_string = substr($string,0,$number)."..";
				return $new_string;
			}
		}
	?>
<?php if($this->getConfig('enabled') && $this->getProductCollection()->count()) : ?>
	<div class="featured-products">
		<?php if($this->getConfig('title')) :?>
        <div class="featured-product-title"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php endif;?>
        <div class="category-products row-fluid">
			    <?php $_collectionSize = $this->getProductCollection()->count() ?>
			    <?php if( !$this->getConfig('items') ) { $_columnCount = 1 ; } else { $_columnCount = $this->getConfig('items'); }?>
			    <?php $i=0; foreach ($this->getProductCollection() as $_product): ?>
			        <?php if ( $i++ % $_columnCount==0): ?>
			        <ul class="products-grid <?php if( $i == 1 ) echo ' first';?>">
			        <?php endif ?>
			        	<?php 
			        		if ( !$this->getConfig('width') ){
			        			$w=135;
			        		} else {
			        			$w = $this->getConfig('width');
			        		}
			        		if( !$this->getConfig('height') ){
			        			$h=135;
							 }
			        		else {
			        			$h = $this->getConfig('height');
			        		}
			        	?>
			            <li class="span3 item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
							<div class="item-inner">
                                <a href="<?php echo $_product->getProductUrl() ?>" data-product-id="<?php echo $_product->getID() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
                                    <img
                                            src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h); ?>"
                                            alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>"
                                            class="image-retina"
                                            retina-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w*2,$h*2); ?>"
                                    />
                                    <?php if ($_product->getData('flipper_image') && $_product->getData('flipper_image') != 'no_selection'): ?>
                                    <img
                                            src="<?php echo $this->helper('catalog/image')->init($_product, 'flipper_image')->resize($w,$h); ?>"
                                            class="image-retina back-image"
                                            retina-image="<?php echo $this->helper('catalog/image')->init($_product, 'flipper_image')->resize($w*2,$h*2); ?>"
                                    />
                                    <?php endif; ?>
								</a>
								<div class="product-details">	
									<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
									<?php if ( $this->getConfig('review') ): ?>
									<?php echo $this->getReviewsSummaryHtml($_product, 'short', true) ?>
									<?php endif; ?>
									<?php echo $this->getPriceHtml($_product, true) ?>
								</div>
                                <div class="actions">
                                    <?php if ($this->getConfig('addtocart')) { ?>
                                        <?php if($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('View Details') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('View Details') ?></span></span></button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>
                                    <?php }?>
                                    <?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare')){?>
                                        <ul class="add-to-links">
                                            <?php if( $this->getConfig('addtowishlist')){?>
                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                                <?php endif; ?>
                                            <?php } ?>
                                            <?php if( $this->getConfig('addtocompare') ){?>
                                                <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>" rel="tooltip"><?php echo $this->__('Add to Compare') ?></a></li>
                                                <?php endif; ?>
                                            <?php }?>
                                        </ul>
                                    <?php }?>
                                </div>
								<?php
									$newFromDate = $_product->getNewsFromDate();
									$newToDate = $_product->getNewsToDate();
									$now = date("Y-m-d H:m:s");
									
									// Get the Special Price
									$specialprice = $_product->getSpecialPrice();
									// Get the Special Price FROM date
									$specialPriceFromDate = $_product->getSpecialFromDate();
									// Get the Special Price TO date
									$specialPriceToDate = $_product->getSpecialToDate();
									// Get Current date
																				   
									if($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label')) {
								?>
										<div class="label-pro-new"><?php echo $this->__('New'); ?></div>
								<?php }	?>
								
								<?php 								 
									if ($specialprice){
										if($specialPriceFromDate <= $now && $specialPriceToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')) {
								?>
												<div class="label-pro-sale"><?php echo $this->__('Sale'); ?></div>
								<?php
									} }
								?> 
							</div>
			            </li>
			        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
			        </ul>
		        <?php endif ?> <!--  -->
		        <?php endforeach ?>
		        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>				
			</div>
	</div>
<?php endif; ?>

