<?php
/**
 * @var $this Mage_Review_Block_Helper
 */
?>
<div class="ratings">
    <div class="rating-box">
        <div class="rating fill" style="width: <?= "{$this->getRatingSummary()}%"?>">&nbsp;</div>
        <div class="rating">&nbsp;</div>
    </div>
    <span class="amount"><?= $this->__('%d Review(s)', $this->getReviewsCount()) ?></span>
</div>
