<?php
/**
 * @var $this Mage_Review_Block_Helper
 */

$summary = $this->getRatingSummary() ?? 0;
?>
<div class="ratings aggregate" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <div class="rating-box">
        <div class="rating fill" style="width: <?= "{$summary}%"?>">&nbsp;</div>
        <div class="rating">&nbsp;</div>
    </div>
    <?php if ($this->getRatingSummary()): ?>
    <span class="amount"><?= $this->__('%d Review(s)', $this->getReviewsCount()) ?></span>
    <?php endif; ?>
    <a href="#" data-toggle="modal" data-target="#reviewForm"><?= $this->__('Add Your Review') ?></a>
    <meta itemprop="ratingValue" content="<?= $this->getRatingSummary(); ?>">
    <meta itemprop="reviewCount" content="<?= $this->getReviewsCount(); ?>">
    <meta itemprop="bestRating" content="100">
    <meta itemprop="worstRating" content="0">
</div>
