.catalog-product-view {
  ul {
    &.gallery {
      li {
        margin: 1rem 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        picture {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  #main-image-container {
    picture {
      > img {
        width: unset;
        &:hover {
          cursor: crosshair;
        }
      }
    }
  }
  #image-zoom-container{
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 10;
    position: absolute;
  }
}
