@import "gallery";
@import "sizeChart";
.catalog-product-view {
  height: unset;
  min-height: 30rem;
  @media (max-width: 991px) {
    h1 {
      font-size: 1.5rem;
      margin-bottom: .5rem !important;
    }
  }
  .product-essential {
    .ratings {
      .rating-box {
        margin: 0;
        display: inline-block;
      }
      span, a {
        vertical-align: top;
      }
    }
  }
  .btn-cart {
    background: black;
    border-radius: 0;
    color: white;
    line-height: 1.5rem;
    width: 100%;
    margin: 1rem 0;
  }
  .product-options-bottom {
    .price-box {
      display: none;
    }
  }
  .options {
    margin: 2rem 0;
    @media (max-width: 991px) {
      margin: 1rem 0;
    }
    dt {
      margin-bottom: .5rem;
      border: 1px solid transparent;
      font-weight: unset;
      font-size: 1.2rem;
      &.error {
        .required {
          color: @red;
        }
      }
      .label {
        &:before {
          content: " - ";
        }
      }
      .required {
        &:after {
          content: " *";
          color: @red;
        }
      }
      .error {
        font-weight: normal;
        float: right;
        &:after {
          clear: both;
        }
      }
    }
    dd {
      margin-bottom: 1rem;
    }
    .attribute {
      .option {
        @media (max-width: 991px) {
          img {
            width: 1.5rem;
          }
        }
        border: 1px solid transparent;
        &:not(.active) {
          .notAvailable;
        }
        &.active {
          cursor: pointer;
          &:hover {
            border-color: @darkGrey;
          }
          &.selected {
            border-color: @red;
          }
        }
      }
    }
    .selects {
      height: 0;
      overflow: hidden;
    }
  }
  #product-options-wrapper {
    display: none;
  }

  .add-to-cart {
    >.qty {
      .form-inline;
      .col-12;
      .text-center;
      input {
        &[name="qty"] {
          .text-center;
        }
        outline: transparent;
        box-shadow: none;
      }
      button {
        color: @white;
        background-color: @black;
        border: none;
      }
    }
  }
}
