.productfile_protoClassic {
border:5px solid #8C939C;
width:300px;
}

.productfile_protoClassic .productfile_toolbar {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#96B8E2  url(../../images/classic_toolbar.gif) repeat-y left top;
color:#FFFFFF;color:#FFFFFF;
font-weight:bold;

}

.productfile_protoClassic .content {
background: #fff; 
color: #333333;
font: 11px Arial, Helvetica, sans-serif; 
padding: 5px; 
clear:both;
}

.productfile_protoClassic .title {
padding:5px;
}

.productfile_all_div a { width:100%; font-size: 12px; }
#productfile_all_div_3 { font-size: 10px; }
