<?php
/**
 * @var $this Mage_Catalog_Block_Product_View
 */
?>
<div class="product-options" id="product-options-wrapper">
    <?= $this->getChildHtml('', true, true);?>
</div>
<script type="text/javascript">decorateGeneric($$('#product-options-wrapper dl'), ['last']);</script>
