<?php
/**
 *
 * @var $this Mage_Review_Block_Product_View_List
 * @var $_review Mage_Review_Model_Review
 */
$_items = $this->getReviewsCollection()->getItems();
?>
<div class="box-collateral box-reviews" id="customer-reviews">
    <div class="review-col1 span12">
        <h2><?= $this->__('Customer Reviews') ?></h2>
        <dl class="customer-review-list">
            <?php foreach ($_items as $_review):?>
            <div>
                <dt>
                    <a href="<?= $this->getReviewUrl($_review->getId()) ?>">
                        <?= $this->htmlEscape($_review->getTitle()) ?>
                    </a><br />
                    <span><?= $this->__('Review by <span>%s</span>', $this->htmlEscape($_review->getNickname())) ?></span>
                </dt>
                <dd>
                    <?php $_votes = $_review->getRatingVotes(); ?>
                    <?php if ($_votes): ?>
                        <table class="ratings-table">
                            <col width="1" />
                            <col />
                            <tbody>
                            <?php foreach ($_votes as $_vote): ?>
                                <tr>
                                    <th><?= $this->escapeHtml($_vote->getRatingCode()) ?></th>
                                    <td>
                                        <div class="rating-box">
                                            <div class="rating" style="width:<?= $_vote->getPercent() ?>%;"></div>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    <?php endif; ?>
                    <?php echo nl2br($this->htmlEscape($_review->getDetail())) ?>
                </dd>
            </div>
            <?php endforeach; ?>
        </dl>
    </div>
</div>
<?php echo $this->getChildHtml('review_form') ?>
