

.w3-socialconnect-social{margin-top: 10px;}
div.w3-socialconnect-social .col3-set .col-3 {width: 100%;}
div.w3-socialconnect-social .col3-set .col-3 .content {min-height: 100px;border: 1px solid #bbb6a5; margin: 10px 0;}
div.w3-socialconnect-social .col3-set .col-3 .content .w3-social-button-login{;margin: 0 auto;width: 220px;padding: 10px 0;}

.w3-socialconnect-social .ico-fb{background: url('../images/facebook_icon.png') !important; background-repeat:no-repeat; width: 176px !important; height: 35px !important; padding: 0; border: none;}
.w3-socialconnect-social .ico-go{background: url('../images/google_plus_icon.png') !important; background-repeat:no-repeat; width: 176px !important; height: 35px !important; padding: 0; border: none;}
.w3-socialconnect-social .ico-tw{background: url('../images/twitter_icon.png') !important; background-repeat:no-repeat; width: 176px !important; height: 35px !important; padding: 0; border: none;}
.w3-socialconnect-social .ico-li{background: url('../images/linkdin_icon.png') !important; background-repeat:no-repeat; width: 176px !important; height: 35px !important; padding: 0; border: none;}
.w3-socialconnect-social .ico-yh{background: url('../images/yahoo_icon.png') !important; background-repeat:no-repeat; width: 176px !important; height: 35px !important; padding: 0; border: none;}
.w3-social-button-login .w3-icon-social{ margin-right: 5px; cursor: pointer; margin: 7px 10px; }
.button-set{border-top: 1px solid #efefef}
.button-bum{float: right; width: 100%;}
.social-button{text-align: center;margin-top: 10px;}
