<?php
/**
 * @var $this Mage_Page_Block_Switch
 * @var $stores Mage_Core_Model_Store[]
 */

$stores = $this->getStores();
$last = end($stores);
?>
<?php if (count($this->getStores()) > 1): ?>
    <ul class="language-switcher">
        <?php foreach ($this->getStores() as $store): ?>
        <li>
            <a class="<?= $store->getCode()?>" href="<?= $store->getBaseUrl() ?>" title="<?= $this->escapeHtml($store->getName()) ?>">
                <?= substr($this->escapeHtml($store->getName()), 0,2)?>
            </a>
        </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>

