<?php
/**
 * @var $this Mage_Customer_Block_Form_Login
 */
?>
<form action="<?= $this->getPostActionUrl() ?>" method="post" class="form-login" id="mini-form-login">
    <?= $this->getBlockHtml('formkey'); ?>
    <div class="form-group">
        <label for="mini-login" class="sr-only"><?= $this->__('Email') ?></label>
        <input type="email" autocomplete="off" class="form-control form-control-sm input-text required-entry mb-2" placeholder="Email" name="login[username]" id="mini-login">
    </div>
    <div class="form-group">
        <label for="mini-password" class="sr-only"><?= $this->__('Password') ?></label>
        <input type="password" autocomplete="off" class="form-control form-control-sm input-text required-entry" placeholder="Password" name="login[password]" id="mini-password">
    </div>
    <div class="form-group">
        <ul class="actions">
            <li>
                <small class="form-text text-muted">
                    <a href="<?= $this->getForgotPasswordUrl() ?>" title="<?= $this->__('Forgot Your Password?') ?>"><?= $this->__('Forgot Your Password?') ?></a>
                </small>
            </li>
            <li>
                <small class="form-text text-muted">
                    <a href="<?= $this->getUrl('customer/account/create') ?>" title="<?= $this->__('Create an Account') ?>"><?= $this->__('Create an Account') ?></a>
                </small>
            </li>
        </ul>
        <button type="submit" class="btn btn-primary mt-1"><?= $this->__('Login')?></button>
    </div>
</form>
<script type="text/javascript">
    new VarienForm('mini-form-login');
</script>
