<?php
/**
 * @var $this Onecashmere_Review_Block_Catalog_Product_View_Carousel
 * @var $review Mage_Review_Model_Review
 */
?>
<?php if (count($this->getCollection())): ?>
<div class="row review-collection">
    <div class="col-12">
        <h2 id="size-chart-anchor" class="line-trough"><span><?= $this->__('Customer Reviews') ?></span></h2>
        <ul class="row">
            <?php foreach ($this->getCollection() as $review): ?>
            <?php $review = new Onecashmere_Review_Model_Review($review, $this->getProduct()); ?>
                <li class="col-12 col-lg-6">
                    <span class="title">
                        <i class="bx bxs-quote-alt-left"></i>
                        <?= $review->getTitle()?>
                        <i class="bx bxs-quote-alt-right"></i>
                    </span>
                    <cite><?= $this->__("Reviewed by %s", $review->getNickname())?></cite>
                    <div class="ratings">
                        <div class="rating-box">
                            <div class="rating fill" style="width: <?= "{$review->getRatingVotesAggregated()}%"?>">&nbsp;</div>
                            <div class="rating">&nbsp;</div>
                        </div>
                    </div>
                    <p><?= $review->getDetail() ?></p>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
