<?php
/**
 * @var $this Onecashmere_Review_Block_Catalog_Product_View_Form
 */
?>
<div class="modal fade" id="reviewForm">
    <div class="modal-dialog modal-lg" role="document">
        <form action="<?= $this->getAction() ?>" method="post" id="review-form" class="modal-content">
            <div class="modal-header">
                <h5><?= $this->__('Write Your Own Review') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row modal-body">
                <?php if (count($this->getRatings())): ?>
                    <div class="form-list col-auto col-md-6">
                        <?php foreach ($this->getRatings() as $_rating): ?>
                            <div class="form-group form-row">
                                <div class="col-4 font-weight-bold">
                                    <?= $this->escapeHtml($_rating->getRatingCode()) ?>
                                </div>
                                <?php foreach ($_rating->getOptions() as $_option): ?>
                                    <div class="col text-center">
                                        <?php $fieldId = $this->escapeHtml("{$_rating->getRatingCode()}_{$_option->getValue()}") ?>
                                        <label for="<?= $fieldId ?>" class="sr-only"></label>
                                        <input type="radio" name="ratings[<?= $_rating->getId() ?>]" id="<?= $fieldId?>" value="<?= $_option->getId() ?>" class="validate-one-required-by-name"/>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        <?php endforeach; ?>
                    </div>
                    <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                <?php endif; ?>
                <div class="form-list col-auto col-md-6">
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="nickname_field" class="required sr-only"><em>*</em><?= $this->__('Nickname') ?></label>
                            <input type="text" name="nickname" id="nickname_field" class="required-entry form-control" value="<?= $this->escapeHtml($data->getNickname()) ?>" placeholder="<?= $this->__('Nickname') ?> *" />
                        </div>
                        <div class="col">
                            <label for="summary_field" class="required sr-only"><em>*</em><?= $this->__('Summary of Your Review') ?></label>
                            <input type="text" name="title" id="summary_field" class="required-entry form-control" value="<?= $this->escapeHtml($data->getTitle()) ?>" placeholder="<?= $this->__('Summary of Your Review') ?> *" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="review_field" class="required sr-only"><em>*</em><?= $this->__('Review') ?></label>
                        <textarea name="detail" id="review_field" class="required-entry form-control" placeholder="<?= $this->__('Review') ?> *"><?= $this->escapeHtml($data->getDetail()) ?></textarea>
                    </div>
                    <div class="form-group">
                        <?= $this->getBlockHtml('studioforty9.recaptcha')?>
                    </div>
                </div>
            </div>
            <?= $this->getBlockHtml('formkey'); ?>
            <?= $this->getChildHtml('form_fields_before')?>
            <div class="modal-footer">
                <button type="submit" title="<?= $this->__('Submit Review') ?>" class="btn btn-primary"><?= $this->__('Submit Review') ?></button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var dataForm = new VarienForm('review-form');
    </script>
</div>
