﻿<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <!-- change color styles for  backgr-color, bord_color and tr tag-->
        <table class="main-table" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="font-family: Arial,sans-serif; font-size: 12px; color:#424242">
            <tr class="top">
                <td align="center" valign="top">
                    <table class="top-table font_12" border="0" cellpadding="0" cellspacing="0" width="600" style="width:600px; max-width: 600px;font-size: 12px;font-family: Arial,sans-serif;color:#d6d6d6;">
                        <tr>
                            <td align="left" width="423" height="153"><img width="423" height="153" src="{{skin url="images/amacart/img_part_top_newsletter_cart_logo.png" _area='frontend'}}"/></td>
                            <td align="right" valign="top" style="color:#424242;" width="177" height="153">
                               <table border="0" cellspacing="0" cellpadding="0" width="177">
                                  <tr>
                                      <td align="right" valign="top" style="font-size: 14px;font-family: Arial,sans-serif;color:#424242;background-color:#FFF;" bgcolor="#FFF" width="177" height="70"><br/><br/>339 7608764&nbsp;&nbsp;<br /><a href="mailto:info@onecashmere.com" style="font-size: 14px;font-family: Arial,sans-serif;color:#424242;text-decoration:none;">info@onecashmere.com</a>&nbsp;&nbsp;</td>
                                  </tr>
                                   <tr>
                                      <td width="177" height="83"><img width="177" height="83" src="{{skin url="images/amacart/img_part_top_newsletter_cart_address.png" _area='frontend'}}"/></td>
                                  </tr>
                               </table>
                          </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="body">
                <td align="center" valign="top">
                    <table class="container bord_color" cellpadding="0" cellspacing="0" width="600" style="width:600px; max-width: 600px;overflow: hidden; border: none;">
                        <tr class="email-head">
                            <td align="center" valign="top">
                                <table class="table-head" width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <!--<tr width="100%">
                                        <td class="banner backgr-color" align="center" valign="top" style="max-height:196px;"><div style="height: 196px;max-height: 196px;"><img src="{{skin url="images/amacart/img_salumi.jpg" _area='frontend'}}" alt="" /></div></td>
                                    </tr>-->
                                    
                                    <tr>
                                        <td class="head" style="padding: 25px 20px 10px 0px;font-family: Arial,sans-serif;color:#424242; font-size:13px;">
										{{var invitation.getMessage().format('html')}}<br />
										<br />
										
										</td>
                                    </tr>
											
									<tr>
										<td>
											<table cellpadding="10" cellspacing="0" width="100%">
												<tr>
													<td align="center" class="font_16" style="font-size: 16px; font-weight: 600;">
														<table border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px">
															<tr>
																<td width="175" height="60">&nbsp;</td>
																<td width="250" height="60" bgcolor="#bc001d" style="width: 250px;height: 60px;background-color: #bc001d;color: #FFFFFF;font-family: Arial,sans-serif;" align="center" valign="middle"><a style="text-decoration:none;color: #FFFFFF;font-size:18px;font-family: Arial,sans-serif;" href="{{var invitation.getInviteLink()}}">USA IL TUO SCONTO</a></td> <!--{{var history.getCheckoutUrl()}}-->
																<td width="175" height="60">&nbsp;</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									<tr>								

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            
            <tr class="footer">
                 <td align="center" valign="top">
                     <table border="0" cellpadding="0" cellspacing="0" width="600" height="75" style="width:600px; max-width: 600px; height:75px;background-color:#d6d6d6;">
                          <tr>
                            <td align="center" valign="top" style="font-size: 12px; font-family: Arial,sans-serif; color:#424242;background-color:#d6d6d6;" bgcolor="#d6d6d6"><br/>
                                &copy; 2015 Cashmere Store - Via degli Artigiani, 23 - 54100 Massa<br />Tel. +39 339 7608764 - <a href="mailto:info@onecashmere.com" style="font-size: 12px;font-family: Arial,sans-serif;color:#424242;text-decoration:none;">eMail: info@onecashmere.com</a><br /><a href="{{var history.getUnsubscribeUrl()}}" style="color:#424242;font-size: 12px; font-family: Arial,sans-serif;">Non inviarmi pi&ugrave; e-mail come questa</a>
                            </td>
                        </tr>
                    </table>        
                 </td>
            </tr>
        </table>
    </body>