<?php
/**
 * @var $this Onecashmere_Review_Block_Widget_Review_Carousel
 * @var $review Mage_Review_Model_Review
 * @var $product Mage_Catalog_Model_Product
 */
?>
<div class="widget widget-static-block">
    <?= $this->getBlockHtml('review.carousel.before') ?>
    <?php if (count($this->getCollection())): ?>
    <ul id="reviewCarousel" data-slick='{
                        "arrows": false,
                        "center": true,
                        "infinite": true,
                        "speed": 300,
                        "autoplay": true
                    }'>
        <?php foreach ($this->getCollection() as $review): ?>
            <li>
                <span class="title"><?= $review->getTitle()?></span>
                <a class="product" href="<?= $review->getProduct()->getProductUrl() ?>">
                    <?= $review->getProduct()->getName()?>
                </a>
                <cite><?= $this->__("Reviewed by %s", $review->getNickname())?></cite>
                <p><?= $review->getDetail() ?></p>
            </li>
        <?php endforeach; ?>
    </ul>
    <?php endif; ?>
</div>
