<?php
/**
 * @var $this Onecashmere_Catalog_Block_Product_List_Item
 * @var $helper Mage_Catalog_Helper_Output
 * @var $configurableHelper Onecashmere_Catalog_Helper_Configurable
 *
 */

use Onecashmere_Catalog_Helper_Image as Image;

$product = $this->getProduct();
$width = $this->getData('image_width');
$labels = array_filter(explode(',', (string) $product->getData('labels')));
$helper = $this->helper('catalog/output');
$width = $this->getData('image_width') ?? 284;
$col = $this->getData('col') ?: 'col-auto';
$configurableHelper = Mage::helper('onecashmere_catalog/configurable');
?>
<li class="item <?= $col?> mb-5 <?= implode(' ', $labels)?>">
    <?= $this->getLabelsHtml()?>
    <a href="<?= $product->getProductUrl() ?>" title="<?= $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" class="product-image">
        <?php
        $canFlip = $product->getData('flipper_image') && $product->getData('flipper_image') != 'no_selection';
        ?>
        <div class="picture-container <?= $canFlip ? 'can-flip' : ''?>">
            <?php
            $baseImageAlt = $this->stripTags($product->getName(), null, true);
            ?>
            <picture class="front">
                <source media="(max-width: 399px)" data-srcset="<?= (new Image())->init($product, 'small_image')->resize(640) . " 2x, " . (new Image())->init($product, 'small_image')->resize(320) . " 1x"?>">
                <source media="(max-width: 767px)" data-srcset="<?= (new Image())->init($product, 'small_image')->resize(560) . " 2x, " . (new Image())->init($product, 'small_image')->resize(230) . " 1x"?>">
                <source data-srcset="<?= (new Image())->init($product, 'small_image')->resize(600) . " 2x, " . (new Image())->init($product, 'small_image')->resize(300) . " 1x"?>">
                <img class="lazyload img-fluid" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="<?= $baseImageAlt ?>" />
            </picture>
            <?php if ($canFlip): ?>
            <picture class="back">
                <source media="(max-width: 399px)" srcset="<?= (new Image())->init($product, 'flipper_image')->resize(640) . " 2x, " . (new Image())->init($product, 'flipper_image')->resize(320) . " 1x"?>">
                <source media="(max-width: 767px)" srcset="<?= (new Image())->init($product, 'flipper_image')->resize(560) . " 2x, " . (new Image())->init($product, 'flipper_image')->resize(230) . " 1x"?>">
                <source srcset="<?= (new Image())->init($product, 'flipper_image')->resize(600) . " 2x, " . (new Image())->init($product, 'flipper_image')->resize(300) . " 1x"?>">
                <img class="img-fluid" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="<?= $baseImageAlt?>" />
            </picture>
            <?php endif; ?>
        </div>
    </a>
    <h2 class="product-name">
        <a href="<?= $product->getProductUrl() ?>" title="<?= $this->stripTags($product->getName(), null, true) ?>">
            <?= $helper->productAttribute($product, $product->getName(), 'name') ?>
        </a>
    </h2>
    <?php if ($product->getData('variant_count')): ?>
    <span class="siblings count-<?= $product->getData('variant_count')?>"><?= $this->__('%s colors available', $product->getData('variant_count'))?></span>
    <?php endif; ?>
    <?= $this->getReviewsSummaryHtml($product, 'short', true) ?>
    <?= $this->getPriceHtml($product, true) ?>
    <ul class="actions">
        <li>
            <?php if($product->isSaleable()): ?>
                <a class="btn btn-sm" title="<?= $this->__('View Details') ?>" href="<?= $product->getProductUrl()?>">
                    <?= $this->__('View Details') ?>
                </a>
            <?php else: ?>
                <a class="btn out-of-stock" title="<?= $this->__('Out of stock') ?>" href="<?= $product->getProductUrl()?>">
                    <?= $this->__('Out of stock') ?>
                </a>
            <?php endif; ?>
        </li>
        <?php if ($this->helper('wishlist')->isAllow()) : ?>
            <li>
                <a href="<?= $this->helper('wishlist')->getAddUrl($product) ?>" class="bx bx-heart" title="<?= $this->__('Add to Wishlist') ?>">
                    <?= $this->__('Add to Wishlist') ?>
                </a>
            </li>
        <?php endif; ?>
    </ul>
</li>
