<?php
/**
 * @var $helper Onecashmere_Catalog_Helper_Layer
 * @var $_item Mage_Catalog_Model_Layer_Filter_Item
 * @var $this Mage_Catalog_Block_Layer_Filter_Abstract
 */

$isSuggetResponse    = $this->isSuggestResponse();
$suggestQueryText    = $this->getSuggestQueryText();
$hasSuggestQueryText = $isSuggetResponse && ($suggestQueryText != '');
$hasOthers           = $this->hasOthers();
$resultListId        = ($isSuggetResponse && $hasSuggestQueryText) ? 'suggest-data' : ($isSuggetResponse ? 'complete-data' : 'orig-data');
$helper = $this->helper('onecashmere_catalog/layer');
?>
<?php if (!$isSuggetResponse && $this->isSearchEnabled()) : ?>
<div id="<?= $this->getNameInLayout()?>" class="autocomplete-facet-form">
    <form method="get" action="<?= $this->getFacetSuggestUrl(); ?>">
        <div class="empty-query-field-link no-display"><div></div></div>
        <div class="block-content">
            <div class="input-box">
                <input type="text" name="suggest[q]" class="input-text" placeholder="<?= $this->getPlaceholderSearchText(); ?>" />
                <input type="hidden" name="suggest[field]" value="<?= $this->getRequestVar(); ?>" />
            </div>
        </div>
    </form>
    <?php endif; ?>
    <form id="form-<?= $this->getNameInLayout()?>" method="get" action="<?= Mage::helper('core/url')->getCurrentUrl()?>">
        <ul id="<?= $this->getNameInLayout(); ?>-<?= $resultListId; ?>" class="row">
            <?php foreach ($this->getItems() as $i => $_item): ?>
                <?php
                    $selected = $_item->getSelected();
                    $name = $_item->getFilter()->getRequestVar();
                ?>
                <li class="attr-filter col-auto">
                    <label for="<?= "$name-$i"?>" class="<?= $selected ? 'selected' : '' ?>">
                        <img src="<?= $helper->getLayerFilterImage($_item->getLabel())?>" alt="<?= $this->escapeHtml($_item->getLabel())?>" title="<?= $this->escapeHtml($_item->getLabel())?>"/>
                    </label>
                    <input id="<?= "$name-$i"?>" name="<?= $name?>[]" value="<?= $_item->getLabel()?>" type="checkbox" <?= $selected ? 'checked="checked"' : ''?>/>
                </li>
            <?php endforeach ?>
            <?php if (count($this->getItems()) == 0 && $isSuggetResponse && $hasSuggestQueryText) : ?>
                <li>
                    <p class="count empty"><em><?= $this->__('No result found for "%s".', $suggestQueryText); ?></em></p>
                </li>
            <?php endif; ?>
            <?php if ($hasOthers && !$isSuggetResponse) : ?>
                <li class="ajax-load-link-parent">
                    <a id="<?= $this->getNameInLayout();?>-show-more-link" class="ajax-load-link">
                        <?= $this->__('Show more'); ?>
                    </a>
                </li>
            <?php elseif ($isSuggetResponse && !$hasSuggestQueryText) : ?>
                <li class="ajax-load-link-parent">
                    <a id="<?= $this->getNameInLayout();?>-show-less-link" class="ajax-load-link">
                        <?= $this->__('Show less'); ?>
                    </a>
                </li>
            <?php endif; ?>
        </ul>
    </form>
    <?php if (!$isSuggetResponse && $this->isSearchEnabled()) : ?>
</div>
<script type="text/javascript">
    Es.facetAutocomplete('<?= $this->getNameInLayout()?>');
</script>
<?php endif; ?>
