<?php
/**
 * @var $this Mage_Catalog_Block_Product_View
 */
$product = $this->getProduct();
$buttonTitle = $this->__('Add to Cart');
?>
<?php if($product->isSaleable()): ?>
    <div class="add-to-cart row" data-widget="addToCartQty">
        <?php if(!$product->isGrouped()) : ?>
        <div class="qty">
            <button type="button" class="minus">-</button>
            <label class="sr-only" for="qty"><?=$this->__('Qty:') ?></label>
            <input type="text" name="qty" id="qty" value="1" readonly="readonly"/>
            <button type="button" class="plus">+</button>
        </div>
        <?php endif; ?>
        <div class="col-12">
            <button type="submit" title="<?=$buttonTitle ?>" class="btn btn-lg btn-cart"><?=$buttonTitle ?></button>
        </div>
        <?=$this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>
