<?php
/**
 * @var $this Mage_Catalog_Block_Product_View_Media
 * @var $image Onecashmere_Catalog_Helper_Image
 */

$product = $this->getProduct();
$image = $this->helper('onecashmere_catalog/image');
$thumbWidth = 100;
$mainWidth = 600;
$pictures = $this->getGalleryImages();
$slideToShow = min(count($pictures), 4);
?>
<!-- ko with: gallery -->
<div class="row" data-gallery="1" data-config='{"mainContainerId":"#main-image-container", "targetId": "#image-zoom-container", "items": <?= $image->getGalleryConfiguration($product, $this->getGalleryImages()->getItems(), $mainWidth)?>, "slick-config": {
                "arrows": true,
                "vertical": true,
                "verticalSwiping": true,
                "slidesToShow": <?= $slideToShow?>,
                "slidesToScroll": <?= $slideToShow?>
            }}'>
    <div class="col-2">
        <ul class="gallery slick-vertical">
            <!-- ko foreach: {data: items, as: 'item'} -->
            <li>
                <picture>
                    <!-- ko foreach: source -->
                    <source data-bind="attr: {'data-srcset': srcset, media: media}">
                    <!-- /ko -->
                    <img class="lazyload img-fluid" data-bind="attr: {'data-zoom-url': zoomUrl}, click: $root.display.bind(item)" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=""/>
                </picture>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div id="main-image-container" class="col-10 text-center">
        <picture>
            <!-- ko with: display -->
            <!-- ko foreach: source -->
            <source data-bind="attr: {'data-srcset': srcset, media: media}">
            <!-- /ko -->
            <img class="lazyload img-fluid" data-bind="attr: {'data-zoom-url': zoomUrl}"  data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
            <!-- /ko -->
        </picture>
    </div>
</div>
<!-- /ko -->
