@import "../../../../../../node_modules/bootstrap-less-port/less/bootstrap";
@import "../../../../../../node_modules/slick-carousel/slick/slick";
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url("../fonts/yanone-kaffeesatz-latin-400.woff"), url("../fonts/yanone-kaffeesatz-latin-400.woff2") format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url("../fonts/yanone-kaffeesatz-latin-700.woff"), url("../fonts/yanone-kaffeesatz-latin-700.woff2") format('truetype');
}

@lightgrey: #f2f2f2;
@darkGrey: #1a171b;
@header-height: 90px;
@default-spacer: 15px;
@white50percent: rgba(255,255,255, 0.5);
@white70percent: rgba(255,255,255, 0.7);
@red: #bc001d;
@slick-font-path: "../fonts/";

.notAvailable {
  &:after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 99 L99 0 L100 1 L1 100' stroke='black' stroke-width='3'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    content: "";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    pointer-events: none;
  }
}

@import "less/page";
@import "less/rating";
@import "less/header";
@import "less/menu";
@import "less/cart";
@import "less/breadcrumbs";
@import "less/category";
@import "less/layered";
@import "less/slick-theme";
@import "less/reviewCarousel";
@import "less/product/view";
@import "less/slider";
@import "less/storeSwticher";
@import "less/messages";
@import "less/checkout";
@import "less/customer/forgotPassword";
@import "less/customer/general";
@import "less/customer/create";
@import "less/customer/login";
//Has to be loaded always on end
@import "less/override";
