<?php
                                                            $block = new W3Themes_SocialLogin_Block_Button();
                                                            $check_show_social = Mage::helper('w3_sociallogin')->checkShowSociallogin();
                                                            if($check_show_social == true && Mage::getSingleton('customer/session')->IsLoggedIn() == false): ?>
                                                                <div class="w3-socialconnect-social">
                                                                    <p><?php echo $this->__('Social Login.') ?></p>
                                                                    <div class="w3-social-button-login">
                                                                        <?php
                                                                        if($block->getButtons()){
                                                                            foreach($block->getButtons() as $button){
                                                                                echo $button->render();
                                                                            }
                                                                        }
                                                                        ?>
                                                                    </div>
                                                                </div>
                                                <?php endif;  ?>