<ul class="payments">
    <li>
        <a href="{{store url='pagamenti'}}">
            <img src="{{skin url="images/mastercard.svg"}}" alt="Mastercard" />
        </a>
    </li>
    <li>
        <a href="{{store url='pagamenti'}}">
            <img src="{{skin url="images/visa.svg"}}" alt="Visa" />
        </a>
    </li>
    <li>
        <a href="{{store url='pagamenti'}}">
            <img src="{{skin url="images/amex.svg"}}" alt="Amex" />
        </a>
    </li>
    <li>
        <a href="{{store url='pagamenti'}}">
            <img src="{{skin url="images/paypal.svg"}}" alt="Paypal" />
        </a>
    </li>
</ul>
