<div class="row">
    <div class="col-3">
        <div class="footer-static-title">
            <h3>Information</h3>
        </div>
        <div class="footer-static-content">
            <ul class="last">
                <li><a href="{{store url='who-we-are'}}">Who we are</a></li>
                <li><a href="{{store url='history-cashmere'}}">History of Cashmere</a></li>
                <li><a href="{{store url='how-to-wash-cashmere/'}}">How to wash cashmere</a></li>
                <li><a href="{{store url='mercato-forte'}}">The Mercato del Forte</a></li>
                <li><a href="{{store url='cashmere-shop'}}">Where we are</a></li>
                <li><a href="{{store url='catalog/seo_sitemap/product'}}">Site map</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="footer-static-title">
            <h3>TERMS AND CONDITIONS</h3>
        </div>
        <div class="footer-static-content">
            <ul class="last">
                <li><a href="{{store url='general-sale-conditions'}}">General Sale Conditions</a></li>
                <li><a href="{{store url='shipping'}}">Shipment and Delivery</a></li>
                <li><a href="{{store url='payments'}}">Payments</a></li>
                <li><a href="{{store url='return-change'}}">Return and change</a></li>
                <li><a href="{{store url='returns-recess'}}">Recess</a></li>
                <li><a href="{{store url='privacy'}}">Privacy Policy</a></li>
                <li><a href="{{store url='cookie-policy'}}">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="footer-static-title">
            <h3>TAILORED CLOTHING</h3>
        </div>
        <div class="footer-static-content">
            <ul class="last">
                <li><a href="{{store url='tailored-cashmere-clothing'}}">Create your Item of Clothing</a></li>
                <li><a href="{{store url='measurement-guide'}}">Measurement Guide</a></li>
                <li><a href="{{store url='sample-colors'}}">Sample Colors</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="footer-static-title">
            <h3>Contacts</h3>
        </div>
        <div class="footer-static-content">
            <div class="f-address">
                <ul style="text-transform:none;">
                    <li>CASHMERE STORE S.a.s.</li>
                    <li>Via degli Artigiani, 23 - 54100 Massa (MS) - Italy</li>
                    <li>Tel. 0039 0585 340080 / 0039 339 7608764</li>
                    <li>info@onecashmere.com</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Start OPTIN LEAD GENERATION DESKTOP -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: One Cashmere EN Lead Generation - Desktop --><div id="om-oyyfhvnlcjxl0xpx-holder"></div><script>var oyyfhvnlcjxl0xpx,oyyfhvnlcjxl0xpx_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){oyyfhvnlcjxl0xpx_poll(function(){if(window['om_loaded']){if(!oyyfhvnlcjxl0xpx){oyyfhvnlcjxl0xpx=new OptinMonsterApp();return oyyfhvnlcjxl0xpx.init({"u":"12492.247424","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;oyyfhvnlcjxl0xpx=new OptinMonsterApp();oyyfhvnlcjxl0xpx.init({"u":"12492.247424","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!--End OPTIN LEAD GENERATION DESKTOP -->

    <!-- Start OPTIN LEAD GENERATION MOBILE -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: One Cashmere EN Lead Generation - Mobile --><div id="om-qmyy68tw5pdek8yl-holder"></div><script>var qmyy68tw5pdek8yl,qmyy68tw5pdek8yl_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){qmyy68tw5pdek8yl_poll(function(){if(window['om_loaded']){if(!qmyy68tw5pdek8yl){qmyy68tw5pdek8yl=new OptinMonsterApp();return qmyy68tw5pdek8yl.init({"u":"12492.265228","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;qmyy68tw5pdek8yl=new OptinMonsterApp();qmyy68tw5pdek8yl.init({"u":"12492.265228","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!--End OPTIN LEAD GENERATION MOBILE -->

    <!-- Start OPTIN PROMO DESKTOP -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: Promo EN - Desktop --><div id="om-dygxlbpgkqx84rad-holder"></div><script>var dygxlbpgkqx84rad,dygxlbpgkqx84rad_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){dygxlbpgkqx84rad_poll(function(){if(window['om_loaded']){if(!dygxlbpgkqx84rad){dygxlbpgkqx84rad=new OptinMonsterApp();return dygxlbpgkqx84rad.init({"u":"12492.276889","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;dygxlbpgkqx84rad=new OptinMonsterApp();dygxlbpgkqx84rad.init({"u":"12492.276889","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!--End OPTIN PROMO DESKTOP -->

    <!-- Start OPTIN PROMO MOBILE -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: Promo EN - Mobile --><div id="om-rzwtbzmw6sqanyd8-holder"></div><script>var rzwtbzmw6sqanyd8,rzwtbzmw6sqanyd8_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){rzwtbzmw6sqanyd8_poll(function(){if(window['om_loaded']){if(!rzwtbzmw6sqanyd8){rzwtbzmw6sqanyd8=new OptinMonsterApp();return rzwtbzmw6sqanyd8.init({"u":"12492.334573","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;rzwtbzmw6sqanyd8=new OptinMonsterApp();rzwtbzmw6sqanyd8.init({"u":"12492.334573","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!-- End OPTIN PROMO MOBILE -->
</div>
