<div class="row">
    <div class="col-3">
        <div class="footer-static-title">
            <h3>Informazioni</h3>
        </div>
        <div class="footer-static-content">
            <ul class="last">
                <li><a href="{{store url='chi-siamo'}}">Chi Siamo</a></li>
                <li><a href="{{store url='storia-cashmere'}}">Storia del Cashmere</a></li>
                <li><a href="{{store url='come-lavare-cashmere'}}">Come lavare il cashmere</a></li>
                <li><a href="{{store url='mercato-forte-dei-marmi'}}">Il mercato del Forte</a></li>
                <li><a href="{{store url='negozio-cashmere'}}">Dove Siamo</a></li>
                <li><a href="{{store url='catalog/seo_sitemap/product'}}">Mappa Sito</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="footer-static-title">
            <h3>CONDIZIONI DI VENDITA</h3>
        </div>
        <div class="footer-static-content">
            <ul class="last">
                <li><a href="{{store url='condizioni-vendita'}}">Condizioni Generali</a></li>
                <li><a href="{{store url='spedizioni'}}">Spedizioni</a></li>
                <li><a href="{{store url='pagamenti'}}">Modalità di Pagamento</a></li>
                <li><a href="{{store url='cambio-reso'}}">Cambio e Reso</a></li>
                <li><a href="{{store url='diritto-recesso'}}">Diritto di Recesso</a></li>
                <li><a href="{{store url='normativa-privacy'}}">Normativa Privacy</a></li>
                <li><a href="{{store url='informativa-cookies'}}">Informativa Cookie</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="footer-static-title">
            <h3>ABITI SU MISURA</h3>
        </div>
        <div class="footer-static-content">
            <ul class="last">
                <li><a href="{{store url='abbigliamento-cashmere-su-misura'}}">Crea il tuo abito</a></li>
                <li><a href="{{store url='guida-abiti-su-misura'}}">Guida alle misure</a></li>
                <li><a href="{{store url='campionario-colori'}}">Campionario Colori</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="footer-static-title">
            <h3>Contatti</h3>
        </div>
        <div class="footer-static-content">
            <div class="f-address">
                <ul style="text-transform:none;">
                    <li>CASHMERE STORE S.a.s.</li>
                    <li>Via degli Artigiani, 23 - 54100 Massa (MS)</li>
                    <li>Tel. 0585 340080 / 339 7608764</li>
                    <li>info@onecashmere.com</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Start OPTIN LEAD GENERATION DESKTOP -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: One Cashmere IT Lead Generation - Desktop -->
    <div id="om-ahop0ivtagffdajt-holder"></div>
    <script>var ahop0ivtagffdajt,ahop0ivtagffdajt_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){ahop0ivtagffdajt_poll(function(){if(window['om_loaded']){if(!ahop0ivtagffdajt){ahop0ivtagffdajt=new OptinMonsterApp();return ahop0ivtagffdajt.init({"u":"12492.245127","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;ahop0ivtagffdajt=new OptinMonsterApp();ahop0ivtagffdajt.init({"u":"12492.245127","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!-- End OPTIN LEAD GENERATION DESKTOP -->

    <!-- Start OPTIN LEAD GENERATION MOBILE -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: One Cashmere IT Lead Generation - Mobile --><div id="om-szz6vposyh6w9n5l-holder"></div><script>var szz6vposyh6w9n5l,szz6vposyh6w9n5l_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){szz6vposyh6w9n5l_poll(function(){if(window['om_loaded']){if(!szz6vposyh6w9n5l){szz6vposyh6w9n5l=new OptinMonsterApp();return szz6vposyh6w9n5l.init({"u":"12492.265217","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;szz6vposyh6w9n5l=new OptinMonsterApp();szz6vposyh6w9n5l.init({"u":"12492.265217","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!-- End OPTIN LEAD GENERATION MOBILE -->

    <!-- Start OPTIN PROMO DESKTOP -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: Promo IT - Desktop --><div id="om-xozmqhfdutxkinaa-holder"></div><script>var xozmqhfdutxkinaa,xozmqhfdutxkinaa_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){xozmqhfdutxkinaa_poll(function(){if(window['om_loaded']){if(!xozmqhfdutxkinaa){xozmqhfdutxkinaa=new OptinMonsterApp();return xozmqhfdutxkinaa.init({"u":"12492.255291","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;xozmqhfdutxkinaa=new OptinMonsterApp();xozmqhfdutxkinaa.init({"u":"12492.255291","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!-- End OPTIN PROMO DESKTOP -->

    <!-- Start OPTIN PROMO MOBILE -->
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com :: Campaign Title: Promo IT - Mobile --><div id="om-alom9odzhxhzb4i2-holder"></div><script>var alom9odzhxhzb4i2,alom9odzhxhzb4i2_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){alom9odzhxhzb4i2_poll(function(){if(window['om_loaded']){if(!alom9odzhxhzb4i2){alom9odzhxhzb4i2=new OptinMonsterApp();return alom9odzhxhzb4i2.init({"u":"12492.334568","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;alom9odzhxhzb4i2=new OptinMonsterApp();alom9odzhxhzb4i2.init({"u":"12492.334568","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    <!-- End OPTIN PROMO MOBILE -->
</div>
