<a href='{{store url="/"}}' title="Onecashmere" class="navbar-brand">
    <picture>
        <source data-srcset='{{config path="web/secure/base_url"}}/small_light(dw=350)/skin/frontend/onecashmere/default/images/logo@2x.png 1x, {{config path="web/secure/base_url"}}/small_light(dw=700)/skin/frontend/onecashmere/default/images/logo@2x.png 2x' />
        <img class="lazyload" data-src='{{config path="web/secure/base_url"}}/small_light(dw=350)/skin/frontend/onecashmere/default/images/logo@2x.png' alt="Onecashmere" />
    </picture>
</a>
