<?php
/**
 * @var $this Mage_Core_Block_Template
 */
?>
<table class="table-bordered" id="children-size-prices-table" style="display: none">
    <thead>
        <tr>
            <th><?= $this->__('Size') ?></th>
            <th><?= $this->__('Price') ?></th>
        </tr>
    </thead>
    <tbody id="children-size-prices-table-body"></tbody>
</table>
