.customer-account-login {
  .page-title {
    margin-bottom: 2rem;
  }
  .col-main {
    .col-8 !important;
    .offset-2;
  }
  .col2-set {
    .row;
    > * {
      .col-6;
    }
  }
  .form-list {
    li {
      .form-group;
    }
  }
  p {
    &.required {
      .sr-only;
    }
  }
  button {
    .shine;
    .btn;
    color: @white;
    background-color: @black;
    border: none;
  }
  input,select {
    &:not([type=checkbox]):not([type=radio]) {
      .form-control;
    }
  }
}
