.customer-account-forgotpassword {
  .col-main {
    .col-8 !important;
    .offset-2;
  }
  .form-list {
    li {
      .form-group;
    }
  }
  .buttons-set {
    p {
      .sr-only;
    }
  }
  button[type="submit"] {
    .shine;
    .btn;
    color: @white;
    background-color: @black;
    border: none;
  }
  input,select {
    .form-control;
  }
}
