.form-button {
  .btn;
  color: @white;
  background-color: @black;
  border: none;
}
.customer-account-edit,.customer-address-form,.sales-order-history,.sales-order-view,.customer-address-index {
  p.back-link {
    display: none;
  }
  .col-main {
    .page-title {
      margin-bottom: 2rem;
    }
    ul {
      li {
        &.fields {
          > .customer-name {
            .form-group;
            > * {
              .col-5;
              display: inline-block;
            }
          }
          > .field {
            .col-5;
            display: inline-block;
          }
        }
        &:not(.fields) {
          .col-5;
          display: inline-block;
          margin-bottom: 1rem;
        }
      }
    }
    button {
      .shine;
      .form-button;
    }
    input,select {
      &:not([type=checkbox]):not([type=radio]) {
        .form-control;
      }
      &.no-display {
        display: none !important;
      }
    }
  }
}

body {
  &.sales-order-view,&.customer-address-index {
    .col2-set {
      .row;
      > * {
        .col-6;
      }
    }
  }
  &.customer-account-index {
    .dashboard {
      > * {
        margin-bottom: 3rem;
      }
      .welcome-msg {
        font-size: larger;
      }
    }
  }
}
