.customer-account-create {
  .col-main {
    .col-8 !important;
    .offset-2;
  }
  div.newsletter {
    .form-check;
    .form-group;
    input[type="checkbox"] {
      .form-check-input;
    }
    label {
      .form-check-label;
    }
  }
  .form-list {
    li {
      .form-group;
      &.fields {
        .row;
        .field {
          .col-auto;
        }
      }
      &.customer-name {
        > * {
          .row;
          > * {
            .col-4;
          }
        }
      }
    }
  }
  .buttons-set {
    p {
      .sr-only;
    }
  }
  button[type="submit"] {
    .shine;
    .btn;
    color: @white;
    background-color: @black;
    border: none;
  }
  input,select {
    &:not([type=checkbox]):not([type=radio]) {
      .form-control;
    }
  }
}
