<?php
/**
 * @var $this Mage_Core_Block_Template
 */
?>
<!-- Facebook Pixel Code -->
<noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=2441433122588012&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->
