<?php 
/******************************************************
 * Website: http://www.magentothem.com
*******************************************************/
?> 

<?php if($this->getConfig('enabled')){ ?>	  <!-- start enable -->
	<?php $cur_store = Mage::app()->getStore()->getId() ?>

<?php if(!Mage::getStoreConfig('banner7/banner7_config/is_fluid')) :  ?>
	<div class="container">
	<div class="contain-size">
<?php endif ?>

	<div class="row-fluid">
<?php if(!Mage::getStoreConfig('banner7/banner7_config/is_fluid') && Mage::getStoreConfig('banner7/banner7_config/banner_blocks') ) :  ?>	
	<div class="span9">
<?php endif ?>

			<div class="banner7-container">		
					<div class="flexslider">
						<div class="loading"></div>
						<ul class="slides">
							
								<?php
									// Get data banner
									$slide = $this->getDataBanner7();
									$path = Mage::getBaseUrl('media');					
									$qty_Item = $this->getConfig('qty_item');
									if ($this->getConfig('auto')) { $auto = 'true'; } else { $auto = 'false'; }
									/* Get max item & qty item */
									if ($qty_Item > count($slide)) {
										$qty_Item = count($slide);
									}
								?>
								<?php
									$i = 1;
									foreach($slide as $s)
									{
										
										if($i <= $qty_Item) {
											//Get images slide show
											$st1 = $s['image'];
											$p1 = strpos($st1,'banner7');
											$st2 = substr($st1,$p1+7);
											$p2 = strpos($st2,'"');
											$imag = substr($st2,0,$p2);
									?>
									<?php if ($s['store_id'] == $cur_store || $s['store_id'] == 0 ): ?>
										<li>					
											<?php if( $s['link'] ) { ?>
												<a href="<?php echo $s['link']?>" title=""><img src="<?php echo $path.'w3themes/banner7'.$imag;?>" alt="" /></a>												
											<?php } else { ?>
												<img src="<?php echo $path.'w3themes/banner7'.$imag;?>" alt="" />
											<?php } ?>
											<?php if ($this->getConfig('description')){ ?>
												<div class="banner7-caption hidden-phone">
													<h2><?php echo $s['title'] ?></h2>
													<?php echo $s['description'] ?>
												</div>
											<?php } ?>
										</li>
									<?php $i++; endif; ?>
								<?php
										}//end if
									} // end foreach
								?>
						</ul>
						<script type="text/javascript">
							$jq(window).load(function(){
							  $jq('.banner7-container .flexslider').flexslider({
								<?php if (!$this->getConfig('auto')) { ?>
								slideshow: false,
								<?php } ?>
								animation: "<?php echo $this->getConfig('animation') ?>",
								slideshowSpeed: <?php echo $this->getConfig('speed') ?>,
								animationSpeed: <?php echo $this->getConfig('interval') ?>,
								<?php if (!$this->getConfig('nav_ctrl')) { ?>
								controlNav: false,
								<?php } ?>
								<?php if (!$this->getConfig('next_back')) { ?>
								directionNav: false,
								<?php } ?>
								start: function(slider){
									$jq('.loading').css("display","none");
								}
							  });
							});
						</script>
					</div>
</div>
<?php if(!Mage::getStoreConfig('banner7/banner7_config/is_fluid') && Mage::getStoreConfig('banner7/banner7_config/banner_blocks') ) :  ?>
		</div>

			<div class="span3">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('banner_slider_block')->toHtml(); ?>
			</div>
<?php endif ?>

			</div>
		
		
<?php if(!Mage::getStoreConfig('banner7/banner7_config/is_fluid')) : ?>	
	</div>
	</div>

	
<?php endif ?>



<?php if(Mage::getStoreConfig('banner7/banner7_config/is_fluid')) : ?>	
	
	<!-- dynamic styles -->

	<style type="text/css">
		.nav-container { border-bottom: 1px solid #c6c6c7; }
		.pt_custommenu { border: 0px !important; }
	</style>

	
<?php endif ?>



<?php } ?>








