<?php
/**
 * @var $this Mage_Core_Block_Template
 * @var $product Mage_Catalog_Model_Product
 */
$product = Mage::registry('current_product');
?>
<?php if (Mage::helper('onecashmere_catalog')->hasSizeChart($product)): ?>
<div class="product-info-row">
    <a href="#size-chart-anchor">
        <?php echo $this->__('File downloads') ?>
    </a>
</div>
<?php endif; ?>
