<?php
/**
 * @var $this Onecashmere_Catalog_Block_Product_View_SizeFile
 */

?>
<?php if ($this->getChart()): ?>
    <div class="row-fluid size-chart-headline">
        <div class="span12">
            <h2 id="size-chart-anchor"><?= $this->__('Size Info') ?></h2>
            <?= $this->getChildHtml('size.chart.cms.block.description') ?>
        </div>
    </div>
    <div class="row-fluid size-chart-content">
        <div class="span5">
            <?= $this->getChildHtml('size.chart.cms.block') ?>
        </div>
        <div class="span7">
            <table class="size-chart">
                <thead>
                <tr>
                    <th><?= $this->__('Sizes') ?></th>
                    <?php foreach ($this->getFirstLine() as $i => $head): ?>
                        <?php if ($head): ?>
                            <th>
                                <a data-slide-index="<?= $i - 1 ?>"><?= $head ?></a>
                            </th>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->getLines() as $line): ?>
                    <tr>
                        <?php foreach ($line as $info): ?>
                            <td><?= $info ?></td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
<?php endif; ?>
